{% extends 'admin/base.html' %}
{% block title %}Student Details{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{{static ('admin/details/dbtable.css')}}">
    <link rel="stylesheet" href="{{static ('form/form.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock css %}
{% block scripts %}
    <script src="{{static ('admin/details/dbtable.js')}}" charset="utf-8"></script>
    <script src="{{static ('form/form.js')}}" charset="utf-8"></script>
{% endblock scripts %}

{% block content %}
<div class="whole_container" id="whole_container_id">
  <fieldset>
    <legend class="not_login">Add Student</legend>
    <form class="myform" method = "POST">
      {{csrf_input}}
      <div class="input_container">
        {{user_form.first_name}}
      </div>
      <div class="input_container">
        {{user_form.last_name}}
      </div>
      <div class="input_container">
        {{user_form.email}}
      </div>
      <div class="input_container">
        {{user_form.password1}}
        <span id="eye" onclick="visibility1(parent)">
          <i class="fa fa-eye fa-lg" id="hide1" aria-hidden="true"></i>
          <i class="fa fa-eye-slash fa-lg" id="hide2" aria-hidden="true"></i>
        </span>
      </div>
      <div class="input_container">
        {{user_form.password2}}
        <span id="eye" onclick="visibility2(parent)">
          <i class="fa fa-eye fa-lg" id="hide3" aria-hidden="true"></i>
          <i class="fa fa-eye-slash fa-lg" id="hide4" aria-hidden="true"></i>
        </span>
      </div>
      <div class="input_container">
        {{student_detail_form.roll_no}}
      </div>
      {{student_detail_form.Division_id}}
      {{student_detail_form.Batch_id}}
      <div class="submit_button_container">
         <button type="submit" name="button" class="submit_button" onclick="">Submit</button>
      </div>
		</form>

<script>
  var form = document.getElementsByClassName('myform')[0];
  var form_fields = form.getElementsByTagName('input');

  for (var field in form_fields){	
    if (form_fields[field].className != "no_class" && form_fields[field].className != "radio")
    form_fields[field].className += ' form_input';
  }

  form_fields[1].placeholder='First Name';
  form_fields[2].placeholder='Last Name';
  form_fields[3].placeholder='Email';
  form_fields[4].placeholder='Enter password';
  form_fields[4].id = 'myinput1';
  form_fields[5].placeholder='Re-enter Password';
  form_fields[5].id = 'myinput2';
  form_fields[6].placeholder = 'Roll. No.';

</script>
{% endblock %}