/* #region  Main content containing FORM and TABLE */
.main_content,
html {
  background-color: #f1f4f6 !important;
  padding-top: 60px !important;
}

a {
  text-decoration: none !important;
}

.user_dash.main_content,
html {
  background-color: #f1f4f6 !important;
  padding-top: 30px !important;
}

.legend {
  position: absolute;
  top: -18px;
  background-color: transparent;
}

/* #endregion */
/* #region  Form Container */
.form_container .components-section {
  width: 80%;
  margin: 0 auto;
}

/* #endregion */
/* #region  Form Inputs  */
.form-control.myinputs {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 1px solid #ced4da !important;
  border-radius: 0 !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.form-control.myinputs:focus {
  border-bottom: 1px solid #0d6efd !important;
}

.form-control.myinputs:focus + label {
  color: #0d6efd !important;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  margin: 0 !important;
}

.input-group {
  border: none !important;
  border-radius: 0 !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form-control.myinputs:focus {
  outline: none !important;
}

.form-check-input {
  width: 1.5em !important;
  height: 1.56em !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form-floating input[type="time"] {
  width: 100% !important;
}

/* #endregion */
div.dataTables_wrapper div.dataTables_length select {
  width: 80px;
}

/* #region  Subject Colours Styling*/
.color_palette_container {
  width: 100%;
}

.colors {
  height: 50px;
  width: 50px;
  border-radius: 7px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  margin-bottom: 0.6em;
  margin-right: 10px;
  border: none;
}

.colors:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  opacity: 0.8;
  border-radius: 30px;
}

.color_palette_container input {
  display: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* #endregion */
/* #region  Faculty Detail Page Pagination */
.myform .pagination_container nav {
  -webkit-transform: translateX(45%);
          transform: translateX(45%);
}

/* #endregion */
/* #region  Breadcrumbs */
.container.navigate {
  margin-left: 40px !important;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.breadcrumb-item.active a {
  color: #0d6efd !important;
}

/* #endregion */
/* #region  Success Button  */
.btn.btn-outline-success {
  color: #2dce89 !important;
  border-color: #2dce89 !important;
}

.btn.btn-success {
  background-color: #2dce89 !important;
  border-color: #2dce89 !important;
}

.btn.btn.btn-success:hover {
  background-color: #04a55f !important;
  border-color: #04a55f !important;
}

.btn.btn-outline-success:hover {
  background-color: #2dce89 !important;
  color: #fff !important;
}

/* #endregion */
/* #region  Can Teach */
.can_container {
  font-size: 15px;
  position: relative;
  overflow-y: auto;
  height: 250px;
  padding-top: 20px;
  scrollbar-width: thin;
  /* "auto" or "thin" */
  scrollbar-color: #abacad #f1f4f6;
  /* scroll thumb and track */
}

.can_container::-webkit-scrollbar {
  width: 7px !important;
  height: 10px !important;
  background-color: #f1f4f6;
}

.can_container::-webkit-scrollbar-thumb {
  background-color: #abacad !important;
  border-radius: 3px !important;
}

.can_container .form-check {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.can_container .form-check-input {
  height: 20px !important;
  width: 20px !important;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.can_container .form-check label {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.can_container ul {
  border-left: 1px solid red;
  margin-left: 7px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.can_container #branches {
  border-left: none;
}

.can_container .branch {
  margin-top: -15px;
}

.can_container #branches .branch::before {
  content: "";
  position: absolute;
  background-color: black;
  width: 0px;
  height: 0px;
  top: 15px;
  left: -50px;
}

.can_container ul li {
  position: relative;
  list-style: none !important;
}

.can_container ul li::before {
  content: "";
  position: absolute;
  background-color: black !important;
  width: 33px;
  height: 2px;
  top: 10px;
  left: -34px;
}

/* #endregion */
/* #region  For bootstrap Popover info button arrow  */
.popover-arrow {
  display: none !important;
}

/* #endregion */
/* #region Form Accordion Close and Open Button */
.accordion-button {
  padding: 0.5rem 1.25rem !important;
  background-color: transparent !important;
}

.accordion-button::after {
  background-image: url("../admin/details/img/minus.png") !important;
}

.accordion-button.collapsed::after {
  background-image: url("../admin/details/img/plus2.png") !important;
  -webkit-transform: scale(1.7) !important;
          transform: scale(1.7) !important;
}

.accordion-button:not(.collapsed) {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/* #endregion */
/* #region Subject Details <a> tag styling  */
.sub_event_go a {
  color: #0d6efd !important;
}

.sub_event_go a:hover {
  color: #0d31fd !important;
}

/* #endregion */
/* #region  SWAL Styling */
.swal2-container .swal2-modal .swal2-content div ul li {
  list-style-type: none;
}

.swal2-container .swal2-modal .swal2-actions .swal2-cancel {
  margin-right: 10px;
}

/* #endregion */
/* #region  Slot Modal Styling */
.day_line::after {
  content: "";
  position: absolute;
  height: 1px;
  -webkit-transform: translate(-18px, 18px);
          transform: translate(-18px, 18px);
  width: 85px;
  background-color: black;
}

@media screen and (min-width: 576px) {
  #slotModal .modal-dialog {
    max-width: 900px !important;
  }
  #slotModal .modal-footer {
    border-top: none !important;
  }
  #slotModal .modal-header {
    border-bottom: none !important;
  }
  #day1 {
    margin-bottom: 20px;
  }
}

/* #endregion */
/* #region  Mobile Device */
@media screen and (max-width: 600px) {
  .form_container .components-section {
    width: 100%;
    margin: 0 auto;
  }
  .input_icons {
    left: 88%;
    height: 30px !important;
    width: 30px !important;
  }
  .form-check {
    width: 10px;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  tr.child {
    text-align: left;
  }
  .fas.fa-hashtag {
    font-size: 15px !important;
  }
  .myform {
    font-size: smaller;
  }
  .myform .pagination_container nav {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
  .popover-arrow {
    position: absolute;
    left: 0px;
    -webkit-transform: translate3d(143px, 0px, 0px) !important;
            transform: translate3d(143px, 0px, 0px) !important;
  }
}

/* #endregion */
/* #region  Collapsible Can Teach TRY */
ul,
#myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

#myUL .caret {
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}

#myUL .caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

#myUL .caret-down::before {
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari */
  transform: rotate(90deg);
}

#myUL .nested {
  display: none;
}

#myUL .active {
  display: block;
}

/* #endregion */
/*# sourceMappingURL=form2.css.map */