{% extends 'admin/base2.html' %}
{% block title%} Home2
{% endblock %}

{% block css%}

<style>
    td,th{
        font-size: .9rem !important;
    }
</style>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.24/b-1.7.0/fh-3.1.8/r-2.2.7/datatables.min.css"/>
{% endblock %}

{%block scripts%}
<script type="application/javascript" src="{{static ('admin/details/dbtable.js')}}"></script>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.24/b-1.7.0/fh-3.1.8/r-2.2.7/datatables.min.js"></script>
<script type="text/javascript" src="{{ static ('my_ajax_datatable/js/utils.js') }}"></script>

<script type="text/javascript" src="{{ static ('admin/user_dash/user_dash.js') }}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
{% endblock %}

{% block content %}
<div id="del">asdasd</div>
<div class="card border-light shadow-sm mb-4" style="margin-top: 10em;">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded" id="student_details">
            </table>
        </div>
    </div>
</div>
<form method="post">
    <input type="text" name = "first_name">
    <input type="text" name = "last_name">
    <input type="email" name = "email">
    <input type="password1" name = "password1">
    <input type="password2" name = "password2">
    <input type="submit" value="submit">
</form>
{% endblock %}