.select2-container {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  outline: none;
  border: none;
}

/* #region  Single Select2 Style */
.myform .select2_container.single_select2 {
  border-width: 1px;
  width: 100%;
  text-align: center;
  transition: 0s;
}

.select2-container .select2-selection--single {
  border-radius: 40px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 40px;
  font-size: 1em;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  transition: 0s;
}

.select2-search input {
  background-color: #ffffff;
  border-radius: 5px;
  color: black;
  outline: none;
  border: none;
  font-size: 1em;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #ced4da;
}

.select2-dropdown {
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  font-size: smaller;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  z-index: 1061;
  transition: 0s;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  padding-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
  border: none;
  font-size: smaller;
}

.select2-container--default .select2-selection--single {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: black;
  line-height: 28px;
  text-align: center;
  font-size: smaller;
}

.select2-container--default .select2-results__option--selected {
  background-color: #3586f1;
  font-size: smaller;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 46px;
  position: absolute;
  top: -5px;
  right: 3px;
  width: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 9px 8px 0 8px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -4px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 8px 9px 8px;
}

#links option {
  font-size: x-small !important;
}

/* #endregion */
/* #region  Multiple Select2  */
.myform .select2_container.multiple_select2 {
  border-width: 1px;
  width: 100%;
  text-align: center;
  transition: 0s;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
  cursor: default;
  padding-left: 22px;
  padding-right: 5px;
}

.select2-container--default.select2-container--focus.select2-selection--multiple {
  border: 1px solid #ced4da !important;
}

.select2-search.select2-search--inline,
.select2-search.select2-search--inline input {
  display: inline-block;
}

.select2-search.select2-search--inline input:focus {
  border: 1px none !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: transparent !important;
  border: 1px solid #ced4da !important;
  border-radius: 4px !important;
}

.multiple_select2 .select2-selection__rendered {
  border: none !important;
  width: 100% !important;
}

/* #endregion */
/* #region Mobile Devices */
@media screen and (max-width: 600px) {
  #designations,
#day1,
#day2,
#batches,
#slot_naming,
#semesters,
#resources,
#select_fac,
#shifts,
#wef_select,
#csv_select,
#csv_add_update,
#prac_batches,
#lect_batches,
#select_fac,
#select_co_fac {
    width: 100% !important;
    font-size: x-small;
  }

  .select2.select2-container.select2-container--default {
    width: 100% !important;
  }

  .select2.select2-container.select2-container--default.select2-container--below.select2-container--focus {
    width: 100% !important;
  }

  .select2.select2-container.select2-container--default.select2-container--focus,
.select2.select2-container.select2-container--default.select2-container--below {
    width: 100% !important;
  }
}
/* #endregion */
/* #region  Medium devices */
@media screen and (max-width: 1366px) and (min-width: 601px) {
  #designations,
#day1,
#day2,
#batches,
#slot_naming,
#semesters,
#resources,
#batch_for_lect,
#batch_for_prac,
#links,
#division,
#department,
#wef_select {
    width: 300px !important;
  }

  #shifts {
    width: 300px !important;
  }

  #select_fac,
#csv_select,
#csv_select_update,
#csv_add_update,
#select_co_fac,
#prac_batches,
#lect_batches {
    width: 300px !important;
  }
}
/* #endregion */
/* #region  Larger devices > 1025px */
@media screen and (max-width: 1700px) and (min-width: 1367px) {
  #designations,
#batches,
#slot_naming,
#semesters,
#resources,
#batch_for_lect,
#batch_for_prac,
#links,
#division,
#department,
#wef_select,
#shifts,
#select_fac,
#csv_select,
#csv_select_update,
#csv_add_update,
#select_co_fac,
#prac_batches,
#lect_batches {
    width: 500px !important;
  }

  #day1, #day2 {
    width: 300px !important;
  }
}
/* #endregion *//*# sourceMappingURL=myselect2.css.map */