{% extends 'Faculty/base.html' %} {% block title %} Attendance {% endblock %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.10.25/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/keytable/2.6.2/css/keyTable.bootstrap5.min.css"/>
{% block scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.10.25/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/keytable/2.6.2/js/dataTables.keyTable.min.js"></script>
<script>
	jQuery(function () {
		let table = $("#example").DataTable({keys : true});
	});
</script>
{% endblock %} {% block content %}
<div class="container-fluid pt-4 mt-5">
	<div class="container-fluid p-2 table_container">
		<div class="card shadow-sm mb-4 p-2 components-section" style="border-radius: 1rem">
			<div class="card-body" style="border-radius: 1rem">
				<div class="row text-center">
					<div class="col-lg-12 col-sm-12">
						<div class="h3 text-center">Attendance</div>
						<a style="display: none" id="del" onclick="delete_entries()">
							<img class="input_icons" src="{{static ('admin/details/img/trash.png')}}" alt="Delete" />
						</a>
					</div>
				</div>
				<div class="table">
					<table class="table nowrap responsive compact mb-0 rounded text-center" id="example">
						<thead class="thead-light">
							<tr>
								<th class="border-0"><i class="fas fa-hashtag"></i></th>
								<th class="border-0">Student</th>
								<th class="border-0 fw-bold">Event-1</th>
								<th class="border-0 fw-bold">Event-2</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="border-0 fw-bold">1</td>
								<td class="border-0 fw-bold"><a href="">Yogesh</a></td>
								<td class="border-0 fw-bold">input</td>
								<td class="border-0 fw-bold"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}