{%extends 'Faculty/navbar.html'%}
{%block navbar_starts%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% block title %} {% endblock %} | Horarium</title>
	{# title block for printing the name of the page  #}
	<!-- css here -->
	<link id="light" rel="stylesheet" href="{{static ('student/Student_light.css')}}" disabled=true/>
	<link id="dark" rel="stylesheet" href="{{static ('student/Student_dark.css')}}"  />
    <link type="text/css" rel="stylesheet" href="{{static ('student/navbar/theme-toggler.css')}}" />
    <link rel="stylesheet" href="{{static ('admin/navbar/navbar.css') }}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	<link type="text/css" rel="stylesheet" href="{{static ('AOS/aos.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{static ('student/progress/progress_bar.css')}}" />
	<link type="text/css" rel="preconnect" href="https://fonts.gstatic.com">
	<link type="text/css" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
	<style> 
        .gixi {
          display: inline-block;
          background-repeat: no-repeat;
          background-position: center center;
          margin: 0px 5%;
          width: 20px;
          height: 20px;
        }
		body {
			overflow-x: hidden !important;
		}
        </style>
	{% block css %} 
	{% endblock %} 
</head>
<body>
{%endblock%}

{%block navbar_ends%}
{% block content %}

{% endblock %}
{# content block for the main contents of the body #}

  <div class="offcanvas feedback_panel offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel">
        <nav class="for-feedback-and-sticky">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
			<span class="span nav-link active mr-1" id="sticky_notes-tab" data-bs-toggle="tab" data-bs-target="#sticky_note" type="button" role="tab" aria-controls="nav-home" >Notes <span class="badge bg-primary new">New</span></span>
          </div>
        </nav>
      </h5>
      <button type="button" id="closer" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="tab-content" id="nav-tabContent"  style="overflow-y: auto;">
		<div class="tab-pane fade show active" id="sticky_note" role="tabpanel" aria-labelledby="sticky_notes-tab">
			<div class="offcanvas-body" >
				<!-- cards go here -->
				<form id="sticky_note_form" method = "get" >
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 mt-2">
							<div class="form-floating mb-3">
								<input type="text" class="form-control myinputs" id="title_input" placeholder="-" name="title_input" autocomplete="off">
								<label for="title_input" >Title</label>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12">
							<!-- <div class="form-floating mb-3">
								<input type="text" class="form-control myinputs" id="body_input" placeholder="-" name="body_input">
								<label for="body_input" >Body</label>
							</div> -->
							<div class="form-floating mb-3">
								<textarea class="form-control textarea" style="height: 80%" placeholder="Leave your note here" id="body_input" name="body_input" autocomplete="off"></textarea>
								<label for="body_input">Leave your note here</label>
							  </div>
						</div>
						<div class="container text-center">
							<button type="submit" class="btn btn-success w-75">Save Note</button>
						</div>
					</div>
				</form>
				<div id="sticky_notes_body" class="sticky_notes_body">
				
				</div>
			</div>
		</div>
    </div>
  </div>
  
</body>
<!-- scripts here -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script type="application/javascript" src="{{static ('student/navbar/navbar.js')}}"></script>
<script type="text/javascript" src="{{static ('try/gixi-min.js')}}"></script>
<script type="application/javascript" src="{{static ('AOS/aos.js')}}"></script>	
<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="application/javascript" src="{{static ('cookie.min.js')}}"></script>
<script>
    $(function (){
		$('.user_icon').each(function() {
			$(this).gixi();
		});
	})
</script>
<script type="application/javascript" src="{{static ('student/sticky_note.js')}}"></script>
{% block scripts %}
{% endblock %}
{# script block for all the scripts of the page #}
</html>
{% endblock %}
