{%extends 'Faculty/navbar.html'%}
{%block navbar_starts%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% block title %} {% endblock %} | Horarium</title>
	{# title block for printing the name of the page  #}
	<!-- css here -->
	<link id="light" rel="stylesheet" href="{{static ('student/Student_light.css')}}" disabled=true/>
	<link id="dark" rel="stylesheet" href="{{static ('student/Student_dark.css')}}"  />
    <link type="text/css" rel="stylesheet" href="{{static ('student/navbar/navbar.css')}}" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
	<link type="text/css" rel="stylesheet" href="{{static ('AOS/aos.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{static ('student/progress/progress_bar.css')}}" />
	<link type="text/css" rel="preconnect" href="https://fonts.gstatic.com">
	<link type="text/css" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap')}}" rel="stylesheet"/>
	<link type="text/css" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
	
	{% block css %} 
	{% endblock %} 
</head>
<body>
{%endblock%}

{%block navbar_ends%}
{% block content %}

{% endblock %}
{# content block for the main contents of the body #}
</body>
<!-- scripts here -->
<script type="application/javascript" src="{{static ('jquery.js')}}"></script>
<!-- <script type="application/javascript" src="{{static ('BootStrap/bootstrap.min.js')}}"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script type="application/javascript" src="{{static ('student/navbar/navbar.js')}}"></script>
<script type="application/javascript" src="{{static ('AOS/aos.js')}}"></script>	
<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous"></script>
{% block scripts %}
{% endblock %}
{# script block for all the scripts of the page #}
</html>
{% endblock %}
