{% block draw_chart %}
{%block css%}
<style type="text/css">
    *{
        font-family: 'Poppins', sans-serif !important;
    }
    canvas.bar_styling {
        min-width: 70vw !important;
        min-height: 70vh !important;
        max-height: 70vh !important;
        max-width: 80vw !important;
		margin: 0 auto !important;
    }
    .chartjs-render-monitor {
    animation: chartjs-render-animation 0s;
  }
  .chartjs-size-monitor-expand > div {
      max-width: 80vw !important;
      max-height: 70vw !important;
      transition: 0s !important;
    }
    .feedback_question_button {
        position: fixed !important;
        top : 25%;
        left : 1%;
        transform: translate(-25%,-1%);
        z-index : 100;
    }
</style>
{% endblock %}
{% block scripts %}
<!-- <script src="https://kit.fontawesome.com/3999aa88c0.js" crossorigin="anonymous"></script> -->
{%endblock %}
<div class="container-fluid pt-4 mt-3">
    <button type="button" class="btn btn-primary feedback_question_button" data-bs-toggle="modal" data-bs-target="#exampleModal">
        ?
      </button>
  <!-- <canvas id="month_rating"></canvas>
    <canvas id="week_rating"></canvas>
    <canvas id="day_rating" ></canvas>

    <canvas id="month_response"></canvas>
    <canvas id="week_response"></canvas>
    <canvas id="day_response"></canvas> -->

  {% for event in subject_events %}
  <div class="container-fluid charts_container">
    <!-- #region Day Rating Chart -->
    <div class=" row day_rating_{{event.pk}}">
      <div class="col-lg-2 col-md-12 col-sm-12 text-center">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Daily Ratings</h5>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <p class="card-text mt-1">The day to day ratings are shown in the graph</p>
            <button class="btn-primary btn mt-1" id="show_week__{{event.pk}}">Monthy View</button>
          </div>
        </div>
      </div>
      <div class="chart col-lg-10 col-md-12 col-sm-12" style="position: relative">
        <div class="card mb-5">
          <div class="card-title mt-2">
            <span class="h4">Ratings For {{event.Subject_id}} </span>
          </div>
          <div class="card-body">
            <canvas id="day_rating__{{event.pk}}" class="bar_styling"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- #endregion -->
    <!-- show_week clicked -> show week_rating chart -->

    <!-- #region Week Rating Chart -->
    <div class=" row week_rating_{{event.pk}}" style="display: none">
      <div class="col-lg-2 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">The Monthy Ratings</h5>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <p class="card-text mt-1">Click on any week's bar to get the detailed ratings!</p>
            <!-- <a href="#" class="card-link">Another link</a> -->
            <button class="btn-primary btn mt-1" id="show_semester__{{event.pk}}">Semester View</button>
          </div>
        </div>
      </div>
      <div class="chart col-lg-10 col-md-12 col-sm-12" style="position: relative">
        <div class="card mt-2 mb-5">
          <div class="card-title mt-2">
            <span class="h4">Ratings For {{event.Subject_id}} </span>
          </div>
          <div class="card-body">
            <canvas id="week_rating__{{event.pk}}" class="bar_styling" style="width: 80%"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- #endregion -->

    <!-- #region Month Rating Chart -->
    <div class="row month_rating_{{event.pk}}" style="display: none">
      <div class="col-lg-2 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">The Yearly Ratings</h5>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <p class="card-text mt-1">Click on any month's bar to get the detailed ratings!</p>
          </div>
        </div>
      </div>
      <div class="chart col-lg-10 col-sm-12 table-responsive" style="position: relative">
        <div class="card mt-2 mb-3">
          <div class="card-title mt-2">
            <span class="h4">Ratings For {{event.Subject_id}} </span>
          </div>
          <div class="card-body">
            <canvas id="month_rating__{{event.pk}}" class="bar_styling" style="width: 80%"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- #endregion -->
<hr>
    <!-- #region Polar And Radar Chart -->
    <div class="row mb-5">
      <div class="chart col-lg-5 col-md-12 col-sm-12 p-0" style="position: relative">
        <div class="card mt-2 mb-2">
          <div class="card-title mt-1">
            <span class="h6">Needs improvement in following questions</span>
          </div>
          <div class="card-body" style="margin-top: -30px">
            <canvas id="improvement__{{event.pk}}" style="width: 646px; max-height: 350px"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-0 col-sm-0 p-0"></div>
      <div class="chart col-lg-5 col-md-12 col-sm-12 p-0" style="position: relative">
        <div class="card mt-2 mb-2">
          <div class="card-title mt-1">
            <span class="h6">Progress in all areas</span>
          </div>
          <div class="card-body" style="margin-bottom: 30px">
            <canvas id="progress__{{event.pk}}" style="width: 746px; height: 450px; margin-top: -30px"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- #endregion -->
<hr>
    <!-- #region Mandatory Feedbacks Chart -->
	{% if my_types[event.pk]%}
		<div class="row">
		<div class="col-12">
			<div id="mandatory_feedback_carousal" class="carousel carousel-dark slide" style="margin: 0 auto">
			<div class="carousel-indicators">
				{% for feedback_type in my_types[event.pk] %}
					<button type="button" data-bs-target="#mandatory_feedback_carousal"
							data-bs-slide-to="{{loop.index - 1}}" aria-label="Slide {{loop.index}}"
							{% if loop.index == 1 %}
								class="active" aria-current="true"
							{% endif %}
					>
					</button>
				{% endfor %}
			</div>
				<div class="carousel-inner">
				{% for feedback_type in my_types[event.pk] %}
					<div class="carousel-item {% if loop.index == 1 %}active{% endif %}" data-bs-interval="false">
						<div class="card mt-2 mb-5" style="border-radius: 20px">
							<div class="card-title mt-2 text-center">
								<div class="row pt-3">
									<div class="col-lg-10 col-sm-12 col-md-12">
										<span class="h4">Feedback For {{feedback_type.name}}</span>
									</div>
									<div class="col-lg-2 col-sm-12 col-md-12">
										{% if feedback_type.active == 0 %}
											<button class="btn btn-outline-success">Active &nbsp; <i class="fas fa-circle"></i></button>
										{% else %}
											<button class="btn btn-outline-danger">Completed &nbsp; <i class="fas fa-circle"></i></button>    
										{% endif %}
									</div>
								</div>
							</div>
							<div class="card-body text-center" style="position: relative; margin: 0 auto">
								<canvas id="mandatory_feedback__{{feedback_type.pk}}" class="bar_styling"></canvas>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#mandatory_feedback_carousal" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#mandatory_feedback_carousal" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
			</div>
		</div>
		</div>
	{% endif %}
    <!-- #endregion -->
  </div>
  {% endfor %}
  <!--<div class="container-fluid question_card text-left mb-3">
    <div class="card questions">
      <div class="card-header" style="font-weight :bold;">
        Feedback Questions
      </div>
      <div class="card-body">
        {%for ques in questions %}
        <div class="h6" style="font-weight :bold;">Q{{loop.index}}. {{ques}}.</div>
        {%endfor%}
      </div>
    </div>
  </div>-->
  <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Show all questions</button> -->

  <!-- #region Feedback Questions -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container-fluid question_card text-left mb-3">
            <div class="card questions" style="background-color:transparent">
              <div class="card-header" style="font-weight: bold">Feedback Questions</div>
              <div class="card-body">
                {%for ques in questions %}
                    <div class="h6" style="font-weight: bold">Q{{loop.index}}. {{ques}}.</div>
                {%endfor%}
                <div class="container p-0">
                    <button type="button" class="btn btn-danger w-100" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- #endregion -->
</div>

{%endblock%}
