{% extends 'Faculty/base.html' %}
{% block title %} Faculty {% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{static ('admin/details/select2/select2.css')}}" />
<link type="text/css" rel="stylesheet" href="{{static ('admin/details/select2/myselect2.css')}}" />
{% endblock css %}
{% block scripts %}
<script type="application/javascript" src="{{static ('faculty/event.js')}}"></script>
<script type="application/javascript" src="{{static ('select2.js')}}"></script>

<script>
  put_events({{ events_json | safe}}, {{ break_json | safe}});

  $(document).ready(function () {
});


</script>
{% endblock %}
{% block content %}
<div class="container-fluid pt-4 mt-5 faculty">
	<div class="timeline_and_text">
		<div id="myProgress" class="container text-center" data-aos="fade-in" data-aos-duration="1000">
			<div id="ct" style="white-space: nowrap;text-align:right"></div>
			<div id="round_ct" style=""></div>
			<div id="myBar"></div>
		</div>
		<div class="container text-center p-2 h5" id="text" id="text" data-aos="fade-in" data-aos-duration="1500"></div>
		<div class="container text-center p-2 h5" id="text2" data-aos="fade-up" data-aos-duration="2000"></div>
	</div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 pt-3" data-aos="fade-down" data-aos-duration="2500">
      <table id="t1" class="table">
        <thead>
          <tr>
            <th>Time</th>
            {% for day in days %}
            <th>
              {{day.Days_id}}
            </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {%set before=[]%}
          {% for timing in timings %}
          <!--for all time periods in database-->
          <tr>
            {% if timing.is_break %}
            <th class="align-middle">
              {{timing.name}}<br>
              [{{timing.return_time()}}]
            </th>
            {% set len = days|length %}
            <th colspan="{{len}}" class="isBreak align-middle" break_id="{{timing.id}}">
              <span class="h4">{{timing.name}}</span>
            </th>
            {% else %}
            <th class="align-middle">
              {{timing.name}}<br>
              [{{timing.return_time()}}]
            </th>
            {% for day in days %}
              {% if day not in before %}
                {% set temp_event={'a':None} %}
                {% for event in events %}
                  {% if event.Slot_id.day == day and event.Slot_id.Timing_id == timing %}
                    {% set _ = temp_event.update({'a':event}) %}
                  {% endif %}
                {% endfor %}
                {% if temp_event.a %}
                <!-- if there is an event-->
                {% if temp_event.a.Slot_id_2 %}
                <!-- if there is practical event-->
                {% set _ = before.append(day) %}
                <td class= "td_gone align-middle" rowspan="2" event_id = "{{temp_event.a.id}}">
                  <div class="card p-lg-1 p-sm-0 p-md-0" id="prac">
					{% if temp_event.a.Batch_id %}
						<div class="col-12 batch-name">
							<span>{{temp_event.a.Batch_id}}</span>
						</div>
					{% endif %}
                    <button class="btn mr-lg-2 ml-lg-2 mt-lg-1 mb-lg-1 mr-sm-1 ml-sm-2 mt-sm-1 mb-sm-0"
                      style="background-color: {{temp_event.a.Subject_event_id.Subject_id.color}}"
                      onclick="{% if temp_event.a.link %}open_page_link('{{temp_event.a.link}}',{{temp_event.a.id}},true){% endif %}"
                      >
                      {{temp_event.a.Subject_event_id.Subject_id}}
                    </button>
                    <div class="row">
                      <div class="col-lg-6 col-xs-12 col-sm-12 col-md-12 division-name">
                        <span>{{temp_event.a.Division_id}}</span>
                      </div>
                      {%if temp_event.a.Resource_id %}
                        <div class="col-lg-6 col-xs-12 col-sm-12 col-md-12 resource-name">
                          <span>{{temp_event.a.Resource_id}}</span>
                        </div>
                      {%endif%}
                    </div>
                  </div>
                </td>
                {% else %}
                <!-- if there is lecture event-->
                <td class = "td_gone align-middle" event_id = "{{temp_event.a.id}}">
                  <div class="card p-lg-1 p-sm-0 p-md-0" id="lect">
				  	{% if temp_event.a.Batch_id %}
						<div class="col-12 batch-name">
							<span>{{temp_event.a.Batch_id}}</span>
						</div>
					{% endif %}
                    <button class="btn mr-lg-2 ml-lg-2 mt-lg-1 mb-lg-1 mr-sm-1 ml-sm-2 mt-sm-1 mb-sm-0"
                      style="background-color: {{temp_event.a.Subject_event_id.Subject_id.color}}"
                      onclick="{% if temp_event.a.link %}open_page_link('{{temp_event.a.link}}',{{temp_event.a.id}},true){% endif %}"
					>
                      {{temp_event.a.Subject_event_id.Subject_id}}
                    </button>
                    <div class="row">
                      <div class="col-lg-6 col-xs-12 col-sm-12 col-md-12 division-name">
                        <span>{{temp_event.a.Division_id}}</span>
                      </div>
                      {%if temp_event.a.Resource_id %}
                        <div class="col-lg-6 col-xs-12 col-sm-12 col-md-12 resource-name">
                          <span>{{temp_event.a.Resource_id}}</span>
                        </div>
                      {%endif%}
                    </div>
                  </div>
                </td>
              {% endif %}
              {% else %}
              <!-- if there is no event-->
              <td></td>
              {% endif %}
              {% else %}
              {% set _ = before.pop(before.index(day))%}
              {% endif %}
            {% endfor %}
            {% endif %}
          </tr>


          {% endfor %}
        </tbody>
      </table>
	<div class="container-fluid text-center">
		<button class="btn btn-primary mt-2 w-75" onclick="window.open('print_faculty/{{faculty_detail.pk}}/','_self')">
			Print Table
		</button>
	</div>
    </div>
    <!-- <div class="col-lg-3 col-md-12 col-sm-12 pt-3" data-aos="fade-left" data-aos-duration="1000">
      <div class="card" id="agenda_panel">

        <a class="nav-item nav-link" style="text-decoration:underline" >Agenda</a>
        <div class="container mt-3">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse
          nisi praesentium placeat hic eum dolorem, sunt repellendus beatae
          et enim odio ea, assumenda quod mollitia maxime aspernatur a
          minima laborum.
        </div>
        <div class="container mt-3">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse
          nisi praesentium placeat hic eum dolorem, sunt repellendus beatae
          et enim odio ea, assumenda quod mollitia maxime aspernatur a
          minima laborum.
        </div>
        <div class="form-group container" style="border:none;outline:none">
          <label for="exampleFormControlTextarea1">Agenda </label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  style="border: 1px solid #333;"></textarea>
        </div>
      </div>
    </div> -->

	
</div>
<!-- #region Context-menu on right click -->
<ul class="dropdown-menu custom-menu">
  <li><a class="dropdown-item second" href="#" data-bs-toggle="modal" data-bs-target="#change_event_settings_modal">Change Settings</a></li>
</ul>
<!-- #endregion -->

  <!-- #region Modal for Changing Link -->
  <div class="modal fade" id="change_event_settings_modal" tabindex="-1" aria-labelledby="change_event_settings_modal" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h6 class="modal-title" id="change_modal_label">Event Settings</h6>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="form-floating mb-3">
				<input type="text" class="form-control" id="change_link" name="change_link" placeholder="https://www.google.com">
				<label for="change_link">Link</label>
			</div>
			<div class="container text-center">
			<div class="select2_container single_select2 mt-4">
				<select name="change_resource" id="change_resource" required>
					<option disabled selected>Change Resource</option>
					<option value=405"">405</option>
					<option value="306">306</option>
				</select>
			</div>
			</div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
		</div>
	  </div>
	</div>
  </div>
  <!-- #endregion -->
  
{% endblock %}