{% extends 'Faculty/base.html' %}
{% block title %} Faculty {% endblock %}

{% block scripts %}
<script type="application/javascript" src="{{static ('student/event.js')}}"></script>

<script>
  put_events({{ events_json | safe}}, {{ break_json | safe}});
</script>
{% endblock %}
{% block content %}
<div class="container-fluid pt-4 mt-5">
    <div id="myProgress" class="container text-center" data-aos="fade-in" data-aos-duration="1000">
    <div id="ct"></div>
    <div id="myBar"></div>
  </div>
    <div class="container text-center p-2 h5" id="text" id="text" data-aos="fade-in" data-aos-duration="1500"></div>
    <div class="container text-center p-2 h5" id="text2" data-aos="fade-up" data-aos-duration="2000"></div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 pt-3" data-aos="fade-down" data-aos-duration="2500">
      <table id="t1" class="table">
        <thead>
          <tr>
            <th>Time</th>
            {% for day in days %}
            <th>
              {{day.Days_id}}
            </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {%set before=[]%}
          {% for timing in timings %}
          <!--for all time periods in database-->
          <tr>
            {% if timing.is_break %}
            <th class="align-middle">
              {{timing.name}}<br>
              [{{timing.return_time()}}]
            </th>
            {% set len = days|length %}
            <th colspan="{{len}}" class="isBreak align-middle" break_id="{{timing.id}}">
              <span class="h4">{{timing.name}}</span>
            </th>
            {% else %}
            <th class="align-middle">
              {{timing.name}}<br>
              [{{timing.return_time()}}]
            </th>
            {% for day in days %}
              {% if day not in before %}
                {% set temp_event={'a':None} %}
                {% for event in events %}
                  {% if event.Slot_id.day == day and event.Slot_id.Timing_id == timing %}
                    {% set _ = temp_event.update({'a':event}) %}
                  {% endif %}
                {% endfor %}
                {% if temp_event.a %}
                <!-- if there is an event-->
                {% if temp_event.a.Slot_id_2 %}
                <!-- if there is practical event-->
                {% set _ = before.append(day) %}
                <td class= "td_gone align-middle" rowspan="2" event_id = "{{temp_event.a.id}}">
                  <div class="card p-lg-1 p-sm-0 p-md-0" id="prac">
						<div class="col-12" style="text-align:left">
							<span>{{temp_event.a.Batch_id}}</span>
						</div>
                    <button class="btn mr-lg-2 ml-lg-2 mt-lg-1 mb-lg-1 mr-sm-1 ml-sm-2 mt-sm-1 mb-sm-0"
                      style="background-color: {{temp_event.a.Subject_event_id.Subject_id.color}}"
                      onclick = "window.open('{{temp_event.a.link}}', '_blank')"
                      >
                      {{temp_event.a.Subject_event_id.Subject_id}}
                    </button>
                    <div class="row">
                      <div class="col-lg-6 col-xs-12 col-sm-12 col-md-12"style="text-align:left">
                        <span>{{temp_event.a.Division_id}}</span>
                      </div>
                      {%if temp_event.a.Resource_id %}
                        <div class="col-lg-6 col-xs-12 col-sm-12 col-md-12">
                          <span>{{temp_event.a.Resource_id}}</span>
                        </div>
                      {%endif%}
                    </div>
                  </div>
                </td>
                {% else %}
                <!-- if there is lecture event-->
                <td class = "td_gone align-middle" event_id = "{{temp_event.a.id}}">
                  <div class="card p-lg-1 p-sm-0 p-md-0" id="lect">
					<div class="col-12" style="text-align:left">
						<span>Batch</span>
					</div>
                    <button class="btn mr-lg-2 ml-lg-2 mt-lg-1 mb-lg-1 mr-sm-1 ml-sm-2 mt-sm-1 mb-sm-0"
                      style="background-color: {{temp_event.a.Subject_event_id.Subject_id.color}}"
                      onclick = "window.open('{{temp_event.a.link}}', '_blank')">
                      {{temp_event.a.Subject_event_id.Subject_id}}
                    </button>
                    <div class="row">
                      {%if temp_event.a.Resource_id %}
                        <div class="col-lg-6 col-xs-12 col-sm-12 col-md-12">
                          <span>{{temp_event.a.Resource_id}}</span>
                        </div>
                      {%endif%}
                      <div class="col-lg-6 col-xs-12 col-sm-12 col-md-12">
                        <span>{{temp_event.a.Subject_event_id.Faculty_id}}</span>
                      </div>
                    </div>
                  </div>
                </td>
              {% endif %}
              {% else %}
              <!-- if there is no event-->
              <td></td>
              {% endif %}
              {% else %}
              {% set _ = before.pop(before.index(day))%}
              {% endif %}
            {% endfor %}
            {% endif %}
          </tr>


          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- <div class="col-lg-3 col-md-12 col-sm-12 pt-3" data-aos="fade-left" data-aos-duration="1000">
      <div class="card" id="agenda_panel">

        <a class="nav-item nav-link" style="text-decoration:underline" >Agenda</a>
        <div class="container mt-3">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse
          nisi praesentium placeat hic eum dolorem, sunt repellendus beatae
          et enim odio ea, assumenda quod mollitia maxime aspernatur a
          minima laborum.
        </div>
        <div class="container mt-3">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse
          nisi praesentium placeat hic eum dolorem, sunt repellendus beatae
          et enim odio ea, assumenda quod mollitia maxime aspernatur a
          minima laborum.
        </div>
        <div class="form-group container" style="border:none;outline:none">
          <label for="exampleFormControlTextarea1">Agenda </label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  style="border: 1px solid #333;"></textarea>
        </div>
      </div>
    </div> -->
  </div>

  <div class="offcanvas feedback_panel offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel">
        <nav class="for-feedback-and-sticky">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
			<span class="span nav-link active mr-1" id="sticky_notes-tab" data-bs-toggle="tab" data-bs-target="#sticky_note" type="button" role="tab" aria-controls="nav-home" >Notes <span class="badge bg-primary new">New</span></span>
          </div>
        </nav>
      </h5>
      <button type="button" id="closer" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="tab-content" id="nav-tabContent"  style="overflow-y: auto;">
		<div class="tab-pane fade show active" id="sticky_note" role="tabpanel" aria-labelledby="sticky_notes-tab">
			<div class="offcanvas-body" >
				<!-- cards go here -->
				<form id="sticky_note_form" method = "get" >
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 mt-2">
							<div class="form-floating mb-3">
								<input type="text" class="form-control myinputs" id="title_input" placeholder="-" name="title_input">
								<label for="title_input" >Title</label>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12">
							<!-- <div class="form-floating mb-3">
								<input type="text" class="form-control myinputs" id="body_input" placeholder="-" name="body_input">
								<label for="body_input" >Body</label>
							</div> -->
							<div class="form-floating mb-3">
								<textarea class="form-control textarea" style="height: 80%" placeholder="Leave your note here" id="body_input" name="body_input"></textarea>
								<label for="body_input">Leave your note here</label>
							  </div>
						</div>
						<div class="container text-center">
							<button type="submit" class="btn btn-success w-75">Save Note</button>
						</div>
					</div>
				</form>
				<div id="sticky_notes_body" class="sticky_notes_body">

				</div>
			</div>
		</div>
    </div>
  </div>
  
{% endblock %}