{% extends 'Faculty/base.html' %}
{% block title %} Faculty {% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script type="application/javascript" src="{{static ('faculty/feedback.js')}}"></script>

<script>
  put_data({{ data| safe}});
  $(document).ready(function () {
    /*var offset = $("#month_response").offset();
      $('html, body').animate({
          scrollTop: offset.top,
          scrollLeft: offset.left
      }, 1000);*/
  });
</script>
{% endblock %}
{% block content %}
<div class="container-fluid pt-0">
  <!-- <canvas id="month_rating"></canvas>
  <canvas id="week_rating"></canvas>
  <canvas id="day_rating" ></canvas>

  <canvas id="month_response"></canvas>
  <canvas id="week_response"></canvas>
  <canvas id="day_response"></canvas> -->

  <div class="container-fluid charts_container">
    <div class="row month_rating">
      <div class="col-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="col-10">
        <canvas id="month_rating" style="height:70vh;width:80%;""></canvas>
      </div>
    </div>
    <div class=" row month_response" style="margin-top:1500px;">
          <div class="col-2 text-center">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
                <button class="btn-primary btn" id="show_parent">GO up</button>
              </div>
            </div>
          </div>
          <div class="col-10">
            <canvas id="week_rating" style="height:70vh;width:80%;"></canvas>
          </div>
      </div>

    </div>

    <div class="container-fluid charts_container">
      <div class="row month_response">
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        <div class="col-10">
          <canvas id="month_response" style="height:70vh;width:80%;""></canvas>
        </div>
      </div>
      <div class=" row month_response" style="margin-top:1500px;">
            <div class="col-2 text-center">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                  <button class="btn-primary btn" id="show_parent1">GO up</button>
                </div>
              </div>
            </div>
            <div class="col-10">
              <canvas id="week_response" style="height:70vh;width:80%;"></canvas>
            </div>
        </div>
  
      </div>
  </div>
  {% endblock %}