{%block navbar_starts%} {%endblock%}  
<!-- content here -->
<div class="nav_container">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="">
        <div class="container-fluid">
          <a href="{{url ('faculty_home')}}" class="navbar-brand" style="font-family:'Poppins',sans-serif">
            Horarium
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{url ('faculty_feedback')}}">Feedbacks</a>
                </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{request.user}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a href = "{{url ("faculty_settings")}}" class="dropdown-item">{{request.user}}</a>
                  </li>
                  <li>
                    <div class="container" id="theme_toggler">
                        <label id="switch" class="switch">
                          <input type="checkbox" onchange="toggle_theme()" id="slider1">
                          <span class="slider round"></span>
                        </label>
                      </div>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a href="{{url ('logout')}}" class="dropdown-item" >Log Out</a></li>
                </ul>
              </li>
              <li class="nav-item ml-1">
                <span class="gixi user_icon" data-gixisize="20" data-gixiseed="{{request.user}}_{{request.user.pk}}"></span>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
{%block navbar_ends%} {%endblock%}