.table_container {
  /* display: grid; */
  padding-top: 2em;
  height: auto;
  width: 100%;
  text-align: center;
}

.table_container h1 {
  text-align: center;
  color: white;
  font-size: 25px;
}

.table_search_box {
  padding: 10px 0px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* text-align: right; */
}

#db_table, #myTable {
  font-size: 17px;
  background-color: #222235;
  border-collapse: collapse;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  position: relative;
  text-align: center;
  -webkit-box-shadow: -3px -1px 41px -13px black;
  box-shadow: -3px -1px 41px -13px black;
}

#db_table tr, #myTable tr {
  background-color: #2d2d41;
  border-radius: 10px;
  -webkit-transition: .1s;
  transition: .1s;
}

#db_table tr:nth-child(even), #myTable tr:nth-child(even) {
  background-color: #242435a9;
  border-radius: 10px;
}

.delete_panel {
  width: 100%;
  background-color: green;
  padding: 11px  0px 11px 0px;
  margin: 11px 0px 11px 0px;
  background-color: #222235;
  position: relative;
  -webkit-box-shadow: -3px -1px 41px -13px black;
  box-shadow: -3px -1px 41px -7px black;
  border-radius: 10px;
}

.delete_panel a {
  right: 1%;
  top: 25%;
  position: absolute;
}

#db_table thead tr th, #myTable thead tr th {
  padding: 11px;
  margin: 11px;
  -webkit-transition: .1s;
  transition: .1s;
  position: -webkit-sticky;
  position: sticky;
  font-weight: bold;
  /*font-size: 16px;*/
  top: 0;
  position: sticky;
  background-color: #1b1b29;
}

#db_table td {
  padding: 11px;
  margin: 11px;
  /*font-size: 16px;*/
}

#myTable td {
  padding: 0;
  margin: 11px;
}

#db_table tr:hover, #myTable tr:hover {
  background-color: #1b1b2b;
  -webkit-transition: .1s;
  transition: .1s;
}

#myinput {
  position: relative;
  font-size: 20px;
  width: 30px;
  height: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  padding: 5px 0px 5px 30px;
  background-color: #f7a096;
  color: white;
  border: none;
  border-radius: 30px;
  -webkit-box-shadow: -3px -1px 41px -13px black;
  box-shadow: -3px -1px 41px -13px black;
}

::-webkit-input-placeholder {
  color: #222235;
}

:-ms-input-placeholder {
  color: #222235;
}

::-ms-input-placeholder {
  color: #222235;
}

::placeholder {
  color: #222235;
}

#myinput:focus {
  width: 170px;
  padding: 10px 0px 10px 22px;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 3px;
  -webkit-box-shadow: -3px -1px 41px -13px black;
  box-shadow: -3px -1px 41px -13px black;
  color: black;
}

.action_icons {
  display: inline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 5px;
  height: 25px;
  width: 25px;
}

.action_icons:hover {
  opacity: 0.7;
}

.toggler_container input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.toggler_container input[type="checkbox"]:focus {
  outline: 0;
}

.toggler_container .toggle {
  height: 32px;
  width: 52px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 0;
  border: 2px solid #f02929;
  background: -webkit-gradient(linear, left top, left bottom, from(#2D2F39), to(#1F2027));
  background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.toggler_container .toggle:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  -webkit-box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
          box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}

.toggler_container .toggle:checked {
  border-color: #46f140;
}

.toggler_container .toggle:checked:after {
  -webkit-transform: translatex(20px);
          transform: translatex(20px);
}
/*# sourceMappingURL=dbtable.css.map */