td {
	background-color: transparent;
}
.not_avail_ckb{
	display: none;
	appearance: none;
}
.main_container {
	display: grid;
	grid-template-columns: 30% 80%;
	
}
.main_table{
	border-collapse: collapse;
	overflow-x: auto;
	/* margin-top: 10vh; */
	text-align: center;
	margin: 1em 1em 1em auto;
	/* margin-right: 10px; */
	/* margin-left: auto; */
	table-layout: fixed;
}

.main_table th,.main_table td{
	table-layout: fixed;
	/* border: 2.5px solid #e87a00; */
	border: 2.5px solid #fff;
	/* height: 55px; */
	color: white;
}
.main_table td {
	position: relative;
}
.table_time{
	font-size: 14px;
	text-align: center;
}
.td_div {
    padding: 10% 0%;
	margin: 0% 5%;
	border-radius: 10px;
}
.save{
	width: 140px;
	height: 40px;
	color: white;
	font-size: 15px;
	border-radius: 10px;
	background-color: #9B2BD3;
	border: none;
}
.save :hover{
	background-color: #8D16C8;
}

.form-container{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top : 0;
	display: none;
	justify-content: center;
	align-items: center;
}
.form-container-div{
	height: auto;
	width: 500px;
	background-color: #1e1e2e;
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	color: black;
	position: relative;
}
.myform{
	padding-top: 20px;
	justify-content: center;
	align-items: center;
}

.myform input{
	border-radius: 10px;
	width: 70%;
	display: block;
	font-size: 15px;
	padding: 5px;
	margin : 15px auto;
}
.color-selector{
display:inline-flex;
padding: 5px;
/* border: 1px solid pink; */
width: 100%;
}
.color-selector div{
	padding: 5px;
	background-color: inherit;
	justify-content: center;
	text-align: center;
	margin: 10px;
	height: 40px;
	width: 40px;
	border-radius: 30px;
}

#close-form{
	position: absolute;
	top : 0;
	color: grey;
	right: 14px;
	font-size: 40px;
	transform: rotate(45deg);
	cursor: pointer;
}

/*/////////////////////////Card//////////////////////////*/

.card-container{
	display: flex;
	float: left;
	clear: right;
	height: 600px;
	border-radius: 10px;
  }
  .card-list{
	display: block;
	padding: 3rem;
	overflow-y: scroll;
	position: fixed !important; 
	top : 50%;
	transform: translateY(-50%);
	left : 20px;
  }
  .card{
	color :white;
	display: flex;
	/* text-align: center; */
	position: relative;
	flex-direction: column;
	width: 170px;
	height: 120px;
	margin: -10px;
	padding: 0.5rem;  /* 1rem = 15px */
	border-radius: 0 16px 16px 16px;
	background-color: #17141d;
	box-shadow: -1rem 0 3rem #000;
	transition: 0.2s;
  }
  
  .card:hover{
	/* transform: translateX(-1rem); */
	transform: translateY(-1.5rem);
	transition: 0.2s;
  }
  .lec,.prac {
	position: absolute;
	text-align: center;
	height: 30px;
	width: 50%;
	left:0;
	top: -.75em;
	border-radius: 10px 10px 0 0;
}
.lec p, .prac p {
	margin-top: .25em;
	font-weight: 500;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 18px;
}
.lec {
	background-image: linear-gradient(to bottom, #a164ff,#17141d);
}
.prac {
	background-image: linear-gradient(to bottom, #0ebcf9,#17141d);
}
.td_color {       /*table.js ('.day').hover*/
	background-color: #f8ad58;
	z-index: 100;
  }
  .selected_td {  /*table.js*/
	background-color: red;
	opacity: .7;
  }


  /*Card*/


  .card:hover ~ .card{
	transform: translateY(0.5rem);
  }
  .card-header h3{
	  text-decoration: underline;
	  font-size: 20px;
	  margin-left: 5px;
  }
  .author-name{
	text-align: right;
	padding: 5px 20px 5px 20px;
	font-size: 20px;
	margin-top: 0px;

  }
  .card-author img{
	height: 60px;
	width: 60px;
  }
::-webkit-scrollbar-thumb {
	background-color: #515163;
	border-radius: 3px;
}
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

.tt_grid {
	padding: 5px;
}
.tt_grid .grid_heading {
	text-align: left;
}
.event_btn {
	padding: 10px;
	margin: 5px auto;
	font-size: 15px;
	background-color: #e12eca;
	border: none;
	outline: none;
	border-radius: 5px;
	width: 80%;
}
.event_btn:hover {
	opacity: .8;
}
.tt_grid .grid_footer {
	display: grid;
	grid-template-columns: 50% 50%;
}
.tt_grid .grid_footer .faculty_name {
	text-align: left;
}
.tt_grid .grid_footer .resource_name {
	text-align: right;
}

.event_form {
	/* background-color: red; */
	padding: 1em; 
}
.event_form button {
	padding: 5px;
	background-color: transparent;
	border : 1px solid blue;
	color: white;
}
.gridder {
    display: grid;
	grid-template-columns: 33% 33% 33%;
	height: 80px;
}
.batch1 {
    border-right: 2px solid white;
    /* border-bottom: 2px solid white; */
    /* padding-left: 10px;
	padding-right: 10px; */
	font-size: 10px;
}
.lect {
    padding: 0;
}
.batch1 .event_btn {
	font-size: x-small;
	padding: 5px 0;
}
.batch1:last-child {
     /* padding-right:10px ; */
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.batch1:first-child {
     /* padding-left: 10px; */
}