*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;
  top : 0;
  letter-spacing: 2px;
  font-weight: bold;
}
input:focus {
  outline: none;
}
.nav_container{

}
.navv{
  margin: 0px;
  width: 100%;
  text-decoration: none;
  background-color: #333;
  /* background-color: #333; */
  min-height: 8vh;
  position: fixed;
  font-size: 20px;
  z-index: 100;
}

.navv,.navv ul, .nav_items {
  /* position: relative; */
}


.nav-container{
  transition: 0.5s;
}
.nav-container :hover{
  transition: 0.2s;
  /* background-image: linear-gradient(to left top, #0b0b0d, #0e0e0f, #101011, #121212, #141414); */
  background-color: black;
}
.container{
  /* background-color : black; */

}
.logo{

}

.nav_items{
  list-style: none;
  float: right;
  padding: 1em;
  position: relative;
}

.show_user{
  float: left;
}

.navv a{
  text-decoration: none;
  color: white;
  opacity: 0.7;
}

.nav_class :hover{
  /* color: blue; */
}

.menu{
  display: none;
}
.menu div{
  width:25px;
  height: 5px;
  /* background-color: black; */

  margin: 5px;
}
@media screen and (max-width : 768px){
  body{
    display: none;
  }
}

@media screen and (max-width : 1024px){
  body{
    font-size: 15px;
  }
}
.nav_items:before, .nav_items:after
{
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #FFF;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}
.nav_items:focus{
  outline: none;
  border: none;
}
.nav_items:before
{
  top: 0px;
  transform: translateY(10px);
}

.nav_items:after
{
  bottom: 0px;
  transform: translateY(-10px);
}

.nav_items:hover:before, .nav_items:hover:after
{
  opacity: 1;
  transform: translateY(0px);
}
