{% extends 'admin/base.html' %}
{% block title %}Batch{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{{static ('admin/details/dbtable.css')}}">
    <link rel="stylesheet" href="{{static ('form/form.css')}}">
{% endblock css %}
{% block scripts %}
    <script src="{{static ('admin/details/dbtable.js')}}" charset="utf-8"></script>
    <script src="{{static ('form/form.js')}}" charset="utf-8"></script>
{% endblock scripts %}

{% block content %}
	  <div class="whole_container" id="whole_container_id">
      <fieldset>
        <legend class="not_login">Add Batch</legend>
        <form class="myform">
          <div class="input_container">
            <img class="input_icons" src="{{static ('admin/details/img/department.png')}}" alt="dept">
            <input type="text" name=""  class ="form_input" placeholder="Batch Name" />
          </div>

          <div class="dropdown_container">
            <div class="dropdown_select_box">
              <div class="options_container">
                <div class="dropdown_option">
                  <input type="radio" class="radio" id="Batch_31" name="category" value = "#"/>
                  <label for="Batch_31">Batch-31</label>
                </div>

                <div class="dropdown_option">
                  <input type="radio" class="radio" id="Batch_32" name="category" value = "#" />
                  <label for="Batch_32">Batch-32</label>
                </div>

                <div class="dropdown_option">
                  <input type="radio" class="radio" id="Batch_33" name="category" value = "#" />
                  <label for="Batch_33">Batch-33</label>
                </div>

                <div class="dropdown_option">
                  <input type="radio" class="radio" id="Batch_34" name="category" value = "#" />
                  <label for="Batch_34">Batch-34</label>
                </div>

                <div class="dropdown_option">
                  <input type="radio" class="radio" id="Batch_35" name="category" value = "#" />
                  <label for="Batch_35">Batch-35</label>
                </div>
              </div>

              <div class="selected">
                Select Batch
                <!-- <img src="{{static ('admin/details/img/deown.png')}}" alt="down"> -->
              </div>

              <div class="search_box">
                <input type="text" placeholder="Start Typing..." />
              </div>
            </div>
          </div>
  
          <div class="submit_button_container">
            <button type="submit" name="button" class="submit_button" onclick="">Submit</button>
          </div>
        </form>
      </fieldset>

    <!-- <button type="button" name="button" onclick="toggle_form()">Click</button> -->
      <div class="table_container">
        <h1>Batches for {{my_division}}</h1><br>
          <div class="table_search_box">
            <input type="text" id = "myinput" name="" placeholder="Search..." onkeyup="searchFun()" >
          </div>
          <table id = "db_table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Batch Name</th>
                <th>Batch for</th>
                <th>Actions</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              {% for batch in my_batches %}
                <tr>
                  <td>{{batch.id}}</td>
                  <td>{{batch.name}}</td>
                  {% if batch.batch_for == 'prac'%}
                  <td>Practical</td>
                  {% else %}
                  <td>Lecture</td>
                  {% endif %}
                  <td>
                      <img class="action_icons" src="{{static ('admin/details/img/pen.png')}}" alt="pen" title="Edit" onclick="#">
                      <img class="action_icons" src="{{static ('admin/details/img/delete.png')}}" alt="delete" title="Delete" onclick="#">
                  </td>
                  <td>
                    <div class="checkboxes">
                    <input type="checkbox" id="ckx" name="ckx" value="ckx">
                    <label for="fruit1">Apple</label>
                  </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
{% endblock content %}
