{% extends 'admin/base.html' %}
{% block title %}Batch{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{{static ('admin/details/dbtable.css')}}">
    <link rel="stylesheet" href="{{static ('admin/details/select2/select2.css')}}">
    <link rel="stylesheet" href="{{static ('admin/details/select2/myselect2.css')}}">
    <link rel="stylesheet" href="{{static ('form/form.css')}}">
    {% endblock css %}
    {% block scripts %}
    <script src="{{static ('admin/jquery-3.5.1.js') }}"></script>
    <script src="{{static ('admin/details/dbtable.js')}}" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="{{static ('form/form.js')}}" charset="utf-8"></script>
    <script>

      // Strings
      department = "{{my_division.Semester_id.Branch_id.Department_id}}";
      branch = department + ".{{my_division.Semester_id.Branch_id}}";
      semester = branch + ".{{my_division.Semester_id}}";
      division = semester + ".{{my_division}}";
      batch_details = division + ".a";

      // Label Selector
      Department = document.querySelectorAll('[for="'+department+'"]')[0];
      Branch = document.querySelectorAll('[for="'+branch+'"]')[0];
      Semester = document.querySelectorAll('[for="'+semester+'"]')[0];
      Division = document.querySelectorAll('[for="'+division+'"]')[0];
      Batch_details = document.querySelectorAll('[for="'+batch_details+'"]')[0];

      // Input selector
      Department_input = document.querySelectorAll('[id="'+department+'"]')[0];
      Branch_input = document.querySelectorAll('[id="'+branch+'"]')[0];
      Semester_input = document.querySelectorAll('[id="'+semester+'"]')[0];
      Division_input = document.querySelectorAll('[id="'+division+'"]')[0];

      // Activator
      Department.classList.add("active"); 
      Branch.classList.add("active");
      Semester.classList.add("active");
      Division.classList.add("active");
      Batch_details.classList.add("active");
      Batch_details.setAttribute("id", "scrolled");
      // Unchecker
      Department_input.checked = false;
      Branch_input.checked = false;
      Semester_input.checked = false;
      Division_input.checked = false;
    </script>
{% endblock scripts %}

{% block content %}
	  <div class="whole_container" id="whole_container_id">
      <fieldset>
        <legend>Add Batch</legend>
        <form class="myform" {% if not u_name %}style="display: none;"{% endif %}>
          <img class="form_hider" src="{{static ('admin/details/img/close.png')}}" alt="hide">
          <div class="input_container">
            <img class="input_icons" src="{{static ('admin/details/img/department.png')}}" alt="dept">
            <input type="text" name="batchname" class ="form_input" required maxlength="50" />
            <label for="" class="form_input_label">
              <div class="text">Batch Name</div>
              <div class="line"></div>
            </label>
          </div>
          <div class="select2_container">
            <select name="myselect" id="batches">
              <option disabled selected>Select Batch Type</option>
              <option value="prac">Practical</option> 
              <option value="lect">Lecture</option>
            </select>
          </div>
          <div class="submit_button_container">
            <button type="submit" name="button" value="submit" class="submit_button" onclick="">Submit</button>
          </div>
        </form>
        <div class="form_visibility_img_container">
          <button class="show_form_button" onclick="form_visibility()">
          <p id="myp">Show Form</p>
        </button>
        </div>
        {% if integrityErrors %}
          <div class="errors_container">
            <p>
              {{integrityErrors}}
            </p>
          </div>
        {% endif %}
        {% if errors %}
        <div class="errors_container">
          <p>
            {{errors}}
          </p>
        </div>
      {% endif %}
      </fieldset>

    <!-- <button type="button" name="button" onclick="toggle_form()">Click</button> -->  
      <div class="table_container">
            <div class="table_search_box">
              <input type="text" id = "myinput" name="" placeholder="Search..." onkeyup="searchFun()" >
            </div>
            <table id = "db_table">
              <thead>
                <div class="delete_panel" >
                  <h1>Batches for {{my_division}}</h1>
                  <a style="display: none;" id="del" onclick="delete_entries()" >
                    <img class="action_icons" src="{{static ('admin/details/img/delete.png')}}" alt="delete" title="Delete" >
                    Delete
                  </a>
                </div>
                <tr>
                  <th>Id</th>
                  <th>Batch Name</th>
                  <th>Batch for</th>
                  <th>Edit</th>
                  <th>
                    <!-- Edit -->
                    <div class="checkboxes" onclick="checkAll();">
                      <input type="checkbox" id="parent" name="parent" value="parent">
                      <label for="parent"></label> 
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for batch in my_batches %}
                  <tr>
                    <td>{{batch.id}}</td>
                    <td>{{batch.name}}</td>
                    {% if batch.batch_for == 'prac'%}
                    <td>Practical</td>
                    {% else %}
                    <td>Lecture</td>
                    {% endif %}
                    <td>
                        <img class="action_icons" src="{{static ('admin/details/img/pen.png')}}" alt="pen" title="Edit" onclick="#">
                    </td>
                    <td>
                      <div class="checkboxes" onclick="checkSelected()">
                      <input type="checkbox" class="del_input" id="{{loop.index}}" name="del" value="{{batch.id}}">
                      <label for="{{loop.index}}"></label>
                    </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
{% endblock content %}