{% extends 'admin/base.html' %}
{% block title %}Branch{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{{static ('admin/details/dbtable.css')}}">
    <link rel="stylesheet" href="{{static ('form/form.css')}}">
{% endblock css %}
{% block scripts %}
    <script src="{{static ('admin/details/dbtable.js')}}" charset="utf-8"></script>
    <script src="{{static ('form/form.js')}}" charset="utf-8"></script>
{% endblock scripts %}

{% block content %}
	  <div class="form_container" id="form_container_id">
      <fieldset>
        <legend class="not_login">Add Branches</legend>
        <form class="myform" method = "POST">
          {{ csrf_input }}
          <div class="input_container"><img class="input_icons" src="{{static ('admin/details/vector.png')}}" alt="nodes"><input type="text" name="name"  class ="form_input" placeholder="Brach Name" /></div>
          <div class="input_container"><img class="input_icons" src="{{static ('admin/details/vector.png')}}" alt="nodes"><input type="text" name="short"  class="form_input" placeholder="Short Name" /></div>
          <div class="submit_button_container">
            <button type="submit" class="submit_button" onclick="">Submit</button>
          </div>
        </form>
        {% if errors %}
          {{errors}}
        {% endif %}
      </fieldset>

    <!-- <button type="button" name="button" onclick="toggle_form()">Click</button> -->
      <div class="table_container">
        <h1>Branches for {{my_department}}</h1><br>
        <div class="search_box">
          <input type="text" id = "myinput" name="" placeholder="Search..." onkeyup="searchFun()" >
          </div>
          <table id = "db_table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Short</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for branch in my_branches %}
                <tr>
                  <td>{{loop.index}}</td>
                  <td>{{branch.name}}</td>
                  <td>{{branch.short}}</td>
                  <td>
                    <div class="actions">
                      sdf<img  src="{{static ('admin/details/pen.png')}}" alt="pen" title="Edit" onclick="#">
                      sdf<img  src="{{static ('admin/details/delete.png')}}" alt="delete" title="Delete" onclick="#"
                      onmouseover="hover(this,'{{static ('admin/details/delete_hover.png')}}')"
                      onmouseout = "unhover(this,'{{static ('admin/details/delete.png')}}')">
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
{% endblock content %}
