{% extends 'admin/base.html' %}
{% block title %}Branch{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{{static ('admin/details/dbtable.css')}}">
    <link rel="stylesheet" href="{{static ('form/form.css')}}">
{% endblock css %}
{% block scripts %}
    <script src="{{static ('admin/details/dbtable.js')}}" charset="utf-8"></script>
    <script src="{{static ('form/form.js')}}" charset="utf-8"></script>
{% endblock scripts %}

{% block content %}
	  <div class="whole_container" id="whole_container_id">
      <fieldset>
        <legend class="not_login">Add Branch</legend>
        <form class="myform" method = "POST">
          {{ csrf_input }}
          <div class="input_container disabled"><img class="input_icons" src="{{static ('admin/details/vector.png')}}" alt="nodes"><input type="text" name="name"  class ="form_input" placeholder="Department : {{my_department}}" disabled/></div>
          <div class="input_container"><img class="input_icons" src="{{static ('admin/details/vector.png')}}" alt="nodes"><input type="text" name="name"  class ="form_input" placeholder="Branch Name" /></div>
          <div class="input_container"><img class="input_icons" src="{{static ('admin/details/vector.png')}}" alt="nodes"><input type="text" name="short"  class="form_input" placeholder="Short Name" /></div>
          <div class="submit_button_container">
            <button type="submit" class="submit_button" onclick="">Submit</button>
          </div>
        </form>
        {% if errors %}
          {{errors}}
        {% endif %}
      </fieldset>

    <!-- <button type="button" name="button" onclick="toggle_form()">Click</button> -->
      <div class="table_container">
        <h1>Branches for {{my_department}}</h1><br>
        <div class="search_box">
          <input type="text" id = "myinput" name="" placeholder="Search..." onkeyup="searchFun()" >
          </div>
          <table id = "db_table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Branch Name</th>
                <th>Short</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for branch in my_branches %}
                <tr>
                  <td>{{loop.index}}</td>
                  <td>{{branch.name}}</td>
                  <td>{{branch.short}}</td>
                  <td>
                      <img class="action_icons" src="{{static ('admin/details/pen.png')}}" alt="pen" title="Edit" onclick="#">
                      <img class="action_icons" src="{{static ('admin/details/delete.png')}}" alt="delete" title="Delete" onclick="#">
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
{% endblock content %}
