{% extends 'admin/base.html' %}
{% block title %}Department{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{{static ('admin/details/dbtable.css')}}">
    <link rel="stylesheet" href="{{static ('form/form.css')}}">
{% endblock css %}
{% block scripts %}
    <script src="{{static ('admin/details/dbtable.js')}}" charset="utf-8"></script>
    <!-- <script src="{{static ('form/form.js')}}" charset="utf-8"></script> -->
    <script>

      // Strings
      department = "a";

      // Label Selector
      Department_details = document.querySelectorAll('[for="'+department+'"]')[0];

      // Activator
      Department_details.classList.add("active");
      Department_details.setAttribute("id", "scrolled");
    </script>
{% endblock scripts %}

{% block content %}
	  <div class="whole_container" id="whole_container_id">
      <fieldset>
        <legend>{% if u_name %}Update{% else %}Add{% endif %} Department</legend>
        <form class="myform" method = "POST" {% if not u_name %}style="display: none;"{% endif %}>
          {{csrf_input}}
          <div class="input_container">
            <img class="input_icons" src="{{static ('admin/details/img/department.png')}}" alt="dept">
            <input type="text" name="name" {% if u_name %}value = "{{u_name}}"{% endif %} class ="form_input" required/>
            <label for="" class="form_input_label">
              <div class="text">Department Name</div>
              <div class="line"></div>
            </label>
          </div>
          <div class="input_container">
            <img class="input_icons" src="{{static ('admin/details/img/department.png')}}" alt="short">
            <input type="text" name="short" {% if u_short %}value = "{{u_short}}"{% endif %} class="form_input short_names" required/>
            <label for="" class="form_input_label">
              <div class="text">Short Name</div>
              <div class="line"></div>
            </label>
          </div>
          <div class="submit_button_container">
            <button type="submit" name="button" class="submit_button">Submit</button>
          </div>
        </form>
        <div class="form_visibility_img_container" onclick="form_visibility()">
          <button class="show_form_button" >
          <p id="myp">Show Form</p>
        </button>
        </div>
        {% if integrityErrors %}
          <div class="errors_container">
            <p>
              {{integrityErrors}}
            </p>
          </div>
        {% endif %}
        {% if errors %}
        <div class="errors_container">
          <p>
            {{errors}}
          </p>
        </div>
        <script>
          show_error("{{errors}}")
        </script>
      {% endif %}
      </fieldset>

    <!-- <button type="button" name="button" onclick="toggle_form()">Click</button> -->
    <div class="table_container">
      <div class="table_search_box">
        <input type="text" id = "myinput" name="" placeholder="Search..." onkeyup="searchFun()" >
      </div>
      <table id = "db_table">
        <thead>
          <tr>
            <div class="delete_panel">
              <h1 >Department for {{institute}}</h1>
              <a style="display: none;" id="del" onclick="delete_entries()" >
                <img class="action_icons" src="{{static ('admin/details/img/delete.png')}}" alt="delete" title="Delete" >
              </a>
            </div>
            <th>Id</th>
            <th>Department Name</th>
            <th>Short</th>
            <th>Edit</th>
            <th>
              <div class="checkboxes" onclick="checkAll();">
                <input type="checkbox"  id="parent" name="parent" value="parent">
                <label for="parent"></label> 
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for department in departments %}
            <tr>
              <td>{{loop.index}}</td>
              <td>{{department.name}}</td>
              <td>{{department.short}}</td>
              <td>
                <a href = "{{url ('update_department' ,args=[department.id])}}">
                  <img class="action_icons" src="{{static ('admin/details/img/pen.png')}}" alt="pen" title="Edit" >
                </a>
              </td>
              <td>
                <div class="checkboxes" onclick="checkSelected()">
                  <input type="checkbox" class="del_input" id="{{loop.index}}" name="del" value="{{department.id}}">
                  <label for="{{loop.index}}"></label>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
