{% extends 'admin/base.html' %}
{% block title %}Department{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{{static ('admin/details/dbtable.css')}}">
    <link rel="stylesheet" href="{{static ('form/form.css')}}">
{% endblock css %}
{% block scripts %}
    <script src="{{static ('admin/details/dbtable.js')}}" charset="utf-8"></script>
    <script src="{{static ('form/form.js')}}" charset="utf-8"></script>
{% endblock scripts %}

{% block content %}
	  <div class="whole_container" id="whole_container_id">
      <fieldset>
        <legend class="not_login">Add Department</legend>
        <form class="myform">
          <div class="input_container"> <img class="input_icons" src="{{static ('admin/details/department.png')}}" alt="dept"> <input type="text" name=""  class ="form_input" placeholder="Department Name" /></div>
          <div class="input_container"><img class="input_icons" src="{{static ('admin/details/department.png')}}" alt="short"><input type="text" name=""  class="form_input" placeholder="Short Name" /></div>
          <div class="submit_button_container">
            <button type="submit" name="button" class="submit_button" onclick="">Submit</button>
          </div>
        </form>
      </fieldset>

    <!-- <button type="button" name="button" onclick="toggle_form()">Click</button> -->
      <div class="table_container">
        <h1>Department for {{institute}}</h1><br>
          <div class="search_box">
            <input type="text" id = "myinput" name="" placeholder="Search..." onkeyup="searchFun()" >
          </div>
          <table id = "db_table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Department Name</th>
                <th>Short</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for department in departments %}
                <tr>
                  <td>{{department.id}}</td>
                  <td>{{department.name}}</td>
                  <td>{{department.short}}</td>
                  <td>
                    <img class="action_icons" src="{{static ('admin/details/pen.png')}}" alt="pen" title="Edit" onclick="#">
                    <img class="action_icons" src="{{static ('admin/details/delete.png')}}" alt="delete" title="Delete" onclick="#">

                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
      </div>
{% endblock content %}
