{% extends 'admin/base.html' %}
{% block title %}Division{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{{static ('admin/details/dbtable.css')}}">
    <link rel="stylesheet" href="{{static ('form/form.css')}}">
{% endblock css %}
{% block scripts %}
    <script src="{{static ('admin/details/dbtable.js')}}" charset="utf-8"></script>
    <script src="{{static ('form/form.js')}}" charset="utf-8"></script>
{% endblock scripts %}

{% block content %}
	  <div class="whole_container" id="whole_container_id">
      <fieldset>
        <legend class="not_login">Add Division</legend>
        <form class="myform">
          <div class="input_container">
            <input type="text" name="name" class ="form_input" placeholder="Division Name" />
          </div>

          <div class="submit_button_container">
            <button type="submit" name="button" class="submit_button" onclick="">Submit</button>
          </div>
        </form>
      </fieldset>

    <!-- <button type="button" name="button" onclick="toggle_form()">Click</button> -->
    <form class="db_form" action="">    
      <div class="table_container">
        
          <div class="table_search_box">
            <input type="text" id = "myinput" name="" placeholder="Search..." onkeyup="searchFun()" >
          </div>
          <table id = "db_table">
            <thead>
              <tr>
                <div class="delete_panel" >
                  <h1>Divisions for {{my_semester}}</h1>
                  <a href=""style="display: none;" id="del" >Delete
                    <img class="action_icons" src="{{static ('admin/details/img/delete.png')}}" alt="delete" title="Delete" >
                  </a>
                </div>
                <th>Id</th>
                <th>Division Name</th>
                <th>Edit</th>
                <th>
                  <div class="checkboxes" onclick="checkAll();">
                    <input type="checkbox"  id="parent" name="parent" value="parent">
                    <label for="parent"></label> 
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for division in my_divisions %}
                <tr>
                  <td>{{loop.index}}</td>
                  <td>{{division.name}}</td>
                  <td>
                      <img class="action_icons" src="{{static ('admin/details/img/pen.png')}}" alt="pen" title="Edit" onclick="#"
                  </td>
                  <td>
                    <div class="checkboxes">
                      <input type="checkbox" class="del_input" id="{{loop.index}}" name="del" value="{{division.id}}">
                      <label for="{{loop.index}}"></label>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
{% endblock content %}
