{% extends 'admin/base.html' %}
{% block title %}Division{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{{static ('admin/details/dbtable.css')}}">
    <link rel="stylesheet" href="{{static ('form/form.css')}}">
{% endblock css %}
{% block scripts %}
    <script src="{{static ('admin/details/dbtable.js')}}" charset="utf-8"></script>
    <script src="{{static ('form/form.js')}}" charset="utf-8"></script>
{% endblock scripts %}

{% block content %}
	  <div class="whole_container" id="whole_container_id">
      <fieldset>
        <legend class="not_login">Add Division</legend>
        <form class="myform">
          <div class="input_container">
            <input type="text" name="name"  class ="form_input" placeholder="Division Name" />
          </div>
          <div class="input_select">
            <div class="select-box">
              <div class="select-box__current" tabindex="1">
            
                <div class="select-box__value"><input class="select-box__input" type="radio" name="Division" checked="checked" id="0" value="0" />
                    <p class="select-box__input-text">Select Shift</p>
                </div>
                <div class="select-box__value"><input class="select-box__input" type="radio" name="Division" checked="checked" id="1" value="1" />
                    <p class="select-box__input-text">A</p>
                </div>
                <div class="select-box__value"><input class="select-box__input" type="radio" name="Division" checked="checked" id="2" value="2" />
                    <p class="select-box__input-text">B</p>
                </div>
                <div class="select-box__value"><input class="select-box__input" type="radio" name="Division" checked="checked" id="3" value="3" />
                    <p class="select-box__input-text">C</p>
                </div>
                <img class="select-box__icon" src="{{static ('admin/details/down.png')}}" alt="Arrow Icon" aria-hidden="true" /></div>

                <ul class="select-box__list">
                    <li><label class="select-box__option" for="0" aria-hidden="aria-hidden">Select Division</label></li>
                    <li><label class="select-box__option" for="1" aria-hidden="aria-hidden">A</label></li>
                    <li><label class="select-box__option" for="2" aria-hidden="aria-hidden">B</label></li>
                    <li><label class="select-box__option" for="3" aria-hidden="aria-hidden">C</label></li>
                </ul>
              </div>
          </div>


          <div class="submit_button_container">
            <button type="submit" name="button" class="submit_button" onclick="">Submit</button>
          </div>
        </form>
      </fieldset>

    <!-- <button type="button" name="button" onclick="toggle_form()">Click</button> -->
      <div class="table_container">
        <h1>Divisions for {{my_semester}}</h1><br>
          <div class="search_box">
            <input type="text" id = "myinput" name="" placeholder="Search..." onkeyup="searchFun()" >
          </div>
          <table id = "db_table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Division Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for division in my_divisions %}
                <tr>
                  <td>{{loop.index}}</td>
                  <td>{{division.name}}</td>
                  <td>
                      <img class="action_icons" src="{{static ('admin/details/pen.png')}}" alt="pen" title="Edit" onclick="#">
                      <img class="action_icons" src="{{static ('admin/details/delete.png')}}" alt="delete" title="Delete" onclick="#">
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
{% endblock content %}
