<link rel="stylesheet" href="{{static ('OLD_stuff/index.css') }}">
<link rel="stylesheet" href="{{static ('form/form.css')}}">
<script src="{{static ('admin/jquery-3.5.1.js') }}"></script>
<script src="{{static ('try/table.js') }}"></script>
<script>
	put_data("{{slots_json}}");
	put_events("{{events}}","{{not_available}}")
	// activate("{{my_department}}.b")
</script>
<h1 style="color: white;">Not Available At </h1>

<table style = "width:990px;" class="main_table">
	<thead>
		<th>
			Time
		</th>
		{% for day in working_days %} 	<!--for all days in database-->
      		<th class = "day">
				{{day.Days_id}}
				<input class = "not_avail_ckb" type="checkbox" id="{{day.id}}">
				<label for="{{day.id}}"></label> 
			</th>
		{% endfor %}
	</thead>
	<tbody class="table_time">
		{% for timing in timings %} <!--for all time periods in database-->
			<tr timing_id = {{timing.id}}>
			{% if timing.is_break %}
			{% set len = working_days|length + 1 %}
				<th colspan = "{{len}}">
					{{timing}}
				</th>
			{% else %}
				<th class = "time">
					<p>
                        {{timing}}
						<input class = "not_avail_ckb" type="checkbox" id="{{timing.id}}">
						<label for="{{timing.id}}"></label> 
					</p>
				</th>
				{% for day in working_days %}
					<td class = "td">
						<input type="checkbox" class = "not_avail_ckb" id="{{timing}}_{{day}}" name="not_available" value="{{timing.id}}_{{day.id}}">
						<label for="{{timing.id}}_{{day.id}}"></label> 
                    </td>
				{% endfor %}
			{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
{{csrf_input}}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<button class = "submit_not_avail"> goooooooooooooooooo</button>
<a href="{{url ('add_faculty' , args=[1])}}"><h2 style="color: white;">Go Back to Faculty Details</h2></a> 
