{% extends 'admin/base2.html' %}
{% block title %}Not Available{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{{static ('admin/details/timetable.css') }}">
<link rel="stylesheet" href="{{static ('form/form2.css')}}">
{% endblock css %}
{% block scripts %}
<script type="text/javascript" src="{{static ('jquery.js') }}"></script>
<script src="{{static ('try/table.js') }}"></script>
<script>
	put_data("{{slots_json}}");
	put_events("{{events}}", "{{not_available}}");
</script>
<script src="{{static ('cookie.min.js')}}"></script>
{% endblock scripts %}

{% block content %}
<div id = "page_activator" activate-page="{{my_department}}.b"></div>
<div class="main_content" style="margin-top: -10px">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url ('admin_home')}}">
            <i class="fas fa-home"></i>  
          </a></li>
          <li class="breadcrumb-item active" aria-current="page">
            <a href="{{url ('user_dash',args=[my_department.id])}}">
                <span class="h6 fw-bold ">User dash</span> 
            </a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
              <span class="h6 fw-bold">Not Available</span> 
          </li>     
        </ol>
      </nav>
	<h2 class="text-center">{{my_faculty.User_id}} Is Not Available At</h2>

	<table style="width : 90%;" class="main_table text-center">
		<thead>
			<th>
				Time
			</th>
			{% for day in working_days %}
			<!--for all days in database-->
			<th class="day">
				{{day.Days_id}}
				<input class="not_avail_ckb" type="checkbox" id="{{day.id}}">
				<label for="{{day.id}}"></label>
			</th>
			{% endfor %}
		</thead>
		<tbody class="table_time">
			{% for timing in timings %}
			<!--for all time periods in database-->
			<tr timing_id={{timing.id}}>
				{% if timing.is_break %}
				<th class="time fw-bold">
					<p>
						{{timing.name}}<br>
						[{{timing.return_time()}}]
						<input class="not_avail_ckb" type="checkbox" id="{{timing.id}}">
						<label for="{{timing.id}}"></label>
					</p>
				</th>
				{% set len = working_days|length %}
				<th colspan="{{len}}">
					<h1>{{timing.name}}</h1>
				</th>
				{% else %}
				<th class="time">
					<p>
						{{timing.name}}<br>
						[{{timing.return_time()}}]
						<input class="not_avail_ckb" type="checkbox" id="{{timing.id}}">
						<label for="{{timing.id}}"></label>
					</p>
				</th>
				{% for day in working_days %}
				<td class="td">
					<input type="checkbox" class="not_avail_ckb" id="{{timing}}_{{day}}" name="not_available"
						value="{{timing.id}}_{{day.id}}">
					<label for="{{timing.id}}_{{day.id}}"></label>
				</td>
				{% endfor %}
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="7" style="border : none">
					<button class="submit_not_avail submit_button btn btn-outline-success" style="width:80%;"> Submit</button>
				</td>
			</tr>
		</tfoot>
	</table>
{{csrf_input}}
</div>
{% endblock content %}