{% extends 'admin/base.html' %}
{% block title %}Semester{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{{static ('admin/details/dbtable.css')}}">
    <link rel="stylesheet" href="{{static ('form/form.css')}}">
{% endblock css %}
{% block scripts %}
    <script src="{{static ('admin/details/dbtable.js')}}" charset="utf-8"></script>
    <script src="{{static ('form/form.js')}}" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>

      // Strings
      department = "{{my_branch.Department_id}}";
      branch = department + ".{{my_branch}}";
      semester_details = branch + ".a";

      // Label Selector
      Department = document.querySelectorAll('[for="'+department+'"]')[0];
      Branch = document.querySelectorAll('[for="'+branch+'"]')[0];
      Semester_details = document.querySelectorAll('[for="'+semester_details+'"]')[0];

      // Input selector
      Department_input = document.querySelectorAll('[id="'+department+'"]')[0];
      Branch_input = document.querySelectorAll('[id="'+branch+'"]')[0];

      // Activator
      Department.classList.add("active");
      Branch.classList.add("active");
      Semester_details.classList.add("active");
      Semester_details.setAttribute("id", "scrolled");
      
      // Unchecker
      Department_input.checked = false;
      Branch_input.checked = false;
    </script>
{% endblock scripts %}

{% block content %}
  <div class="whole_container" id="whole_container_id">
    <fieldset>
      <legend>{% if u_short %}Update{% else %}Add{% endif %} Semester</legend>
      <form class="myform" method = "POST" {% if not u_short %}style="display: none;"{% endif %}>
        {{ csrf_input }}
        <img class="form_hider" src="{{static ('admin/details/img/close.png')}}" alt="hide">
        <div class="input_container">
          <input type="text" name="short" {% if u_short %}value = "{{u_short}}"{% endif %} class ="form_input"  required maxlength="20"/>
          <label for="" class="form_input_label">
            <div class="text">Semester Name</div>
            <div class="line"></div>
          </label>
        </div>
        <div class="submit_button_container">
          <button type="submit" name="button" class="submit_button" onclick="">Submit</button>
        </div>
      </form>
      <div class="form_visibility_img_container">
        <button class="show_form_button" onclick="form_visibility()">
          <p id="myp">Show Form</p>
        </button>
      </div>

      {% if integrityErrors %}
        <div class="errors_container">
          <p>
            {{integrityErrors}}
          </p>
        </div>
      {% endif %}
      {% if errors %}
      <div class="errors_container">
        <p>
          {{errors}}
        </p>
      </div>
      {% endif %}
    </fieldset>

  <!-- <button type="button" name="button" onclick="toggle_form()">Click</button> -->
    <div class="table_container">
      <div class="table_search_box">
        <input type="text" id = "myinput" name="" placeholder="Search..." onkeyup="searchFun()" >
      </div>
        <table id = "db_table">
          <thead>
            <tr>
              <div class="delete_panel" >
                <h1>Semesters for {{my_branch}}</h1>          
                <a style="display: none;" id="del" onclick="delete_entries()" >
                  <img class="action_icons" src="{{static ('admin/details/img/delete.png')}}" alt="delete" title="Delete" >
                </a>
              </div>
              <th>Id</th>
              <th>Semester</th>
              <th>Edit</th>
              <th>
                <div class="checkboxes" onclick="checkAll();">
                  <input type="checkbox"  id="parent" name="parent" value="parent">
                  <label for="parent"></label> 
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for semester in my_semesters %}
              <tr>
                <td>{{loop.index}}</td>
                <td>{{semester.short}}</td>
                <td>
                  <a href = "{{url ('update_semester' ,args=[my_branch.id,semester.id])}}">
                    <img class="action_icons" src="{{static ('admin/details/img/pen.png')}}" alt="pen" title="Edit" onclick="#">
                  </a>
                </td>
                <td>
                  <div class="checkboxes" onclick="checkSelected()">
                    <input type="checkbox" class="del_input" id="{{loop.index}}" name="del" value="{{semester.id}}">
                    <label for="{{loop.index}}"></label>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
{% endblock content %}
