{% extends 'admin/base.html' %}
{% block title %}Semester{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{{static ('admin/details/dbtable.css')}}">
    <link rel="stylesheet" href="{{static ('form/form.css')}}">
{% endblock css %}
{% block scripts %}
    <script src="{{static ('admin/details/dbtable.js')}}" charset="utf-8"></script>
    <script src="{{static ('form/form.js')}}" charset="utf-8"></script>
{% endblock scripts %}

{% block content %}
	  <div class="whole_container" id="whole_container_id">
      <fieldset>
        <legend class="not_login">{% if u_short %}Update{% else %}Add{% endif %} Semester</legend>
        <form class="myform" method = "POST">
          {{ csrf_input }}
          <div class="input_container">
            <input type="text" name="short" {% if u_short %}value = "{{u_short}}"{% endif %} class ="form_input" placeholder="Semester Name" />
          </div>
          <div class="submit_button_container">
            <button type="submit" name="button" class="submit_button" onclick="">Submit</button>
          </div>
        </form>
      </fieldset>

    <!-- <button type="button" name="button" onclick="toggle_form()">Click</button> -->
      <div class="table_container">
        <h1>Semesters for {{my_branch}}</h1><br>
          <div class="table_search_box">
            <input type="text" id = "myinput" name="" placeholder="Search..." onkeyup="searchFun()" >
          </div>
          <table id = "db_table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Semester</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for semester in my_semesters %}
                <tr>
                  <td>{{loop.index}}</td>
                  <td>{{semester.short}}</td>
                  <td>
                    <a href = "{{url ('update_semester' ,args=[my_branch.id,semester.id])}}">
                      <img class="action_icons" src="{{static ('admin/details/img/pen.png')}}" alt="pen" title="Edit" onclick="#">
                    <a>
                    <img class="action_icons" src="{{static ('admin/details/img/delete.png')}}" alt="delete" title="Delete" onclick="#">
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
      </div>
{% endblock content %}
