{% extends 'admin/base.html' %}
{% block title %}Shifts{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{{static ('admin/details/dbtable.css')}}">
    <link rel="stylesheet" href="{{static ('form/form.css')}}">
{% endblock css %}
{% block scripts %}
    <script src="{{static ('admin/details/dbtable.js')}}" charset="utf-8"></script>
    <script>
      activate("{{my_department}}.d.a");
      {% if u_name %}
        form_visibility(true);
      {% endif %}
    </script>
{% endblock scripts %}

{% block content %}
  <div class="whole_container" id="whole_container_id">
    <fieldset>
      <legend>{% if u_name %}Update{% else %}Add{% endif %} Shift</legend>
      <form class="myform" method = "POST" {% if not u_name %}style="display: none;"{% endif %}>
        {{csrf_input}}
        <img class="form_hider" src="{{static ('admin/details/img/close.png')}}" alt="hide">
        <div class="input_container">
          <img class="input_icons" src="{{static ('admin/details/img/department.png')}}" alt="dept">
          <input type="text" name="name" {% if u_name %} value = "{{u_name}}"{% endif %} class ="form_input" required maxlength="50"/>
          <label for="" class="form_input_label">
            <div class="text">Shift Name</div>
            <div class="line"></div>
          </label>
        </div>

        <div class="input_container_double">
          <div class="input_container_double_1">
            <img class="input_icons" src="{{static ('admin/details/img/start.png')}}" alt="start">
            <input type="time" class="form_input" name="start_time" {% if u_start_time %} value = "{{u_start_time}}"{% endif %} required autocomplete="off">
            <label for="" class="form_input_label">
              <div class="text">Start Time</div>
              <div class="line"></div>
            </label>
          </div>
          <div class="input_container_double_2">
            <img class="input_icons" src="{{static ('admin/details/img/end.png')}}" alt="end">
            <input type="time" class="form_input" name="end_time" {% if u_end_time %} value = "{{u_end_time}}"{% endif %} required autocomplete="off">
            <label for="" class="form_input_label">
              <div class="text">End Time</div>
              <div class="line"></div>
            </label>

          </div>
        </div>
        <div class="submit_button_container">
          <button type="submit" name="button" class="submit_button">Submit</button>
        </div>
      </form>
      <div class="form_visibility_img_container" >
        <button class="show_form_button" onclick="form_visibility()">
        <p id="myp">Show Form</p>
      </button>
      </div>
      
      {% if integrityErrors %}
        <div class="errors_container">
          <p>
            {{integrityErrors}}
          </p>
        </div>
      {% endif %}

      {% if errors %}
        <div class="errors_container">
          <p>
            {{errors}}
          </p>
        </div>
        <script>
            show_error("{{errors}}")
          </script>
      {% endif %}
    </fieldset>

  <!-- <button type="button" name="button" onclick="toggle_form()">Click</button> -->
    <div class="table_container">
      <div class="table_search_box">
        <input type="text" id = "myinput" name="" placeholder="Search..." onkeyup="searchFun()" >
      </div>
      <table id = "db_table">
        <thead>
          <tr>
            <div class="delete_panel">
              <h1>Shifts for {{my_department}}</h1>
              <a style="display: none;" id="del" onclick="delete_entries()" >
                <img class="action_icons" src="{{static ('admin/details/img/delete.png')}}" alt="delete" title="Delete" >
              </a>
            </div>
            <th>Id</th>
            <th>Shift Name</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Edit</th>
            <th>
              <div class="checkboxes" onclick="checkAll();">
                <input type="checkbox"  id="parent" name="parent" value="parent">
                <label for="parent"></label> 
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for shift in my_shifts %}
            <tr>
              <td>{{loop.index}}</td>
              <td>{{shift.name}}</td>
              <td>{{shift.start_time}}</td>
              <td>{{shift.end_time}}</td>
              <td>
                <a href = "{{url ('update_shift' ,args=[my_department.id,shift.id])}}">
                  <img class="action_icons" src="{{static ('admin/details/img/pen.png')}}" alt="pen" title="Edit" >
                </a>
              </td>
              <td>
                <div class="checkboxes" onclick="checkSelected()">
                  <input type="checkbox" class="del_input" id="{{loop.index}}" name="del" value="{{shift.id}}">
                  <label for="{{loop.index}}"></label>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
