{% extends 'admin/base2.html' %}
{% block title%} Subject Event
{% endblock %}

{% block css%}
<style>
    td,th {
        font-size: .9rem !important;
    }
    @media screen and (max-width: 600px) {
        .h5 {
            font-size:smaller !important;
        }
    }
</style>
{% endblock %}

{%block scripts%}
<script type="application/javascript" src="{{static ('admin/details/dbtable.js') }}" charset="utf-8"></script>
<script type="application/javascript" src="{{static ('select2.js')}}"></script>
<script src="{{static ('admin/details/subject/subject_event.js')}}" charset="utf-8"></script>
    <script type="text/javascript">
      put_data("{{fac}}","{{remaining_lect}}","{{remaining_prac}}");
      {% if update %}
      add_load("{{update.Faculty_id_id}}","{{update.lect_carried}}","{{update.prac_carried}}");
      {% endif %}
      $(document).ready(function() {
        $("#select_fac").select2();
		$("#select_co_fac").select2();
        {% if update or errors or integrityErrors %}
            $("#flush-collapseOne").collapse("show");
        {% endif %}
        let table = $('#example').DataTable({
                "columnDefs" : [{
                    "targets" : [6,7],
                    "orderable" : false,
                    },
                    {responsivePriority: 1, targets: 2},
                    {responsivePriority: 2, targets: 1},
                    {
                        targets : [6,7],
                        className : "all",
                    }
                ],
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                responsive: true,
                "dom": "<'row'<'col-sm-12 col-md-8'l><'col-sm-12 col-md-4 p-1 bg-light rounded rounded-pill shadow-sm mb-4 search_div'>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            });
            $('.search_div').html(`<div id="example_filter" class="dataTables_filter">
                    <div class="input-group">
                        <input type="search" placeholder="What're you searching for?"
                            aria-describedby="button-addon1" class="form-control border-0 bg-light" id="search_box" style="box-shadow:none;outline:none">
                        <div class="input-group-append">
                            <button id="button-addon1" type="submit" style="box-shadow:none;outline:none" class="btn btn-link text-primary"><i
                                    class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>`);
            $('#search_box').keyup(function(){
                table.search($(this).val()).draw() ;
          })
        });
    </script>
{% endblock %}

{% block content %}
<div id = "page_activator" activate-page="{{my_branch.Department_id}}.{{my_branch}}.b"></div>
<div class="main_content">
    <div class="row p-2 ">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{url ('admin_home')}}">
                <i class="fas fa-home"></i>  
              </a></li>
              <li class="breadcrumb-item active" aria-current="page">
                <a href="{{url ('show_sub_det',args=[my_branch.id]) }}">
                    <span class="h6 fw-bold">Add Subject Details</span> 
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <a href="{{url ('show_sub_event',args=[my_subject.id]) }}">
                    <span class="h6 fw-bold">Add Subject Event</span> 
                </a>
              </li>
              {%if update %}
              <li class="breadcrumb-item" aria-current="page">
                <span class="h6 fw-bold">Update Subject Event</span> 
              </li>     
              {%endif%}
            </ol>
          </nav>
        <div class="col-12 mb-4" style="width:80%;margin: 0 auto;">
            <div class="card shadow-sm components-section" style="border-radius: 1rem;">
                <div class="card-body" style="border-radius: 1rem;">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    <h5>{% if update %}Update{% else %}Add{% endif %} Subject Event</h5>
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <form class="myform" method = "POST">
                                        {{csrf_input}}
                                        <div class="row mb-3 mx-lg-5 mx-sm-0">
                                            <!--////////////////Form Goes here///////////-->
                                            {%if update%}
                                                <div class="col-lg-6 col-md-12 col-sm-12">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control myinputs" id="name"
                                                            placeholder="-" name="name" required autocomplete="off" disabled value = "{{update.Faculty_id.User_id}}">
                                                        <label for="name">Faculty Name</label>
                                                    </div>
                                                </div>
												<div class="col-lg-6 col-md-12 col-sm-12">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control myinputs" id="co_faculty_name"
                                                            placeholder="-" name="co_faculty_name" required autocomplete="off" disabled 
															{%if update.Co_faculty_id%}value = "{{update.Co_faculty_id.User_id}}"{%endif%}>
                                                        <label for="co_faculty_name">Co-Faculty Name</label>
                                                    </div>
                                                </div>                                            
                                            {% endif %}
                                            {%if not update%}
                                                <div class="col-lg-6 col-md-12 col-sm-12 text-center">
                                                    <select name="Faculty_id" id="select_fac" >
                                                        <option value="a" disabled selected>Select Faculty </option>
                                                        {% if not update %}
                                                        {% for faculty in my_faculty %}
                                                            <option value="{{faculty.id}}">{{faculty.User_id}} ({{faculty.short}})</option>
                                                        {% endfor %}
                                                        {% else %}
                                                        <option value="{{update.Faculty_id_id}}" selected >{{update.Faculty_id.User_id}} ({{update.Faculty_id.short}})</option>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                                <div class="col-lg-6 col-md-12 col-sm-12 text-center">
                                                    <select name="Co_faculty_id" id="select_co_fac">
                                                        <option value="a" disabled selected>Select Co-Faculty </option>
                                                        {% if not update %}
                                                        {% for faculty in my_faculty %}
                                                            <option value="{{faculty.id}}">{{faculty.User_id}} ({{faculty.short}})</option>
                                                        {% endfor %}
                                                        {% else %}
                                                        <option value="{{update.Faculty_id_id}}" selected >{{update.Faculty_id.User_id}} ({{update.Faculty_id.short}})</option>
                                                        {% endif %}
                                                    </select>
                                                </div>    
                                            {% endif %}

                                            <div class="col-lg-6 col-md-12 col-sm-12">
                                                <div class="form-floating mb-3">
                                                    <input  type="text" class="form-control myinputs" id = "lect"
                                                        placeholder="-"  name="lect_carried" required autocomplete="off" {% if update%}value = {{update.lect_carried}}{% endif %}>
                                                    <label for="lect">Lectures Taken</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-sm-12">
                                                <div class="form-floating mb-3">
                                                    <div class="container" id="max_lect" style="color:black"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-sm-12">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control myinputs" id="prac"
                                                        placeholder="-"  name="prac_carried" required autocomplete="off" {% if update%}value = {{update.prac_carried}}{% endif %}>
                                                    <label for="prac">Practical Taken</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-sm-12">
                                                <div class="form-floating mb-3">
                                                    <div class="container" id="max_prac" style="color: black"></div>
                                                </div>
                                            </div>

                                            <div class="container mt-4" style="width:80%;">
                                                <button type="submit" class="btn btn-outline-success"
                                                    style="width:100%">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                    {% if integrityErrors %}
                                        <div class="list-group">
                                            <span class="list-group-item list-group-item-action list-group-item-danger">
                                                {{integrityErrors}}
                                            </span>
                                        </div>
                                    {% endif %}
                                    {% if errors %}
                                        <div class="list-group">
                                            <span class="list-group-item list-group-item-action list-group-item-danger">
                                                {{errors}}
                                            </span>
                                        </div>
                                        <script>
                                            show_error("{{errors}}")
                                        </script>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-2 table_container">
            <div class="card shadow-sm mb-4 p-2 components-section" style="border-radius: 1rem;">
                <div class="card-body" style="border-radius: 1rem;">
                    <div class="row text-center">
                        <div class="col-lg-12 col-sm-12">
                            <div class="h3 text-center">Events For {{my_subject}}</div>
                            <a style="display: none;" id="del" onclick="delete_entries()" >
                                <img class="input_icons" src="{{static ('admin/details/img/trash.png')}}" alt="Delete">
                            </a>
                        </div>
                    </div>
                    <div class="table">
                        <div class="row">
                            <div class="col-6 col-sm-6 h5 text-center">Remaining Lectures : {{remaining_lect}}</div>
                            <div class="col-6 col-sm-6 h5 text-center">Remaining Practicals : {{remaining_prac}}</div>
                        </div>
                        <table class="table nowrap responsive compact mb-0 rounded text-center" id="example">
                            <thead class="thead-light">
                                <tr>
                                    <th class="border-0"><i class="fas fa-hashtag"></i></th>
                                    <th class="border-0 fw-bold">Faculty</th>
                                    <th class="border-0 fw-bold">Co-Faculty</th>
                                    <th class="border-0 fw-bold">Practicals</th>
                                    <th class="border-0 fw-bold">Lectures</th>
                                    <th class="border-0 fw-bold">Total Hrs.</th>
                                    <th class="border-0 fw-bold">Edit</th> 
                                    <th class="border-0 text-center">
                                        <div class="form-check" onclick="checkAll();">
                                            <input class="form-check-input" type="checkbox" value="parent"
                                                id="parent" name="parent">
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for event in Subject_event %}
                                <tr>
                                    <td clas="fw-bold">{{loop.index}}</td>
                                    <td class="fw-bold">{{event.Faculty_id.short}}</td>
                                    <td class="fw-bold">
										{%if event.Co_faculty_id.short %}
											{{event.Co_faculty_id.short}}
										{% else %}
											- 
										{% endif %}
									</td>
                                    <td class="fw-bold">{{event.prac_carried}}</td>
                                    <td class="fw-bold">{{event.lect_carried}}</td>
                                    <td class="fw-bold">{{event.total_load_carried()}} Hrs.</td>
                                    <td>
                                        <a href = "{{url ('update_sub_event' ,args=[my_subject.id,event.Faculty_id_id])}}">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <div class="form-check" onclick="checkSelected()">
                                            <input class="form-check-input del_input" type="checkbox"
                                            id="{{loop.index}}" name="del" value="{{event.id}}" input_name="{{event}}">
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}