{% extends 'admin/base.html' %}
{% block title %}Subject Details{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{{static ('admin/details/dbtable.css')}}">
    <link rel="stylesheet" href="{{static ('form/form.css')}}">
{% endblock css %}
{% block scripts %}
    <script src="{{static ('admin/details/dbtable.js')}}" charset="utf-8"></script>
    <script>
      $("#semester").select2();
    </script>
{% endblock scripts %}

{% block content %}
  <div class="whole_container" id="whole_container_id">
    <fieldset>
      <legend>{% if u_name %}Update{% else %}Add{% endif %} Subject Details</legend>
      <form class="myform" method = "POST" {% if not u_name %}style="display: none;"{% endif %}>
        {{csrf_input}}
        <img class="form_hider" src="{{static ('admin/details/img/close.png')}}" alt="hide">
        <div class="input_container_double">
            <div class="input_container_double_1">
              <img class="input_icons" src="{{static ('admin/details/img/subname.png')}}" alt="start">
              <input type="text" class="form_input" name="name" required autocomplete="off">
              <label for="" class="form_input_label">
                <div class="text">Subject Name</div>
                <div class="line"></div>
              </label>
            </div>
            <div class="input_container_double_2">
              <img class="input_icons" src="{{static ('admin/details/img/subshort.png')}}" alt="end">
              <input type="text" class="form_input" name="short" required autocomplete="off">
              <label for="" class="form_input_label">
                <div class="text">Short Name</div>
                <div class="line"></div>
              </label>

            </div>
          </div>
          <div class="input_container_double">
            <div class="input_container_double_1">
              <img class="input_icons" src="{{static ('admin/details/img/one.png')}}" alt="start">
              <input type="text" class="form_input" name="lect_per_week" required autocomplete="off">
              <label for="" class="form_input_label">
                <div class="text">Lectures per week</div>
                <div class="line"></div>
              </label>
            </div>
            <div class="input_container_double_2">
              <img class="input_icons" src="{{static ('admin/details/img/two.png')}}" alt="end">
              <input type="text" class="form_input" name="prac_per_week" required autocomplete="off">
              <label for="" class="form_input_label">
                <div class="text">Practicals per week</div>
                <div class="line"></div>
              </label>
            </div>
          </div>
            <div class="select2_container">
              <select name="Semester_id" id="semesters">
                <option value="a" disabled >Pick a semester </option>
                {% for semester in my_semesters %}
                  <option value="{{semester.id}}">{{semester}}</option>
                {% endfor %}
              </select>
            </div>
          <h3>Select Colour for Subject</h3>
          <div class="color_palette_container">
            <input type="radio" name="color" id="rad1" value="#7377a5">
            <label for="rad1">
              <div class="colors" style="background-color: #7377a5;"></div>
            </label>

            <input type="radio" name="color" id="rad2" value="#ffbf00">
            <label for="rad2">  
              <div class="colors" style="background-color: #ffbf00;"></div>
            </label>
            <input type="radio" name="color" id="rad3" value="#00b3b3">
            <label for="rad3">  
              <div class="colors" style="background-color: #00b3b3;"></div>
            </label>
            
            <input type="radio" name="color" id="rad4" value="#ff8080">
            <label for="rad4">  
              <div class="colors" style="background-color: #ff8080;"></div>
            </label>

            <input type="radio" name="color" id="rad5" value="#d65c7a">
            <label for="rad5">
              <div class="colors" style="background-color: #d65c7a;"></div>
            </label>

            <input type="radio" name="color" id="rad6" value="#66cc66">
            <label for="rad6">
              <div class="colors" style="background-color: #66cc66;"></div>
            </label>

            <input type="radio" name="color" id="rad7" value="#33cccc">
            <label for="rad7">
              <div class="colors" style="background-color: #33cccc;"></div>
            </label>

            <input type="radio" name="color" id="rad8" value="#3333ff">
            <label for="rad8">
              <div class="colors" style="background-color: #3333ff;"></div>
            </label>

            <input type="radio" name="color" id="rad9" value="#ff3333">
            <label for="rad9">
              <div class="colors" style="background-color: #ff3333;"></div>
            </label>
          </div>
        <div class="submit_button_container">
          <button type="submit" name="button" class="submit_button">Submit</button>
        </div>

        {% if integrityErrors %}
          <div class="errors_container">
            <p>
              {{integrityErrors}}
            </p>
          </div>
        {% endif %}
        
        {% if errors %}
        <div class="errors_container">
          <p>
            {{errors}}
          </p>
        </div>
        <script>
          show_error("{{errors}}")
        </script>
      {% endif %}
      </form>
      <div class="form_visibility_img_container" >
        <button class="show_form_button" onclick="form_visibility()" >
          <p id="myp">Show Form</p>
        </button>
      </div>
      {% if integrityErrors %}
      <div class="errors_container">
        <p>
          {{integrityErrors}}
        </p>
      </div>
      {% endif %}
      {% if errors %}
        <div class="errors_container">
          <p>
            {{errors}}
          </p>
        </div>
      {% endif %}
    </fieldset>

<!-- <button type="button" name="button" onclick="toggle_form()">Click</button> -->
    <div class="table_container">
      <div class="table_search_box">
        <input type="text" id = "myinput" name="" placeholder="Search..." onkeyup="searchFun()" >
      </div>
      <table id = "db_table">
        <thead>
          <tr>
            <div class="delete_panel">
              <h1>Subjects for {{my_branch}}</h1>
              <a style="display: none;" id="del" onclick="delete_entries()" >
              <img class="action_icons" src="{{static ('admin/details/img/delete.png')}}" alt="delete" title="Delete" >
              </a>
            </div>
            <th>Id</th>
            <th>Subject Name</th>
            <th>Short</th>
            <th>Semester</th>
            <th>[Lect,Prac]</th>
            <th>Load</th>
            <th>Edit</th>
            <th>
              <div class="checkboxes" onclick="checkAll();">
              <input type="checkbox"  id="parent" name="parent" value="parent">
              <label for="parent"></label> 
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          {% set vars = { "foo":my_subjects[0].Semester_id } %}
          {% for subject in my_subjects %}
            {% if vars.foo != subject.Semester_id %}
            {% if vars.update({ "foo":subject.Semester_id }) %} {%endif%}
            <tr>
              <td colspan="8" style="text-align: center;pointer-events: none;">-------------------------------------------------------------</td>
            </tr>

            {%endif%}

            <tr>
              <td>{{loop.index}}</td>
              <td>{{subject.name}}</td>
              <td>{{subject.short}}</td>
              <td>{{subject.Semester_id}}</td>
              <td>[{{subject.lect_per_week}} , {{subject.prac_per_week}}]</td>
              <td>{{subject.load_per_week}}</td>
              <td>
              <a href = "{{url ('update_sub_det' ,args=[my_branch.id,subject.id])}}">
                  <img class="action_icons" src="{{static ('admin/details/img/pen.png')}}" alt="pen" title="Edit" >
              </a>
              </td>
              <td>
              <div class="checkboxes" onclick="checkSelected()">
                  <input type="checkbox" class="del_input" id="{{loop.index}}" name="del" value="{{subject.id}}">
                  <label for="{{loop.index}}"></label>
              </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
