{% extends 'admin/base.html' %}
{% block title %}Subject Details{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{{static ('admin/details/dbtable.css')}}">
    <link rel="stylesheet" href="{{static ('form/form.css')}}">
{% endblock css %}
{% block scripts %}
    <script src="{{static ('admin/details/dbtable.js')}}" charset="utf-8"></script>
    <!-- <script src="{{static ('form/form.js')}}" charset="utf-8"></script> -->
{% endblock scripts %}

{% block content %}
  <div class="whole_container" id="whole_container_id">
    <fieldset>
      <legend>{% if u_name %}Update{% else %}Add{% endif %} Subject Details</legend>
      <form class="myform" method = "POST" {% if not u_name %}style="display: none;"{% endif %}>
        {{csrf_input}}
        <img class="form_hider" src="{{static ('admin/details/img/close.png')}}" alt="hide">
        <div class="input_container_double">
            <div class="input_container_double_1">
              <img class="input_icons" src="{{static ('admin/details/img/subname.png')}}" alt="start">
              <input type="text" class="form_input" name="sub_name" required autocomplete="off">
              <label for="" class="form_input_label">
                <div class="text">Subject Name</div>
                <div class="line"></div>
              </label>
            </div>
            <div class="input_container_double_2">
              <img class="input_icons" src="{{static ('admin/details/img/subshort.png')}}" alt="end">
              <input type="text" class="form_input" name="sub_short" required autocomplete="off">
              <label for="" class="form_input_label">
                <div class="text">Short Name</div>
                <div class="line"></div>
              </label>

            </div>
          </div>
          <div class="input_container_double">
            <div class="input_container_double_1">
              <img class="input_icons" src="{{static ('admin/details/img/one.png')}}" alt="start">
              <input type="text" class="form_input" name="lect" required autocomplete="off">
              <label for="" class="form_input_label">
                <div class="text">Lectures per week</div>
                <div class="line"></div>
              </label>
            </div>
            <div class="input_container_double_2">
              <img class="input_icons" src="{{static ('admin/details/img/two.png')}}" alt="end">
              <input type="text" class="form_input" name="prac" required autocomplete="off">
              <label for="" class="form_input_label">
                <div class="text">Practicals per week</div>
                <div class="line"></div>
              </label>
            </div>
          </div>
          <h3>Select Colour for Subject</h3>
          <div class="color_palette_container">

            <input type="radio" name="rad" id="rad1" value="1">
            <label for="rad1">
              <div class="colors" style="background-color: aqua;"></div>
            </label>

            <input type="radio" name="rad" id="rad2" value="2">
            <label for="rad2">  
              <div class="colors" style="background-color: brown;"></div>
            </label>
            <input type="radio" name="rad" id="rad3" value="3">
            <label for="rad3">  
              <div class="colors" style="background-color: aquamarine;"></div>
            </label>
            
            <input type="radio" name="rad" id="rad4" value="4">
            <label for="rad4">  
              <div class="colors" style="background-color: beige;"></div>
            </label>

            <input type="radio" name="rad" id="rad5" value="5">
            <label for="rad5">
              <div class="colors" style="background-color: chartreuse;"></div>
            </label>

            <input type="radio" name="rad" id="rad6" value="6">
            <label for="rad6">
              <div class="colors" style="background-color: firebrick;"></div>
            </label>

            <input type="radio" name="rad" id="rad7" value="7">
            <label for="rad7">
              <div class="colors" style="background-color: aqua;"></div>
            </label>

            <input type="radio" name="rad" id="rad8" value="8">
            <label for="rad8">
              <div class="colors" style="background-color: gold;"></div>
            </label>

            <input type="radio" name="rad" id="rad9" value="9">
            <label for="rad9">
              <div class="colors" style="background-color: hotpink;"></div>
            </label>

            <input type="radio" name="rad" id="rad10" value="10">
            <label for="rad10">
              <div class="colors" style="background-color: gold;"></div>
            </label>

          </div>
        <div class="submit_button_container">
          <button type="submit" name="button" class="submit_button">Submit</button>
        </div>

        {% if integrityErrors %}
          <div class="errors_container">
            <p>
              {{integrityErrors}}
            </p>
          </div>
        {% endif %}
        
        {% if errors %}
        <div class="errors_container">
          <p>
            {{errors}}
          </p>
        </div>
      {% endif %}
      </form>
      <div class="form_visibility_img_container" >
        <button class="show_form_button" onclick="form_visibility()" >
          <p id="myp">Show Form</p>
        </button>
      </div>
      {% if integrityErrors %}
      <div class="errors_container">
        <p>
          {{integrityErrors}}
        </p>
      </div>
      {% endif %}
      {% if errors %}
        <div class="errors_container">
          <p>
            {{errors}}
          </p>
        </div>
      {% endif %}
    </fieldset>

<!-- <button type="button" name="button" onclick="toggle_form()">Click</button> -->
    <div class="table_container">
      <div class="table_search_box">
        <input type="text" id = "myinput" name="" placeholder="Search..." onkeyup="searchFun()" >
      </div>
      <table id = "db_table">
        <thead>
          <tr>
            <div class="delete_panel">
              <h1>Faculties for {{institute}}</h1>
              <a style="display: none;" id="del" onclick="delete_entries()" >
              <img class="action_icons" src="{{static ('admin/details/img/delete.png')}}" alt="delete" title="Delete" >
              </a>
            </div>
            <th>Id</th>
            <th>Department Name</th>
            <th>Short</th>
            <th>Edit</th>
            <th>
              <div class="checkboxes" onclick="checkAll();">
              <input type="checkbox"  id="parent" name="parent" value="parent">
              <label for="parent"></label> 
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for department in departments %}
            <tr>
              <td>{{loop.index}}</td>
              <td>{{department.name}}</td>
              <td>{{department.short}}</td>
              <td>
              <a href = "{{url ('update_department' ,args=[department.id])}}">
                  <img class="action_icons" src="{{static ('admin/details/img/pen.png')}}" alt="pen" title="Edit" >
              </a>
              </td>
              <td>
              <div class="checkboxes" onclick="checkSelected()">
                  <input type="checkbox" class="del_input" id="{{loop.index}}" name="del" value="{{department.id}}">
                  <label for="{{loop.index}}"></label>
              </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
