@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
/* #region  Universal selectors */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color: #131a24;
}

body {
  font-family: "Poppins", sans-serif;
}

hr {
  background-color: white;
}

b a {
  text-decoration: none !important;
  color: black !important;
}

b a:hover {
  text-decoration: none !important;
}

.h4 {
  font-family: "Poppins", sans-serif;
}

/* #endregion */
/* #region  Navbar */
.navbar {
  background-color: #131a24 !important;
}

/* #endregion */
.container-fluid.pt-4 {
  background-color: #131a24 !important;
}

/* #region  TimeTable */
#t1 {
  text-align: center;
  width: 100%;
  table-layout: fixed;
  color: #e0e0e0;
}

#t1 th {
  border: 1px solid white;
  padding: 10px;
  font-weight: bolder;
}

#t1 td {
  border: 1px solid white;
  width: auto;
  padding: 0 7px;
}

.faculty table tbody tr {
  height: 20px !important;
}

#t1 td:nth-of-type(1),
th:nth-of-type(1) {
  /*For first column of the table*/
}

#t1 .card {
  background-color: transparent;
  border: none;
  outline: none;
}

#prac .btn {
  height: 7rem;
  color: #e0e0e0;
}

#lect .btn {
  color: white !important;
}

.table .btn {
  width: auto;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.table .btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.td_active {
  background-color: #0a101a !important;
}

.faculty .batch-name, .student .batch-name {
  text-align: left !important;
}

.faculty .resource-name, .student .resource-name {
  text-align: right !important;
}

.faculty .division-name, .student .faculty-name {
  text-align: left !important;
}

/* #endregion */
/* #region  Progress Bar */
#myProgress,
#timeBar .text {
  color: white !important;
}

.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  border-radius: 5px;
}

.glow-safari {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  border-radius: 5px;
}

.container#text {
  padding-bottom: 0;
  margin-top: 3em;
}

@-webkit-keyframes glow {
  from {
    background-color: #333;
    color: white !important;
  }
  to {
    background-color: #464646;
    color: white !important;
  }
}

@-webkit-keyframes glow-safari {
  from {
    background-color: red;
    color: white !important;
  }
  to {
    background-color: #f80b0b;
    color: white !important;
  }
}

/* #endregion */
.radio-inline {
  padding-right: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 3px;
}

:root {
  scrollbar-color: #525252 #1f1f24 !important;
  scrollbar-width: thin !important;
}

.modal-body,
.modal-title,
.modal-footer,
.modal-header,
.modal-content {
  background-color: #18181d !important;
  color: white !important;
}

.modal-footer {
  border-top: none !important;
}

.modal .btn {
  color: white !important;
}

/* #region  Sidebar Button*/
.sidebar {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@-webkit-keyframes sidebar {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  8.0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  12.0% {
    -webkit-transform: rotate(42deg);
            transform: rotate(42deg);
    opacity: 1;
  }
  16.0% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
    opacity: 1;
  }
  20.0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  23.0% {
    -webkit-transform: rotate(28deg);
            transform: rotate(28deg);
    opacity: 1;
  }
  26.0% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
    opacity: 1;
  }
  29.0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  31.0% {
    -webkit-transform: rotate(16deg);
            transform: rotate(16deg);
    opacity: 1;
  }
  33.0% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
    opacity: 1;
  }
  35.0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  37.0% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
    opacity: 1;
  }
  39.0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes sidebar {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  8.0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  12.0% {
    -webkit-transform: rotate(42deg);
            transform: rotate(42deg);
    opacity: 1;
  }
  16.0% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
    opacity: 1;
  }
  20.0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  23.0% {
    -webkit-transform: rotate(28deg);
            transform: rotate(28deg);
    opacity: 1;
  }
  26.0% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
    opacity: 1;
  }
  29.0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  31.0% {
    -webkit-transform: rotate(16deg);
            transform: rotate(16deg);
    opacity: 1;
  }
  33.0% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
    opacity: 1;
  }
  35.0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  37.0% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
    opacity: 1;
  }
  39.0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
}

/* #endregion Sidebar button*/
/* #region  Feedback Panel & Offcanvas */
.offcanvas.feedback_panel {
  background-color: #101820 !important;
  color: white !important;
}

.offcanvas-header {
  border-bottom: 1px solid #b4b4b4;
}

#feedback_body {
  scrollbar-width: thin;
  /* "auto" or "thin" */
  scrollbar-color: #abacad #f1f4f6;
  /* scroll thumb and track */
}

.tab-content {
  overflow-y: auto !important;
  scrollbar-width: thin;
  /* "auto" or "thin" */
  scrollbar-color: #797979 #000000;
  /* scroll thumb and track */
}

.tab-content::-webkit-scrollbar {
  width: 7px !important;
  height: 10px !important;
  background-color: #000000;
}

.tab-content::-webkit-scrollbar-thumb {
  background-color: #797979 !important;
  border-radius: 3px !important;
}

nav.for-feedback-and-sticky .nav-tabs {
  border-bottom: none !important;
}

nav.for-feedback-and-sticky .nav-tabs .span {
  background-color: transparent !important;
  border: none !important;
  color: white !important;
}

nav.for-feedback-and-sticky .nav-tabs .badge.new {
  font-size: 0.55em;
  vertical-align: middle;
}

nav.for-feedback-and-sticky .nav-tabs span:hover {
  border: none !important;
}

nav.for-feedback-and-sticky .nav-tabs span.active {
  border-bottom: 1px solid #4747ff !important;
  color: #4747ff !important;
}

#feedback_body .container {
  border-radius: 10px;
  padding: 1em;
  width: 90%;
  border: 1px solid #2dce89;
  margin-bottom: 1em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#feedback_body .container:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#feedback_body .feedback_form_card,
#mandatory_panel .feedback_form_card,
#sticky_note .sticky_card {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white !important;
  background-color: transparent;
  border: 1px solid white;
}

#feedback_body .feedback_form_card .btn,
#mandatory_panel .feedback_form_card .btn {
  width: 90%;
}

#feedback_body .feedback_form_card:hover,
#mandatory_panel .feedback_form_card:hover,
#sticky_note .sticky_card:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mandatory_feedback_event {
  color: white !important;
}

/* #endregion  Feedback Panel & Offcanvas*/
/* #region  Sticky note  */
#sticky_note .sticky_card:first-of-type {
  margin-top: 1em;
}

#sticky_note #sticky_note_form .myinputs,
#sticky_note #sticky_note_form .textarea {
  background-color: transparent !important;
  color: white !important;
}

/* #endregion */
/* #region  Swal buttons  */
.swal2-confirm.swal2-styled.swal2-default-outline {
  background-color: #2dce89 !important;
}

/* #endregion */
/* #region  Feedback Modal Radio button */
#querybox {
  background-color: #18181d;
  color: white !important;
}

.required_star {
  color: red;
}

.feedback-modal input[type="radio"] {
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
          appearance: none !important;
  display: none !important;
}

.feedback-modal .radio-inline:hover {
  color: white !important;
}

.feedback-modal .radio-inline:nth-of-type(1) {
  border-color: #05ff92 !important;
  margin-right: 10px;
}

.feedback-modal .radio-inline:nth-of-type(1):hover,
.feedback-modal input[type="radio"]:checked + label:nth-of-type(1) {
  background-color: #05ff92 !important;
  color: black !important;
}

.feedback-modal .radio-inline:nth-of-type(2) {
  border-color: #2dce89 !important;
  margin-right: 10px;
}

.feedback-modal .radio-inline:nth-of-type(2):hover,
.feedback-modal input[type="radio"]:checked + label:nth-of-type(2) {
  background-color: #2dce89 !important;
}

.feedback-modal .radio-inline:nth-of-type(3) {
  border-color: #fff675 !important;
  margin-right: 10px;
}

.feedback-modal .radio-inline:nth-of-type(3):hover,
.feedback-modal input[type="radio"]:checked + label:nth-of-type(3) {
  background-color: #fff675 !important;
  color: black !important;
}

.feedback-modal .radio-inline:nth-of-type(4) {
  border-color: #ff7d7d !important;
  margin-right: 10px;
}

.feedback-modal .radio-inline:nth-of-type(4):hover,
.feedback-modal input[type="radio"]:checked + label:nth-of-type(4) {
  background-color: #ff7d7d !important;
}

.feedback-modal .radio-inline:nth-of-type(5) {
  border-color: #ff5537 !important;
  margin-right: 10px;
}

.feedback-modal .radio-inline:nth-of-type(5):hover,
.feedback-modal input[type="radio"]:checked + label:nth-of-type(5) {
  background-color: #ff5537 !important;
}

/* #endregion */
/* #region  Feedback Charts & Card */
.charts_container .card .card-title,
.charts_container .card .card-text {
  font-family: "Poppins", sans-serif;
}

.charts_container .row .card {
  background-color: #dde0ee;
  font-family: "Poppins", sans-serif;
  color: black !important;
  border-radius: 14px;
}

.charts_container .row .chart .card {
  background-color: #dde0ee !important;
}

#text {
  /*Text for Upcoming events */
  color: white !important;
}

.btn-close {
  background-color: white !important;
}

/* #endregion */
/* #region  Mobile Devices */
@media screen and (max-width: 600px) {
  /* #region  Timetable */
  #t1 {
    width: 100%;
    font-size: 10px;
  }
  #t1 th {
    padding: 5px 2px;
  }
  #lect .btn {
    margin: 7px 0.5em 0 0.5em;
    padding: 5px 2px;
  }
  #prac .btn {
    height: 80px;
    padding: 0;
    margin: 0 0.9em;
    -webkit-writing-mode: vertical-rl !important;
        -ms-writing-mode: tb-rl !important;
            writing-mode: vertical-rl !important;
    text-orientation: upright !important;
  }
  #t1 .btn {
    font-size: 11px;
  }
  .faculty .batch-name, .student .batch-name {
    text-align: left !important;
  }
  .faculty .resource-name, .student .resource-name {
    text-align: right !important;
  }
  .faculty .division-name, .student .faculty-name {
    text-align: left !important;
  }
  /* #endregion */
  #agenda_panel {
    font-size: 15px;
  }
  #agenda_panel .container {
    border-radius: 10px;
    padding: 0.7em;
    width: 95%;
    margin-bottom: 1em;
    border: 1px solid grey;
  }
  #text,
  #text2 {
    font-size: 15px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .container#text2 {
    margin-bottom: 0em;
  }
  .modal-body {
    font-size: smaller;
  }
  .h5.text-center {
    font-size: 15px;
  }
  .radio-inline {
    padding-right: 0px;
  }
  .modal .btn {
    font-size: smaller !important;
    margin-bottom: 5px;
  }
  .feedback-modal .radio-inline:nth-of-type(n) {
    margin-right: 1px;
    padding: 5px;
  }
  .modal .h5 {
    font-size: smaller !important;
  }
  .modal-dialog {
    margin: 0 !important;
  }
  #sidebar {
    width: 30px !important;
    height: 30px !important;
  }
  .mandatory_feedback_event span.h5 {
    font-size: smaller !important;
  }
  .mandatory_feedback_event {
    margin-bottom: 20px;
  }
  /* #region  Chart Settings */
  .charts_container .card-title,
  .charts_container .card-body {
    font-size: smaller;
  }
  .questions .card-header .h6,
  .questions .card-body .h6 {
    font-size: 12px;
    margin-bottom: 20px;
  }
  #show_week {
    font-size: smaller;
  }
  .questions .card-header {
    font-size: 1.25rem;
  }
  .question_card {
    width: 100%;
  }
  .charts_container .card-body {
    padding: 1rem;
  }
  .charts_container .card {
    margin-top: 10px;
  }
  .charts_container .card-title,
  .charts_container .card-text {
    margin-bottom: 0 !important;
  }
  .table > :not(caption) > * > * {
    padding: 0 !important;
  }
}

/* #endregion */
/* #endregion */
/* #region  Medium Screen Devices */
@media screen and (max-width: 1366px) and (min-width: 601px) {
  .faculty table tbody tr {
    height: 90px !important;
  }
  .faculty #prac .btn {
    height: 90px !important;
    padding: 0;
    margin: 0 0.1em;
  }
}

/* #endregion */
/* #region  Bigger Monitors (> 1366px) */
@media screen and (max-width: 1700px) and (min-width: 1367px) {
  .student #prac .btn {
    height: 130px !important;
    padding: 0;
    margin: 0 0.1em;
  }
  .faculty #prac .btn {
    height: 110px !important;
    padding: 0;
    margin: 0 0.1em;
  }
  .faculty table tbody tr {
    height: 89px !important;
  }
}

/* #endregion */
/*# sourceMappingURL=Student_dark.css.map */