{% extends 'login_V2/login_base.html' %} {% block title %}Forgot Password{% endblock title %} {% block css %}
<meta charset="UTF-8" />
<link rel="stylesheet" href="{{static ('forgot/forgot.css')}}" />
<!-- <link rel="stylesheet" href="{{static ('login/login2.css')}}" /> -->
{% endblock css %} {% block scripts %}
<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
<!-- <script src="{{static ('login/login2.js') }}" type="text/javascript"></script>  JS for 3D form  -->
<script>
    $(function () {
        $("#sign-in-btn").click(function () {
            $(".login_container").removeClass("sign-up-mode");
          });
          $("#sign-up-btn").click(function () {
            $(".login_container").addClass("sign-up-mode");
        });
    });
          function visibility1() {
              var a = document.getElementById("myinput1");
    var b = document.getElementById("hide1");
    var c = document.getElementById("hide2");
    if (a.type === "password") {
        a.type = "text";
        b.style.display = "inline";
        c.style.display = "none";
    } else if (a.type === "text") {
      a.type = "password";
      b.style.display = "none";
      c.style.display = "inline";
    }
  }
  function visibility2() {
    var x = document.getElementById("myinput2");
    var y = document.getElementById("hide3");
    var z = document.getElementById("hide4");

    if (x.type === "password") {
      x.type = "text";
      y.style.display = "inline";
      z.style.display = "none";
    } else if (x.type === "text") {
      x.type = "password";
      y.style.display = "none";
      z.style.display = "inline";
    }
  }
</script>
{% endblock scripts %} {% block content %}
<div class="login_container mt-4">
  <div class="forms-container">
    <div class="signin-signup">
      <form class="sign-in-form" method="POST">
        {{ csrf_input }}
        <h2 class="title">Enter your new credentials</h2>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input id="myinput1" type="password" name="new_password1" placeholder="New Password" required autocomplete="off" />
          <span id="eye" class="eye" onclick="visibility1()" style="position: absolute;left: 90%;">
            <i class="fa fa-eye fa-lg" style="display:none;" id="hide1" aria-hidden="true"></i>
            <i class="fa fa-eye-slash fa-lg " id="hide2" aria-hidden="true"></i>
          </span>
        </div>

        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input id="myinput2" type="password" name="new_password2" placeholder="Confirm Password" required autocomplete="off" />
          <span id="eye" class="eye" onclick="visibility2()" style="position: absolute;left: 90%;">
            <i class="fa fa-eye fa-lg" style="display:none;" id="hide3" aria-hidden="true"></i>
            <i class="fa fa-eye-slash fa-lg " id="hide4" aria-hidden="true"></i>
          </span>
        </div>
		<!-- <button class="button" type="submit">
            Reset
            <div class="side-top-bottom"></div>
            <div class="side-left-right"></div>
		</button> -->
        <!-- <div class="form" id="form">
          <div class="field password">
            <div class="icon"></div>
            <input class="input" name="new_password1" type="password" placeholder="New Password" autocomplete="off" required />
          </div>
          <div class="field password">
            <div class="icon"></div>
            <input class="input" name="new_password2" type="password" placeholder="Confirm Password" autocomplete="off" required />
          </div>
          <button class="button" type="submit">
            LOGIN
            <div class="side-top-bottom"></div>
            <div class="side-left-right"></div>
          </button>
          {% if message %}
          <div class="errors_container mt-1">
            <p style="color: #000000">{{message}}</p>
          </div>
          {% endif %}
        </div> -->
        <input type="submit" value="Login" class="login_btn solid" />
		{% if form.errors %}
        <div class="errors_container">
          <p class="list-group-item list-group-item-danger">
            {{form.errors}}
          </p>
        </div>
        {% endif %}
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <img src="{{static ('login/img/forgot.png') }}" class="image" alt="" />
    </div>
  </div>
</div>
{% endblock content %}
