.charts_container {
    width: 100%;
}
.col-lg-2 {
    position: relative;
}
.show_parent,.row {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    // position: absolute;
}
 .col-sm-12{
    padding-left: 0 !important;
}
.btn.btn-outline-success {
    color: #2dce89 !important;
    border-color: #2dce89 !important;
  }
  .btn.btn-success {
    background-color: #2dce89 !important;
    border-color: #2dce89 !important;
  }
  .btn.btn.btn-success:hover {
    background-color: #04a55f !important;
    border-color: #04a55f !important;
  }
  .btn.btn-outline-success:hover {
    background-color: #2dce89 !important;
    color: #fff !important;
  }
@media screen and (max-width: 600px) {
    .charts_container {
        padding : 0 !important;
    }
    .col-sm-12{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .carousel-item .card-title .col-sm-12{  //for margin of active/inactive status button in mandatory feedback
        margin-bottom: .5rem !important;
    }
    // #mandatory_feedback_carousal {
    //     height : 100px
    // }
}