.charts_container {
    height: 90vh;
    overflow-y: hidden;
}
.col-2 {
    position: relative;
}
.show_child,.row {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    position: absolute;
}