{% extends 'admin/base.html' %}
{% block title %}Batch{% endblock title %}
{% block css %}
	<link rel="stylesheet" href="{{static ('admin/details/timetable.css') }}">
	<style>
		.not_available_td{
			background-color : red;
		}
		.here{
			background-color : blue;
		}
	</style>
{%endblock%}
{% block scripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script src="{{static ('try/time_table.js') }}"></script>
	<script>
		put_data("{{slots_json}}","{{subject_events_json}}");
	</script>
{%endblock%}
{% block content %}
<div class="card-container">
	<div class="card-list">
		{% for subject_event in subject_events %}
			{% if subject_event.lect_carried%}
				<div class = "draggable" subject_event_id = "{{subject_event.id}}">
				<article class="card">
					<header class="card-header">
					<h2>{{subject_event.Subject_id}}</h2>
					</header> 
					<div class="author-name">
					By {{subject_event.Faculty_id}}
					</div>
				</article>
				</div>
			{% endif %}
			{% if subject_event.prac_carried%}
				<div class = "draggable" subject_event_id = "{{subject_event.id}}" is_prac="true">
				<article class="card">
					<header class="card-header">
					<h2>{{subject_event.Subject_id}} prac</h2>
					</header> 
					<div class="author-name">
					By {{subject_event.Faculty_id}}
					</div>
				</article>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
<table style = "width:990px;" class="main_table">
	<thead>
		<th>
			Time
		</th>
		{% for day in working_days %} 	<!--for all days in database-->
      		<th>
				{{day.Days_id}}
			</th>
		{% endfor %}
	</thead>
	<tbody class="table_time">
		{% for timing in timings %} <!--for all time periods in database-->
			<tr timing_id={{timing.id}}>
			{% if timing.is_break %}
				<th class="time">
					<p>
						{{timing.name}}<br>
						[{{timing.return_time()}}]
					</p>
				</th>
				{% set len = working_days|length %}
				<th colspan="{{len}}" class = "isBreak">
					<h1>{{timing.name}}</h1>
				</th>
			{% else %}
			<th class="time">
				<p>
					{{timing.name}}<br>
					[{{timing.return_time()}}]
				</p>
			</th>
			{% for day in working_days %}
			<td class="droppable">
			</td>
			{% endfor %}
			{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
{{csrf_input}}
<button onclick = "submited()">ksdJSDHkjdhadjhADH</button>

{%endblock%}
