<link rel="stylesheet" href="{{static ('OLD_stuff/index.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="{{static ('OLD_stuff/index.js') }}"></script>
<div class="card-container">
    <section class="card-list">
	  
		<article class="card">
			<div class="lec"><p>Practical</p></div>
			<header class="card-header">
				<h3>DBMS</h3>
			</header> 
			<div class="author-name">
				Author : URT
			</div>
		  </article>
	
	  <article class="card card_for_lec">
		<div class="prac"><p>Lecture</p></div>
			<header class="card-header">
				<h3>DS</h3>
			</header>
			<div class="author-name">
				Author : US
			</div>
	  </article>

      <article class="card">
		<div class="lec"><p>Practical</p></div>
		<header class="card-header">
			<h3>DBMS</h3>
		</header> 
		<div class="author-name">
			Author : URT
		</div>
	  </article>

  <article class="card card_for_lec">
	<div class="prac"><p>Lecture</p></div>
		<header class="card-header">
			<h3>DS</h3>
		</header>
		<div class="author-name">
			Author US
		</div>
  </article>
	  
  <article class="card">
	<div class="lec"><p>Practical</p></div>
	<header class="card-header">
		<h3>DBMS</h3>
	</header> 
	<div class="author-name">
		Author URT
	</div>
  </article>

<article class="card card_for_lec">
<div class="prac"><p>Lecture</p></div>
	<header class="card-header">
		<h3>DS</h3>
	</header>
	<div class="author-name">
		Author US
	</div>
</article>

    </section>
    </div>

<table style = "width:990px;" class="main_table">
	<thead>
		<th>
			Time
		</th>
		{% for day in working_days %} 	<!--for all days in database-->
      <th>
			{{day.Days_id}}
			</th>
		{% endfor %}
	</thead>
	<tbody class="table_time">
		{% for timing in timings %} <!--for all time periods in database-->
			<tr>
				<th>
					<p>
						{{timing}}
					</p>
				</th>
				{% for day in working_days %}
					<td class = "droppable">
						<div class = "td_div"></div>
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
