{% extends 'admin/base.html' %}
{% block title %}Batch{% endblock title %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{static ('admin/details/timetable.css') }}">
<link rel="stylesheet" type="text/css" href="{{static ('admin/time_table/grid_table.css') }}">
<link rel="stylesheet" type="text/css" href="{{static ('Bootstrap/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{static ('admin/details/select2/select2.css')}}">
<link rel="stylesheet" href="{{static ('admin/details/select2/myselect2.css')}}">
<style>
    .not_available_td {
        background-color: red;
    }

    .available_td {
        background-color: green;
    }

    .here {
        background-color: blue;
    }
</style>
{%endblock%}
{% block scripts %}
<script src="{{static ('Bootstrap/bootstrap.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
    integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="{{static ('try/time_table2.js') }}"></script>
<script>
    put_data({{ slots_json| safe}}, {{ subject_events_json| safe}}, {{batches_json|safe}},{{events_json|safe}});
    $("#resources").select2();
    $("#batches").select2();

</script>
{%endblock%}
{% block content %}

<form id="event_form" class="event_form">
    <div class="select2_container single_select2">
        <select id="resources">
            <option disabled selected value=-1>Select the room </option>
            {% for resource in resources %}
            <option value="{{resource.id}}">{{resource}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="select2_container single_select2">
        <select id="batches">
            <option disabled selected>Select the batch </option>
            {% for batch in batches %}
                <option value="{{batch.id}}">{{batch}}</option>
            {% endfor %}
        </select>
    </div>
    <button type="button" id="cancel">cancel</button>
    <button type="button" id="aform">Submit</button>
</form>
<div class="table_and_card">
    <div class="card-container">
        <div class="card-list">
            {% for subject_event in subject_events %}
                {% if subject_event.lect_carried%}
                    <div class="draggable" subject_event_id="{{subject_event.id}}">
                        <article class="card" style="background-color:{{subject_event.Subject_id.color}}">
                            <header class="card-header">
                                <h2>{{subject_event.Subject_id}}</h2>
                            </header>
                            <div class="author-name">
                                By {{subject_event.Faculty_id}}
                            </div>
                        </article>
                    </div>
                {% endif %}
                {% if subject_event.prac_carried%}
                    <div class="draggable" subject_event_id="{{subject_event.id}}" is_prac="true">
                        <article class="card">
                            <header class="card-header">
                                <h2>{{subject_event.Subject_id}} prac</h2>
                            </header>
                            <div class="author-name">
                                By {{subject_event.Faculty_id}}
                            </div>
                        </article>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="container my_container my_table_new">
        <div class="row my_row row_header">
            <div class="col my_col align-middle">Time</div>
            {% for day in working_days %}
                <div class="col my_col">{{day.Days_id}}</div>
            {%endfor%}
        </div>
        {% for timing in timings %}
        <div class="row my_row" timing_id={{timing.id}}>
            <div class="col my_col lect">
                <p>
                    {{timing.name}}<br>
                    [{{timing.return_time()}}]
                </p>
            </div>
            {% if timing.is_break %}
                {% set len = working_days|length %}
                {% for day in working_days %}
                <div class="col my_col isBreak">
                    {%if loop.index==1%}
                        <div>
                            {{timing.name}}
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
            {% else %}
                {% for day in working_days %}
                    <div class="col my_col lect droppable"></div>
                {% endfor %}
            {% endif %}
        </div>
        {%endfor%}
        <div class="row my_row">
            <div class="col my_col lect">10:00</div>
            <div class="col my_col prac prac_above">
                <div class="container text-center">
                    <div class="row text-center">
                        <div class="col-4">
                            <div class="row">
                                <div class="col p-0 prac_texts batch_name pl-2">Batch-31</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                <button class="btn-sm btn-primary prac_mycol event_name">DBMS</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col p-0 prac_texts batch_name pl-2">Batch-31</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                <button class="btn-sm btn-primary prac_mycol event_name">DBMS</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col p-0 prac_texts batch_name pl-2">Batch-31</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                <button class="btn-sm btn-primary prac_mycol event_name">DBMS</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                                
            <div class="col my_col prac prac_below">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-4 batch_contents">
                            <div class="row">
                                <div class="col-12 p-0 pl-4 prac_texts faculty_name">URT</div>
                                <div class="col-12 p-0 pl-4 prac_texts resource_name">GG</div>
                            </div>
                        </div>
                        <div class="col-4 batch_contents">
                            <div class="row">
                                <div class="col-12 p-0 pl-4 prac_texts faculty_name">URT</div>
                                <div class="col-12 p-0 pl-4 prac_texts resource_name">GG</div>
                            </div>
                        </div>
                        <div class="col-4 batch_contents">
                            <div class="row">
                                <div class="col-12 p-0 pl-4 prac_texts faculty_name">URT</div>
                                <div class="col-12 p-0 pl-4 prac_texts resource_name">GG</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col my_col lect"></div>
            <div class="col my_col lect try_button"></div>
            <div class="col my_col prac">
                <div class="row p-2">
                    <div class="col-12">
                        <button class="btn btn-primary mt-1">Hello</button>
                    </div>
                    <div class="col-6 text-left">URT</div>
                    <div class="col-6 text-right">305</div>
                </div>
            </div>
        </div>
    </div>
</div>
{{csrf_input}}
<button onclick="submited() " class="btn-sm btn-primary">ksdJSDHkjdhadjhADH</button>
<div class='context-menu' style="display:none; position: absolute;">
<ul>
    <li><span class='clear_td'></span>&nbsp;<span class='clear_td'>Gainsboro </span></li>
    <li><span class='Orange'></span>&nbsp;<span>Orange</span></li>
    <li><span class='Plum'></span>&nbsp;<span>Plum</span></li>
</ul>
</div>
{%endblock%}