.main_content,html {
    background-color :#f1f4f6 !important;
    padding-top : 60px !important;
}

.form-control.myinputs,.input-group {
    border-top : none !important;
    border-right : none !important;
    border-left : none !important;
    border-bottom : 1px solid #ced4da !important;
    border-radius: 0 !important;
    outline : none !important;
    box-shadow: none !important;

}
.form-control.myinputs:focus {
    outline : none !important;

}
div.dataTables_wrapper div.dataTables_length select {
    width : 80px
}
.legend {
    position: absolute;
    top : -18px;
    background-color: transparent;
}

.input_icons {
    position: absolute;
    top : 1em; 
    height: 35px;
    width: 35px;
  }
.fas.fa-angle-double-right, .fas.fa-home {
  transform: translateY(-1px) !important;
  transform: translateX(3px) !important;
  font-size: 17px !important;
}
a{
  text-decoration:none !important
}
.form_hider {
  position: absolute;
  left: 96%;
  top : 4.5%;
  height: 30px;
  width: 30px;
  transition: .2s;
}
.form_hider:hover {
  transform: rotate(180deg);
  height: 35px;
  width: 35px;
  transition: .2s;
}
.form-check-input {
    width:1.5em !important;
    height:1.56em !important;
    outline:none !important;
    box-shadow: none !important;
  //   border : 1px solid #e12eca !important;
}
.form-check-input:checked {
  //   background-color : #e12eca !important;
}
.form-floating > label {
  // padding:1.5rem .75rem !important;
}
.color_palette_container {
  width: 100%;
  // display: grid;
  // grid-template-columns: repeat(auto-fit,50px);
  // column-gap: 1.4em;
}
.colors {
  height: 50px;
  width: 50px;
  border-radius: 7px;
  transition: .1s;
  margin-bottom: .6em;
  margin-right: 10px;
  border: none;
}

.colors:hover {
  transform: scale(1.3);
  transition: .1s;
  opacity: .8;
  border-radius: 30px;
  // border: 4px solid #fff;
}
.color_palette_container input {
display: none;
appearance: none;
}
.accordion-button {
  padding : .5rem 1.25rem !important;
  background-color : transparent !important;
}

.form-check {
  width : 10px;
  transform: translateX(30px);
}
.container.navigate {
  margin-left: 40px !important;
  transform: translateY(-30px);

}
.btn.btn-outline-success {
  color : #2dce89 !important;
  border-color: #2dce89 !important;
}
.btn.btn-outline-success:hover {
  background-color : #2dce89 !important;
  color : #fff !important
}
///////////Accordion Close and Open Button STARTS//////////////////
.accordion-button::after {
  background-image : url("../admin/details/img/minus.png") !important;
}
.accordion-button.collapsed::after {
  background-image : url("../admin/details/img/plus2.png") !important;
  transform : scale(1.7) !important;
}
.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
////////////Accordion Close and Open Button ENDS //////////////


////////////Subject Details <a> tag styling STARTS //////////////
.sub_event_go a{
  color : #0d6efd !important;
  text-decoration: underline !important;
}
////////////Subject Details <a> tag styling ENDS //////////////

@media screen and (max-width: 600px) {
  // .table {
  //   overflow-x: scroll;
  // }    
  .form-check {
    width : 10px;
    transform: translateX(10px);
  }
  tr.child {
    text-align: left;
  }
  .fas.fa-hashtag {
    font-size: 15px !important;
  }
}
