$body_container_color : #1e1e2e;
$form_color : #1e1e2e;

.whole_container {
    background-color: $body_container_color;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px 150px;
    transition: 3s;

  }
  .not_login {
    /*For all legends which are not login/register form */
    margin: 0 15%;
  }
   
  .myform {
    padding: 70px 0px;
    background-color: $form_color;
  }

  .input_container {
    border-bottom: 1px solid #fff;
    border-width: 1px;
    width: 60%;
    margin: 0 auto 1.7em auto;
    position: relative;
    transition: .1s;
    // background-color: red;
  }
  .short_names{
    text-transform: uppercase;
  }
  .input_icons {
    position: absolute;
    top : 1em;
    height: 25px;
    width: 25px;
  }
  .text{
    position: absolute;
    top : .8em;
    left: 1.7em;
    pointer-events: none;
    font-size: 22px;
    transition: .4s;
  }
  .form_input_label{
    transition: transform 0.25s ease-in-out;
  }

  .form_input:focus + .form_input_label .text,
  .form_input:valid + .form_input_label .text{
    top:-.7em;
    left: .5px;
    transition: .2s;
    color: rgb(185, 184, 184);
  }
  .form_input[type = "password"]:focus + .form_input_label .text,
  .form_input[type = "password"]:valid + .form_input_label .text{
    top:-.7em;
    left: .5px;
    transition: .2s;
    color: rgb(185, 184, 184);
  }

  :required{
    outline: none;
    box-shadow: none;
  }
  .form_input {
    position: relative;
    font-size: 19px;
    width: 87%;
    padding: 7px 5px 0px 4px;
    margin: 10px;
    padding-left: 1.4em;
    outline: none;
    border: none;
    background-color: transparent;
  }
  
  .toggle {
    height: 30px;
    width: 30px;
  }
  
  #hide1, #hide3 {
    display: none;
  }

  #other_form {
    display: none;
  }
  
  .submit_button_container {
    text-align: center;
    margin: 10px auto;
  }
  
  .submit_button {
    background: transparent;
    outline: none;
    border: 1px solid #e12eca;
    width: 60%;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
  }
  
  .submit_button:hover {
    background-color: #e12eca;
  }
  
  /*/////////////////////////DROPDOWN///////////////////////////////// */

  
  /*//////////////CHECKBOX////////////////*/
  .checkboxes input[type=checkbox] {
    display: none;
  }
  
  .checkboxes input[type=checkbox] + label {
    margin: 0.3em 0.2em;
    cursor: pointer;
    padding: 0.3em;
  }
  
  .checkboxes input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #fff;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.15em;
    padding-right: 0.11em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    color: transparent;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  .checkboxes input[type=checkbox] + label:active:before {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  
  .checkboxes input[type=checkbox]:checked + label:before {
    background-color: #e14eca;
    border-color: #e14eca;
    color: #fff;
  }
  

  /*# sourceMappingURL=form.css.map */