{% extends 'admin/base2.html' %}
{% block title%} Text Editor  {% endblock %}

{% block css%}
<style>

</style>
{% endblock %}

{%block scripts%}
<script type="application/javascript" src="{{static ('admin/details/dbtable.js') }}" charset="utf-8"></script>
<script src="https://cdn.tiny.cloud/1/mnysmecsn7ftskiu8a0d2nbi8nhdzh103xkk174oisnswore/tinymce/5/tinymce.min.js"
	referrerpolicy="origin"></script>
<script type="text/javascript">
	$(document).ready(function () {
		tinymce.init({
			selector: '#mytextarea'
		});
	});
</script>
{% endblock %}

{% block content %}
<div id="page_activator" activate-page="a"></div>
<div class="main_content">
	<div class="row p-2 ">
		<h1>TinyMCE Quick Start Guide</h1>
		<form method="post">
		  <textarea id="mytextarea" name="mytextarea">
			Hello, World!
		  </textarea>
		</form>
	</div>
	{% endblock %}