{% extends 'Table/base.html' %}
{% load static %}
	{% block title %}
	Login
	{% endblock %}

{% block css %}
<!-- <script type="text/javascript" src="nikal.js"></script> -->
<!-- <link rel="stylesheet" href="bs.min.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="index_css_final.css"> -->
<link rel="stylesheet" href="{% static 'login/login.css' %}">
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{%block content%}

<div class="div_main">

	<div class="div1">
	<img src="profile.png" class="div1_image"></img>
	</div>
	<div class="div2">
		<form method="post" name="form1" class="login-form">
		{% csrf_token %}
				<img src="man.png" class="avatar" id="av" onclick="avatr()"> </img>

				<table class="tab">
				<tr>
				<td class="heading">Login</td>
				</tr>

				<tr>
					<td>
						<input type="text" name="username" id="uname" placeholder="Username" pattern="[a-z0-9._%+-]{2,3,4,5,6,7,8,9,10}">
					</td>
				</tr>

				<tr>
					<td>
						<input type="password" name="password"  placeholder="Enter Password">
					</td>
				</tr>

			</table>
			<input type="submit" class="submit_but" value="Login"></input>
			<br>
			<font style="color:grey;font-family:algerian">Not a member?</font> <a href="{% url 'register' %}" class="a1">Sign up now</a>
		</form>
		<p style="color:red;font-family:algerian;font-size:20">
			{{form.errors}}
				{% for messsage in messages %}
					{{messsage}}
				{% endfor %}
		</p>
	</div>
</div>
{% endblock %}
