html {
    font-family: 'Poppins', sans-serif !important;
}
.fas.fa-angle-double-right, .fas.fa-home {
    transform: translateY(-1px) !important;
    transform: translateX(3px) !important;
    font-size: 17px !important;
    color : #333;
  }

  //For navpills in user dashboard
.user_dash .card .nav-pills .nav-link {
    // border : 1px solid rgb(185, 185, 185) !important;
}
.user_dash .card .nav-pills .nav-link.active {
    // background-color: rgb(218, 218, 218);
     background-color: transparent !important;
    color: blue !important;
    font-weight: 500;
}
.user_dash .card .nav-pills .nav-link:hover {
    // border-bottom : 1px solid rgb(185, 185, 185) !important;
    color : blue !important;
}