/* FUNCTIONAL - Needed for the tree diagram */
/* a {
  color : white !important;
} */
.navtree_wrapper {
  background-color:  #101820FF;
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow-x: auto;
  z-index: 200;
  /* opacity: .5; */
}
.data {
  text-decoration: none;
  color : white !important;
}

.not_data {
  color : white !important;
}
.noline label {
  color : white !important;
  font-family: 'Poppins', sans-serif !important;
}
.navtree_wrapper ul {
  position: relative;
  display: block;
  margin: 0 auto;
  white-space: nowrap;
  list-style: none;
}

.navtree_wrapper ul li {
  display: inline-block;
  vertical-align: top;
}

/* MAKE-UP - Pure esthetics */
.navtree_wrapper::-webkit-scrollbar{
  width: 0;
}
@media (min-width: 480px) {
  :root {
    font-size: calc(0.75rem + ((1vw - 4.8px) * 0.5556));
  }
}

@media (min-width: 1920px) {
  :root {
    font-size: 20px;
  }
}

.navtree_wrapper div:before, .navtree_wrapper div:after, .navtree_wrapper ul:before, .navtree_wrapper ul:after,.navtree_wrapper ul li:before, .navtree_wrapper ul li:after {
  content: '';
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 18px; 
}

body .navtree_wrapper .message {
  position: absolute;
  right: 0.5vw;
  bottom: 1vw;
  max-width: 30vw;
  font-size: 0.75vmin;
  font-family: 'Poppins', sans-serif !important;
  color: white !important;
}

body .navtree_wrapper .message a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #444;
}

body .navtree_wrapper .message a:hover {
  border-width: 3px;
}

body .navtree_wrapper ul > li {
  margin: 1em 0 0 -25px;
  padding: 1em;
  line-height: 1.5em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body .navtree_wrapper ul > li:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: grey;
}

body .navtree_wrapper ul > li:first-of-type:before {
  left: 50%;
  width: 50%;
}

body .navtree_wrapper ul > li:last-of-type:before {
  width: 50%;
}

body .navtree_wrapper ul > li:only-of-type:before {
  width: 10%;
  left: 45%;
}

body .navtree_wrapper ul > li.noline:before {
  background: transparent;
}

body .navtree_wrapper ul > li label:not(.active){
  padding: 0.5em 1em;
  border: 1px solid salmon;
  cursor: pointer;
}
.navtree_wrapper .active{
  padding: 0.5em 1em;
  border: 2px solid #cdeeed;
  /* background-color:#cdeeed; */
  cursor: pointer;
}
body .navtree_wrapper ul [type="checkbox"] {
  display: none;
}

body .navtree_wrapper ul .more {
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
  padding: 0;
  margin-left: 50%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

body .navtree_wrapper ul input:checked ~ ul * {
  opacity: 0;
  pointer-events: none;
  max-width: 1px;
  max-height: 1px;
  padding: 0;
}

body .navtree_wrapper ul input:checked ~ ul .more {
  opacity: 1;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin-top: -15px;
  margin-left: -15px !important;
  -webkit-transition: all 0.01s;
  transition: all 0.01s;
  color : white !important;
}

.navtree_wrapper .toggle_button{
  position: sticky;
  top: 87%;
  left: 50%;
  background: transparent;
  outline: none;
  color: white;
  border: none;
  padding: 5px;
  font-size: 20px;
  animation: updown 2s ease infinite;
}
.navtree_wrapper .toggle_button img{
  height: 40px !important;
  width: 50px !important;
}
.navtree_wrapper .toggle_button:hover{
  /* background-color: salmon; */
  transition: .5s;
}

@keyframes updown {
  0% {
    transform: translateY(-40%);
  }

  50% {
    transform: translateY(40%);
  }

  100% {
    transform: translateY(-40%);
  }
}
::-webkit-scrollbar {
	width: 7px;
	height: 10px;
}
/* ::-webkit-scrollbar-track {
	// border: 1px solid #262631;
	
} */
::-webkit-scrollbar-thumb {
	background-color: #515163;
	border-radius: 3px;
}
:root{
	/* scrollbar-color:#767692 #1f1f24 !important; */
	scrollbar-width: thin !important;
  }
