<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ADDButton</title>

  </head>
  <body>
    <div class="butcontainer" draggable="true">
      <table id="table_but">
        <thead>
        <tr>
          <th class="glitch">Buttons</th>
        </tr>
        </thead>
        <tbody class="tbooty">
        </tbody>
      </table>
      <!-- <button name="add" > <img src="plus1.png" class="addBut" alt="plus"> </button> -->
      <img src="plus1.png" class="addBut" alt="plus">
    </div>
  </body>
</html>
