<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ADDButton</title>
    <link rel="stylesheet" href="button.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="button.js" charset="utf-8"></script>
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
  </head>
  <body>
    <div class="butcontainer" draggable="true">
      <table>
        <thead>
        <tr>
          <th class="glitch">Buttons</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <!-- <button name="add" > <img src="plus1.png" class="addBut" alt="plus"> </button> -->
      <img src="plus1.png" class="addBut" alt="plus">
    </div>
  </body>
</html>
