{%extends 'Student/navbar.html'%}
{%block navbar_starts%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% block title %} {% endblock %} | Horarium</title>
	{# title block for printing the name of the page  #}
	<!-- css here -->
	{% block css %} 
	<link rel="stylesheet" href="{{static ('student/BootStrap/MyDash/Student/Student.css')}}" />
    <link rel="stylesheet" href="{{static ('student//BootStrap/MyDash/static/navbar.css')}}" />
    <link rel="stylesheet" href="{{static ('student//BootStrap/bootstrap.min.css')}}" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap')}}" rel="stylesheet"/>
	{% endblock %}
</head>
<body>
{%endblock%}

{%block navbar_ends%}
{% block content %}

{% endblock %}
{# content block for the main contents of the body #}
</body>
<!-- scripts here -->
{% block scripts %}
	<script src="{{static ('student//BootStrap/jquery.min.js')}}"></script>
    <script src="{{static ('student//BootStrap/bootstrap.min.js')}}"></script>
{% endblock %}
{# script block for all the scripts of the page #}
</html>
{% endblock %}

{# for any doubts see line 46 #}




























{# go fuck yourself bitch #}
