{% extends 'Student/base.html' %}
{% block title %} Student {% endblock %}
{% block content %}
    <style>
      body {
        font-family: "Montserrat", sans-serif;
      }
      #t1 {
        border: 1px solid white;
        text-align: center;
        width: 100%;
        table-layout: fixed;
      }
      #t1 th {
        border: 1px solid white;
        padding: 10px;
      }
      #t1 td {
        border: 1px solid white;
      }
      
      th:nth-of-type(1) {
        /*For first column of the table*/
        background-color: #08080e;
      }
      #t1 .card {
        background-color: transparent;
        /*border: 1px solid #fff;*/
        outline: none;
        margin: 2px;
      }
      .btn {
        width: auto;
        transition: 0.2s;
      }
      .btn:hover {
        opacity: 0.8;
        transition: 0.2s;
      }
    </style>
    
<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-lg-9 col-md-12 col-sm-12 pt-3">
      <table id="t1" class="table-responsive-sm table-responsive-md">
        <thead>
          <tr>
            <th><h6>Time</h6></th>
            {% for day in days %}
                <th><h6>
                {{day.Days_id}}
                </h6></th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for timing in timings %} <!--for all time periods in database-->
          <tr>
            {% if timing.is_break %}
              <th>
                <p>
                  {{timing.name}}<br>
                  [{{timing.return_time()}}]
                </p>
              </th>
              {% set len = days|length %}
              <th colspan="{{len}}" class = "isBreak">
                <h1>{{timing.name}}</h1>
              </th>
            {% else %}
              <th>
                <p>
                  {{timing.name}}<br>
                  [{{timing.return_time()}}]
                </p>
              </th>
              {% for day in days %}
              <td>
                {% for event in events %}
                  {% if event.Slot_id.day == day and event.Slot_id.Timing_id == timing %}
                  <div class="card p-1">
                    <span class="text-left">Batch-31</span>
                    <button class="btn m-2" style="background-color: {{event.Subject_event_id.Subject_id.color}}">
                      {{event.Subject_event_id.Subject_id}}
                    </button>
                    <div class="row">
                      <div class="col-6">
                        <span>{{event.Resource_id}}</span>
                      </div>
                      <div class="col-6">
                        <span>{{event.Subject_event_id.Faculty_id}}</span>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </td>
              {% endfor %}
            {% endif %}
          </tr>
        {% endfor %}
          <tr>
            <td>9:00-10:00</td>
            <td rowspan=2>
              <div class="card p-1">
                <span class="text-left">Batch-31</span>
                <button class="btn m-2" style="background-color: #7377a5">
                  AEM
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>DRD</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">
                <span class="text-left">Batch-31</span>
                <button class="btn m-2" style="background-color: #ffbf00">
                  DBMS
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">
                <span class="text-left">Batch-31</span>
                <button class="btn m-2" style="background-color: #00b3b3">
                  AC-2
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">
                <span class="text-left">Batch-31</span>
                <button class="btn m-2" style="background-color: #ff8080">
                  AC-3
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">
                <span class="text-left">Batch-31</span>
                <button class="btn m-2" style="background-color: #d65c7a">
                  AC-3
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">
                <span class="text-left">Batch-31</span>
                <button class="btn m-2" style="background-color: #66cc66">
                  AC-3
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>9:00-10:00</td>
            <td>
              <div class="card p-1">
                <span class="text-left">Batch-31</span>
                <button class="btn m-2" style="background-color: #33cccc">
                  AEM
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">
                <span class="text-left">Batch-31</span>
                <button class="btn m-2" style="background-color: #3333ff">
                  AC-3
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">
                <span class="text-left">Batch-31</span>
                <button class="btn m-2" style="background-color: #ff3333">
                  gg
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">
                <span class="text-left">Batch-31</span>
                <button class="btn m-2" style="background-color: #7377a5">
                  DS
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">
                <span class="text-left">Batch-31</span>
                <button class="btn m-2" style="background-color: #ffbf00">
                  AC-3
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">
                <span class="text-left">Batch-31</span>
                <button class="btn m-2" style="background-color: #00b3b3">
                  AC-3
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="card" id="agenda_panel">
        <nav
          class="nav navbar-expand-lg nav-tabs nav-fill"
          data-toggle="collapse"
          id="tabs"
        >
          <a class="nav-item nav-link active" href="#">Agenda</a>
          <a class="nav-item nav-link" href="#">Notification</a>
        </nav>
        <div class="container mt-3">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse
          nisi praesentium placeat hic eum dolorem, sunt repellendus beatae
          et enim odio ea, assumenda quod mollitia maxime aspernatur a
          minima laborum.
        </div>
        <div class="container mt-3">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse
          nisi praesentium placeat hic eum dolorem, sunt repellendus beatae
          et enim odio ea, assumenda quod mollitia maxime aspernatur a
          minima laborum.
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 
