{% extends 'Student/base.html' %}
{% block title %} Student {% endblock %}
{% block content %}
<style>

</style>

<div class="container-fluid pt-4">
  <div class="row">
    <div class="col-lg-9 col-md-12 col-sm-12 pt-3">
      <table id="t1" class="table-responsive-sm table-responsive-md">
        <thead>
          <tr>
            <th>Time</th>
            {% for day in days %}
                <th>
                {{day.Days_id}}
                </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {%set before=[]%}
        {% for timing in timings %} <!--for all time periods in database-->
          <tr>
            {% if timing.is_break %}
              <th>
                  {{timing.name}}<br>
                  [{{timing.return_time()}}]
              </th>
              {% set len = days|length %}
              <th colspan="{{len}}" class = "isBreak">
                <span class="h4">{{timing.name}}</span>
              </th>
            {% else %}
              <th>
                  <span class="h4">
                  {{timing.name}}<br>
                  [{{timing.return_time()}}]
                  </span>
              </th>
              {% for day in days %}
                {% if day not in before %}
                  {% set temp_event={'a':None} %}
                  {% for event in events %}
                    {% if event.Slot_id.day == day and event.Slot_id.Timing_id == timing %}
                      {% set _ = temp_event.update({'a':event}) %}
                    {% endif %}
                  {% endfor %}
                  {% if temp_event.a %} <!-- if there is an event-->
                      {% if temp_event.a.Slot_id_2 %}<!-- if there is practical event-->
                      {% set _ = before.append(day) %}
                        <td rowspan=2>
                          <div class="card p-1">
                            <button class="btn mr-2 ml-2 mt-1 mb-1" style="background-color: {{temp_event.a.Subject_event_id.Subject_id.color}}">
                              {{temp_event.a.Subject_event_id.Subject_id}}
                            </button>
                            <div class="row">
                              <div class="col-6">
                                <span>{{temp_event.a.Resource_id}}</span>
                              </div>
                              <div class="col-6">
                                <span>{{temp_event.a.Subject_event_id.Faculty_id}}</span>
                              </div>
                            </div>
                          </div>
                        </td>
                      {% else %}<!-- if there is lecture event-->
                        <td>
                          <div class="card p-1">
                            <button class="btn mr-2 ml-2 mt-1 mb-1" style="background-color: {{temp_event.a.Subject_event_id.Subject_id.color}}">
                              {{temp_event.a.Subject_event_id.Subject_id}}
                            </button>
                            <div class="row">
                              <div class="col-6">
                                <span>{{temp_event.a.Resource_id}}</span>
                              </div>
                              <div class="col-6">
                                <span>{{temp_event.a.Subject_event_id.Faculty_id}}</span>
                              </div>
                            </div>
                          </div>
                        </td>
                      {% endif %}
                  {% else %}            <!-- if there is no event-->
                    <td></td>
                  {% endif %}
                {% else %}
                  {% set _ = before.pop(before.index(day))%}
                {% endif %}
              {% endfor %}
            {% endif %}
          </tr>


          {% endfor %}
          <!-- <tr>
            <td>9:00-10:00</td>
            <td>
              <div class="card p-1">
                <span class="text-left">Batch-31</span>
                <button class="btn m-2" style="background-color: #7377a5">
                  AEM
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>DRD</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">

                <button class="btn m-2" style="background-color: #fdcb33">
                  DBMS
                </button>
                <div class="row">
                  <div class="col-6">
                    <span class="h6">301</span>
                  </div>
                  <div class="col-6">
                    <span class="h6">URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">
                <button class="btn m-2" style="background-color: #00b3b3">
                  AC-2
                </button>
                <div class="row">
                  <div class="col-6">
                    <span class="h6">301</span>
                  </div>
                  <div class="col-6">
                    <span class="h6">URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">
                <button class="btn m-2" style="background-color: #ff8080">
                  AC-3
                </button>
                <div class="row">
                  <div class="col-6">
                    <span class="h6">301</span>
                  </div>
                  <div class="col-6">
                    <span class="h6">URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">

                <button class="btn m-2" style="background-color: #ff81a0">
                  AC-3
                </button>
                <div class="row">
                  <div class="col-6">
                    <span class="h6">301</span>
                  </div>
                  <div class="col-6">
                    <span class="h6">URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">
                <button class="btn m-2" style="background-color: #66cc66">
                  AC-3
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>9:00-10:00</td>
            <td>
              <div class="card p-1">

                <button class="btn m-2" style="background-color: #33cccc">
                  AEM
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">

                <button class="btn m-2" style="background-color: #5252fc">
                  AC-3
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">

                <button class="btn m-2" style="background-color: #ff4141">
                  gg
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">

                <button class="btn m-2" style="background-color: #7377a5">
                  DS
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">

                <button class="btn m-2" style="background-color: #fdcb33">
                  AC-3
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">
                <button class="btn m-2" style="background-color: #00b3b3">
                  AC-3
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="card" id="agenda_panel">

          <a class="nav-item nav-link" style="color: black;text-decoration:underline" href="#">Notifications</a>
        <div class="container mt-3">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse
          nisi praesentium placeat hic eum dolorem, sunt repellendus beatae
          et enim odio ea, assumenda quod mollitia maxime aspernatur a
          minima laborum.
        </div>
        <div class="container mt-3">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse
          nisi praesentium placeat hic eum dolorem, sunt repellendus beatae
          et enim odio ea, assumenda quod mollitia maxime aspernatur a
          minima laborum.
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}