{% extends 'Student/base.html' %}
{% block title %} Student {% endblock %}

{% block scripts %}
<script>
  
  $(document).ready(function(){
    AOS.init({
        offset : 150,
    });
    (function() {
    //  let onpageLoad = localStorage.getItem("theme") || "";
    //  let element = document.body;
    //  element.classList.add(onpageLoad);
    //  if (localStorage.getItem("theme")=="dark"){
    //    console.log(localStorage.getItem("theme"));
    //    document.getElementById("dark").disabled = false;
    //  }
    //  else{
    //    console.log(localStorage.getItem("theme"));
    //  }
      let cookie = localStorage.getItem("theme") || "";
      if (cookie === "dark"){
        $("#slider1").prop("checked",true);
          // console.log("hi");
        toggle();
      }
    })(); 
});
function toggle() {
    var el1 = document.getElementById("light"),
      el2 = document.getElementById("dark");
    if (el1.disabled) {   // if dark
      localStorage.setItem("theme", "");
      el1.disabled = false;
      el2.disabled = "disabled";
    } else {              // if light
      el1.disabled = "disabled";
      el2.disabled = false;
      localStorage.setItem("theme", "dark");
    } 
}
  put_events({{ events_json | safe}}, {{ break_json | safe}});

</script>
{% endblock %}
{% block content %}
<div class="container-fluid pt-4" translate="no">
  <div id="myProgress" class="container text-center" data-aos="fade-up" data-aos-duration="1000">
    <div id="ct"></div>
    <div id="myBar"></div>
  </div>
  <!-- <div class="row container-fluid pl-5 pr-5" style="background-color: red;">
    <div class="col-6 text-left" style="background-color: green;">
      9:00:00
    </div>
    <div class="col-6 text-right" style="background-color: grey;">
      4:00:00
    </div>
  </div> --> 
  <div class="container text-center p-2 h5" id="text" data-aos="fade-up" data-aos-duration="1500">
  </div>
  <div class="container text-center p-2 h5" id="text2" data-aos="fade-up" data-aos-duration="2000">
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-12 col-sm-12 pt-3" data-aos="fade-down" data-aos-duration="2500">
      <table id="t1" class="">
        <thead>
          <tr>
            <th>Time</th>
            {% for day in days %}
            <th>
              {{day.Days_id}}
            </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {%set before=[]%}
          {% for timing in timings %}
          <!--for all time periods in database-->
          <tr>
            {% if timing.is_break %}
            <th>
              {{timing.name}}<br>
              [{{timing.return_time()}}]
            </th>
            {% set len = days|length %}
            <th colspan="{{len}}" class="isBreak" break_id="{{timing.id}}">
              <span class="h4">{{timing.name}}</span>
            </th>
            {% else %}
            <th>
              {{timing.name}}<br>
              [{{timing.return_time()}}]
            </th>
            {% for day in days %}
              {% if day not in before %}
                {% set temp_event={'a':None} %}
                {% for event in events %}
                  {% if event.Slot_id.day == day and event.Slot_id.Timing_id == timing %}
                    {% set _ = temp_event.update({'a':event}) %}
                  {% endif %}
                {% endfor %}
                {% if temp_event.a %}
                <!-- if there is an event-->
                {% if temp_event.a.Slot_id_2 %}
                <!-- if there is practical event-->
                {% set _ = before.append(day) %}
                <td class= "td_gone" rowspan="2" event_id = "{{temp_event.a.id}}">
                  <div class="card p-lg-1 p-sm-0 p-md-0" id="prac">
                    <button class="btn mr-lg-2 ml-lg-2 mt-lg-1 mb-lg-1 mr-sm-1 ml-sm-2 mt-sm-1 mb-sm-0"
                      style="background-color: {{temp_event.a.Subject_event_id.Subject_id.color}}"
                      onclick = "window.open('{{temp_event.a.link}}', '_blank')">
                      {{temp_event.a.Subject_event_id.Subject_id}}
                    </button>
                    
                    <div class="row">
                      <div class="col-lg-6 col-xs-12 col-sm-12 col-md-12">
                        <span>{{temp_event.a.Subject_event_id.Faculty_id}}</span>
                      </div>
                      {%if temp_event.a.Resource_id %}
                        <div class="col-lg-6 col-xs-12 col-sm-12 col-md-12">
                          <span>{{temp_event.a.Resource_id}}</span>
                        </div>
                      {%endif%}
                    </div>
                  </div>
                </td>
                {% else %}
                <!-- if there is lecture event-->
                <td class = "td_gone" event_id = "{{temp_event.a.id}}">
                  <div class="card p-lg-1 p-sm-0 p-md-0" id="lect">
                    <button class="btn mr-lg-2 ml-lg-2 mt-lg-1 mb-lg-1 mr-sm-1 ml-sm-2 mt-sm-1 mb-sm-0"
                      style="background-color: {{temp_event.a.Subject_event_id.Subject_id.color}}"
                      onclick = "window.open('{{temp_event.a.link}}', '_blank');">
                      {{temp_event.a.Subject_event_id.Subject_id}}
                    </button>
                    <div class="row">
                      <div class="col-lg-6 col-xs-12 col-sm-12 col-md-12">
                        <span>{{temp_event.a.Subject_event_id.Faculty_id}}</span>
                      </div>
                      {%if temp_event.a.Resource_id %}
                        <div class="col-lg-6 col-xs-12 col-sm-12 col-md-12">
                          <span>{{temp_event.a.Resource_id}}</span>
                        </div>
                      {%endif%}
                    </div>
                  </div>
                </td>
              {% endif %}
              {% else %}
              <!-- if there is no event-->
              <td></td>
              {% endif %}
              {% else %}
              {% set _ = before.pop(before.index(day))%}
              {% endif %}
            {% endfor %}
            {% endif %}
          </tr>


          {% endfor %}
          <!-- <tr>
            <td>9:00-10:00</td>
            <td class="td_active">
              <div class="card p-1">
                <span class="text-left">Batch-31</span>
                <button class="btn m-2" style="background-color: #7377a5">
                  AEM
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>DRD</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">

                <button class="btn m-2" style="background-color: #fdcb33">
                  DBMS
                </button>
                <div class="row">
                  <div class="col-6">
                    <span class="h6">301</span>
                  </div>
                  <div class="col-6">
                    <span class="h6">URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">
                <button class="btn m-2" style="background-color: #00b3b3">
                  AC-2
                </button>
                <div class="row">
                  <div class="col-6">
                    <span class="h6">301</span>
                  </div>
                  <div class="col-6">
                    <span class="h6">URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td class="td_active">
              <div class="card p-1">
                <button class="btn m-2" style="background-color: #ff8080">
                  AC-3
                </button>
                <div class="row">
                  <div class="col-6">
                    <span class="h6">301</span>
                  </div>
                  <div class="col-6">
                    <span class="h6">URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">

                <button class="btn m-2" style="background-color: #ff81a0">
                  AC-3
                </button>
                <div class="row">
                  <div class="col-6">
                    <span class="h6">301</span>
                  </div>
                  <div class="col-6">
                    <span class="h6">URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">
                <button class="btn m-2" style="background-color: #66cc66">
                  AC-3
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
          </tr> -->
          <!--<tr>
            <td>9:00-10:00</td>
            <td>
              <div class="card p-1">

                <button class="btn m-2" style="background-color: #33cccc">
                  AEM
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">

                <button class="btn m-2" style="background-color: #5252fc">
                  AC-3
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">

                <button class="btn m-2" style="background-color: #ff4141">
                  gg
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">

                <button class="btn m-2" style="background-color: #7377a5">
                  DS
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">

                <button class="btn m-2" style="background-color: #fdcb33">
                  AC-3
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card p-1">
                <button class="btn m-2" style="background-color: #00b3b3">
                  AC-3
                </button>
                <div class="row">
                  <div class="col-6">
                    <span>301</span>
                  </div>
                  <div class="col-6">
                    <span>URT</span>
                  </div>
                </div>
              </div>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 pt-3" data-aos="fade-up" data-aos-duration="1000">
      <div class="card" id="agenda_panel">

        <a class="nav-item nav-link" style="text-decoration:underline">Agenda</a>
        <div class="container mt-3" >
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse
          nisi praesentium placeat hic eum dolorem, sunt repellendus beatae
          et enim odio ea, assumenda quod mollitia maxime aspernatur a
          minima laborum.
        </div>
        <div class="container mt-3" >
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse
          nisi praesentium placeat hic eum dolorem, sunt repellendus beatae
          et enim odio ea, assumenda quod mollitia maxime aspernatur a
          minima laborum.
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->
  <button type="button" class="btn modal_btn" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h5 class="modal-title h4" id="exampleModalLabel">Feedback</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          

          {%for ques in questions %}
            <div class="h5 text-center" style="font-weight :bold;">{{ques}}</div>
            <div class="mt-3 mb-3">
            <label class="radio-inline" for="1">
              <input type="radio" id="1" value="" name="Q2">&nbsp;Strongly Agree
            </label>
            <label class="radio-inline" for="2">
              <input type="radio" value="" id="2" name="Q2">&nbsp;Agree
            </label>
            <label class="radio-inline" for="3">
              <input type="radio" value="" id="3" name="Q2">&nbsp;Neutral
            </label>
            <label class="radio-inline" for="4">
              <input type="radio" id="4" value="" name="Q2">&nbsp;Disagree
            </label>
            <label class="radio-inline" for="5">
              <input type="radio" value="" id="5" name="Q2">&nbsp;Strongly Disagree
            </label>
          </div>
          {%endfor%}
        </div>
        <div class="modal-footer">
          <div class="container">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" tabindex="-1">Previous</a>
              </li>
              <li class="page-item"><a class="page-link">1</a></li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item">
                <a class="page-link">Next</a>
              </li>
            </ul>
          </nav>
          </div>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="modal_btn btn">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>


{% endblock %}