@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.glitch {
  /* border-: 1px solid black; */
  /* position: relative; */
   /* margin: 70px 200px; */

  animation: glitch 2s 1s infinite;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 magenta;
  background: black;
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 lightgreen;
  background: black;
  overflow: hidden;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 3s 3s infinite;
}

@keyframes glitch {
  1%{
    transform: rotateX(10deg) skewX(90deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}

.main_container{
  margin-left : 20px;
  margin-top : 70px;
}

.butcontainer{
 /* background-image: linear-gradient(to left top, #0b0b0d, #0e0e0f, #101011, #121212, #141414); */
  background-color: #27293D;
  clear: right;
  float: left;
  align-items: center;
  color: white;
  border-radius: 10px;
}
#table_but{
  /* font-size: 30px; */
  border-spacing: 12px;
}
.butcontainer div{
	width: 140px;
	height: 80px;
	padding: 10px 10px 10px 10px;
	float: left;
	margin: 10px 10px 10px 10px;
 	background-color: yellow;
	border-radius: 10px;
	color : white;
}

.addRow{
  text-align: center;
  padding:0px 40px;
  margin: auto;
  border-radius: 10px;
  background-color: #333537;
  border: none;
  justify-content: center;
  display: flex;
}

.draggable {
	width: 140px;
	height: 80px;
	padding: 10px 10px 10px 10px;
	float: left;
	margin: 10px 10px 10px 10px;
 	background-color: yellow;
	border-radius: 10px;
  color : white;
}
.addBut{
  text-align: center;
  margin: auto;
  justify-content: center;
  display: flex;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border: none;
  width: 100px;
  transition: 0.7s;
}
.addBut:hover{

  transform: rotate(270deg);
  transition: 1s;
}
