{%extends 'admin/navbar.html'%}
{%block navbar_starts%}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock %} | Horarium</title>
	{# title block for printing the name of the page  #}
	{% block css %} {% endblock %}
	<link rel="stylesheet" href="{{static ('admin/base.css')}}">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> 
</head>
<body style="padding-top: 60px">
{%endblock%}

{%block navbar_ends%}
{% block content %}

{% endblock %}
{# content block for the main contents of the body #}
</body>
{% block scripts %}
{% endblock %}
{# script block for all the scripts of the page #}
</html>
{% endblock %}

{# for any doubts see line 46 #}




























{# go fuck yourself bitch #}
