{%extends 'admin/navbar2.html'%}
{%block navbar_starts%}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock %} | Horarium</title>
	{# title block for printing the name of the page  #}
	{% block css %} {% endblock %}
	<link rel="stylesheet" href="{{static ('main.css')}}">
	<link rel="stylesheet" href="{{static ('Bootstrap/bootstrap.min.css')}}">
</head>
<body style="padding-top: 0px">
{%endblock%}

{%block navbar_ends%}
{% block content %}

{% endblock %}
{# content block for the main contents of the body #}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="application/javascript" src="{{static ('cookie.min.js')}}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="application/javascript" src="{{static ('admin/navbar/navbar.js') }}" charset="utf-8"></script>
<script type="application/javascript" src="{{static ('select2.js')}}"></script>
<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous"></script>
<script type="application/javascript" src="{{static ('form/form.js')}}" charset="utf-8"></script>
<script type="application/javascript" src="{{static ('Bootstrap/bootstrap.min.js') }}"></script>
<script type="application/javascript" src="{{static ('Popper/popper.min.js') }}"></script>

{% block scripts %}{% endblock %}
{# script block for all the scripts of the page #}
</html>
{% endblock %}