{%block navbar_starts%}
{%endblock%}
    <link rel="stylesheet" href="{{static ('admin/navbar/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{static ('admin/navtree.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static ('admin/base.css')}}">
    <script src="{{static ('admin/navbar/navbar.js') }}" charset="utf-8"></script>
    <script src="{{static ('admin/jquery-3.5.1.js') }}"></script>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet"> -->

    <div class="nav_container">
    <nav class="navv" id="show_navbar">
      <div class="nav_items show_user">
        <a href="{{url ('logout')}}">Hi, {{request.user}}</a>
      </div>

      <div class="container ">
      <ul>
        <li class="nav_items"><a class="nav_a_tags" href="#">Contact Us</a></li>
        <li class="nav_items"><a class="nav_a_tags" href="#">About Us</a></li>
        <li class="nav_items"><a class="nav_a_tags" href="{{url ('table')}}">Your Tables</a></li>
        <li class="nav_items" onclick="toggle();"><a class="nav_a_tags" href="#">Nav Tree</a></li>
      </ul>
      </div>
    </nav>
  </div>

  <div class="wrapper scroll" id="show_tree" style="display:none;">
    <ul>
      <li class="noline">
        <label class = "not_data">{{institute}}</label>
        <ul>
          <li>
            <label for="a" class = "data active"><a href = {{url ('show_department')}}>Department Details</a></label>
          </li>
          {% for department in departments %}
            <li><label for="{{department}}">{{department}}</label><input id="{{department}}" type="checkbox" checked>
                <ul>
                  <span class="more">&hellip;</span>
                  <li>
                    <label for="{{department}}.a" class = "data"><a href = {{url ('show_branch' ,args=[department.id])}}>Branch Details</a></label>
                  </li>
                  <li>
                    <label for="{{department}}.b" class = "not_data"><a>Faculty</a></label>
                  </li>

                  {% for key1,values1 in branches.items() %}{% if key1 == department.id %}{% for value1 in values1 %}
                    <li><label for="{{department}}.{{value1}}">{{value1}}</label>
                    <input id="{{department}}.{{value1}}" type="checkbox" checked><ul>
                    <span class="more">&hellip;</span>
                    <li>
                      <label for="{{department}}.{{value1}}.a" class = "data"><a href = {{url ('show_semester' ,args=[value1.id])}}>Semester Details</a></label>
                    </li>
                      {% for key2,values2 in sems.items() %}{% if key2 == value1.id %}{% for value2 in values2 %}
                        <li><label for="{{department}}.{{value1}}.{{value2}}">{{value2}}</label>
                        <input id="{{department}}.{{value1}}.{{value2}}" type="checkbox" checked ><ul>
                        <span class="more">&hellip;</span>
                        <li>
                          <label for="{{department}}.{{value1}}.{{value2}}.a" class = "data"><a href = {{url ('show_division' ,args=[value2.id])}}>Division Details</a></label>
                        </li>
                        {% for key3,values3 in divs.items() %}{% if key3 == value2.id %}{% for value3 in values3 %}
                          <li><label for="{{department}}.{{value1}}.{{value2}}.{{value3}}">{{value3.name}}</label>
                          <input id="{{department}}.{{value1}}.{{value2}}.{{value3}}" type="checkbox" checked ><ul>
                          <span class="more">&hellip;</span>
                          <li>
                            <label for="{{department}}.{{value1}}.{{value2}}.{{value3}}.a" class = "not_data">Create table</label>
                          </li>
                          <li>
                            <label for="{{department}}.{{value1}}.{{value2}}.{{value3}}.b" class = "data"><a href = {{url ('show_batch' ,args=[value3.id])}}>Batch Details</a></label>
                          </li>
                            {% for key4,values4 in batches.items() %}{% if key4 == value3.id %}{% for value4 in values4 %}
                              <li><label for="{{department}}.{{value1}}.{{value2}}.{{value3}}.{{value4}}">{{value4}}</label>
                              <input id="{{department}}.{{value1}}.{{value2}}.{{value3}}.{{value4}}" type="checkbox" checked ><ul>
                              <span class="more">&hellip;</span>
                            </ul></li>{% endfor %}{% endif %}{% endfor %}
                        </ul></li>{% endfor %}{% endif %}{% endfor %}
                      </ul></li>{% endfor %}{% endif %}{% endfor %}
                    </ul></li>{% endfor %}{% endif %}{% endfor %}
                </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
    <button type="submit" name="button" onclick="toggle();" class="toggle_button"> <img src="{{static ('admin/details/img/arrow.png')}}" alt="arrow"> </button>
  </div>
{%block navbar_ends%}
{%endblock%}
