/* body{
	animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
} */
.main_table{
	border-collapse: collapse;
	margin-top: 10vh;
	margin-right: 10px;
	margin-left: auto;
	table-layout: fixed;
	border: 1px solid black;
}

.main_table th,.main_table td{
	table-layout: fixed;
	border: 1px solid black;
	height: 15vh;
	/*font-size: 25px;*/
	overflow: hidden;
	/*display: inline;*/
}

.draggable {
	width: 140px;
	height: 80px;
	padding: 10px 10px 10px 10px;
	float: left;
	display: inline-flex;
	margin: 10px 10px 10px 10px;
 	background-color: yellow;
	position: initial;
 	border-radius: 10px;
}

.save{
	width: 140px;
	height: 40px;
	border-radius: 10px;
	background-color: green;
}
