/* body{
	animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
} */
body{
	/* background-image: linear-gradient(to left top, #000000, #020101, #030203, #040305, #040407); */
	background-color: #1e1e2e;
}
.main_table{
	border-collapse: collapse;
	margin-top: 10vh;
	margin-right: 10px;
	margin-left: auto;
	table-layout: fixed;
}

.main_table th,.main_table td{
	table-layout: fixed;
	border: 2.5px solid #783673;
	height: 65px;
	color: white;
	overflow: hidden;
	/*font-size: 25px;*/
	/*display: inline;*/
}
.main_table tfoot:hover{
	background-color: #333537;
	/* width: 1000px;;
	transition: 1s;
	transition-property: initial; */
	/* transition-timing-function: ease-in; */
}
.draggable {
	width: 140px;
	height: 80px;
	padding: 10px 10px 10px 10px;
	float: left;
	margin: 10px 10px 10px 10px;
 	background-color: yellow;
	border-radius: 10px;
	color : white;
}
.table_time{
	font-size: 14px;
	text-align: center;
}
.save{
	width: 140px;
	height: 40px;
	color: white;
	font-size: 15px;
	border-radius: 10px;
	background-color: #9B2BD3;
	border: none;
}
.save :hover{
	background-color: #8D16C8;
}
