#myProgress {
  width: 95%;
  background-color: rgba(228, 228, 228, 0.815);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  margin-top: 1em;
  margin-bottom: 2em;
}
#myBar {
	width: 1%;
	height: 5px;
	background-color: #0084ff;
	border-radius: 10px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
#ct {
  text-align: right;
  top: -30px;
  left: 18px;
  position: absolute;
}
#round_ct {
	text-align: right;
	top: -30px;
	position: absolute;
}

#round_ct::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #0084ff;
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
  top: 23px;
}

#timeBar {
  width: 1%;
  height: 10px;
  text-align: right;
  top: 10px;
  position: absolute;
}

#timeBar .text {
  font-size: 15px;
  z-index: 10;
}

#timeBar:nth-child(odd) .text {
  position: absolute;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  margin-left: -37px;
}

#timeBar:nth-child(even) .text {
  position: absolute;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  margin-left: -37px;
}

.circles {
  position: absolute;
  height: 17px;
  width: 17px;
  top: -16px;
  -webkit-transform: translateX(-26px);
          transform: translateX(-26px);
  border-radius: 50%;
  background-color: white;
  border: 3px solid #0084ff;
  display: inline;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.circles:hover {
  background-color: #0084ff;
  border: 3px solid white;
}

#timeBar:nth-child(even) .circles::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 4px;
  background-color: #0084ff;
  height: 25px;
  width: 3px;
}

#timeBar:nth-child(odd) .circles::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 4px;
  background-color: #0084ff;
  height: 13px;
  width: 3px;
}

#timeBar_left {
  width: 1%;
  height: 10px;
  text-align: right;
  top: 10px;
  left: -12px;
  position: absolute;
}

#timeBar_right {
  width: 1%;
  height: 10px;
  text-align: right;
  top: 10px;
  left: 98.5%;
  position: absolute;
}



#myProgress::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: -7px;
  left: -5px;
  background-color: #0084ff;
  border-radius: 50%;
}

#myProgress:hover::before {
  border: 3px solid #0084ff;
  background-color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#myProgress::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: -7px;
  left: 99%;
  background-color: #0084ff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
}

#myProgress:hover::after {
  border: 3px solid #0084ff;
  background-color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  left: 99%;
}

@media (min-width: 600px) and (max-width: 1024px) {
  #myProgress {
    font-size: 13px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #timeBar .text {
    margin-top: 2px;
    font-size: 13px;
  }
  #timeBar:nth-child(even) .text {
    position: absolute;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    margin-left: -33px;
  }
  #timeBar:nth-child(odd) .text {
    position: absolute;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    margin-left: -37px;
  }
}

@media screen and (max-width: 600px) {
  #myBar {
    height: 3px;
  }
  #ct::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #0084ff;
    -webkit-transform: translateX(-16px);
            transform: translateX(-16px);
    top: 16px;
  }
  #round_ct::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #0084ff;
    -webkit-transform: translateX(-16px);
            transform: translateX(-16px);
    top: 16px;
  }
  #myProgress {
    font-size: 10px;
    height: 2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #myProgress::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: -5px;
    left: -1px;
    background-color: #0084ff;
    border-radius: 50%;
  }
  #myProgress::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: -5px;
    left: 99%;
    background-color: #0084ff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 50%;
  }
  #timeBar .text {
    display: none;
  }
  .circles {
    position: absolute;
    height: 8px;
    width: 8px;
    top: -13px;
    -webkit-transform: translateX(-16px);
            transform: translateX(-16px);
    border-radius: 50%;
    background-color: white;
    border: 2px solid #0084ff;
    display: inline;
  }
  #timeBar:nth-child(even) .circles::after, #timeBar:nth-child(odd) .circles::after {
    display: none;
  }
  #ct {
    text-align: right;
    top: -20px;
    left: 14px;
    position: absolute;
  }
  #round_ct {
    text-align: right;
    top: -20px;
    left: 14px;
    position: absolute;
  }
  
}
/*# sourceMappingURL=progress_bar.css.map */