{% extends 'admin/base.html' %}
{% block title %}Division{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{{static ('admin/details/dbtable.css')}}">
    <link rel="stylesheet" href="{{static ('form/form.css')}}">
{% endblock css %}
{% block scripts %}
    <script src="{{static ('admin/details/dbtable.js')}}" charset="utf-8"></script>
    <script src="{{static ('form/form.js')}}" charset="utf-8"></script>
{% endblock scripts %}

{% block content %}
<div class="whole_container" id="whole_container_id">
  <fieldset>
    <legend class="not_login">Add Division</legend>
    <form class="myform" method = "POST">
      {{csrf_input}}
      <div class="input_container">
        {{user_form.first_name}}
      </div>
      <div class="input_container">
        {{user_form.last_name}}
      </div>
      <div class="input_container">
        {{faculty_detail_form.short}}
      </div>
      <div class="input_container">
        {{user_form.email}}
      </div>
      <div class="input_container">
        {{faculty_load_form.total_load}}
      </div>
      <div class="input_container">
        {{user_form.password1}}
      </div>
      <div class="input_container">
        {{user_form.password2}}
      </div>
        {{faculty_detail_form.Shift_id}}
      <div class="submit_button_container">
        <button type="submit" name="button" class="submit_button" onclick="">Submit</button>
      </div>
    </form>
    hii
    {{errors}}
  </fieldset>
</div>

<script>
  var form = document.getElementsByClassName('myform')[0];
  var form_fields = form.getElementsByTagName('input');

  for (var field in form_fields){	
    form_fields[field].className += 'form_input';
  }

  form_fields[1].placeholder='First Name';
  form_fields[2].placeholder='Last Name';
  form_fields[3].placeholder='Short';
  form_fields[4].placeholder='Email';
  form_fields[5].placeholder='Load';
  form_fields[6].placeholder='Enter password';
  form_fields[7].placeholder='Re-enter Password';


</script>
{%endblock%}
