{% extends 'admin/base2.html' %}
{% block title%} Home2
{% endblock %}

{% block css%}

<style>
    td,th{
        font-size: .9rem !important;
    }
</style>
{% endblock %}

{%block scripts%}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.24/b-1.7.0/fh-3.1.8/r-2.2.7/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.24/b-1.7.0/fh-3.1.8/r-2.2.7/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        var table = $('#example').DataTable( {
            responsive: true
        } );
    
    } );
</script>
{% endblock %}

{% block content %}
<div class="card border-light shadow-sm mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded" id="example">
                <thead class="thead-light">
                    <tr>
                        <th class="border-0">#</th>
                        <th class="border-0">Traffic Source</th>
                        <th class="border-0">Source Type</th>
                        <th class="border-0">Category</th>
                        <th class="border-0">Global Rank</th>
                        <th class="border-0">Traffic Share</th>
                        <th class="border-0">Change</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Item -->
                    <tr>
                        <td class="border-0"><a href="#" class="text-primary fw-bold">1</a> </td>
                        <td class="border-0 fw-bold"><span class="icon icon-xs icon-gray w-30"><span class="fas fa-globe-europe"></span></span>Direct</td>
                        <td class="border-0">
                            Direct
                        </td>
                        <td class="border-0">
                           - 
                        </td>
                        <td class="border-0">
                           --
                        </td>
                        <td class="border-0">
                            <div class="row d-flex align-items-center">
                                <div class="col-12 col-xl-2 px-0">
                                    <div class="small fw-bold">51%</div>
                                </div>
                                <div class="col-12 col-xl-10 px-0 px-xl-1">
                                    <div class="progress progress-lg mb-0">
                                        <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="51" aria-valuemin="0" aria-valuemax="100" style="width: 51%;"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="border-0 text-success">
                            <span class="fas fa-angle-up"></span>                                   
                            <span class="fw-bold">2.45%</span>
                        </td>
                    </tr>
                    <!-- End of Item -->

                    <!-- Item -->
                    <tr>
                        <td><a href="#" class="text-primary fw-bold">2</a> </td>
                        <td class="fw-bold"><span class="icon icon-xs icon-info w-30"><span class="fab fa-google"></span></span>Google Search</td>
                        <td>
                            Search / Organic
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                           --
                        </td>
                        <td>
                            <div class="row d-flex align-items-center">
                                <div class="col-12 col-xl-2 px-0">
                                    <div class="small fw-bold">18%</div>
                                </div>
                                <div class="col-12 col-xl-10 px-0 px-xl-1">
                                    <div class="progress progress-lg mb-0">
                                        <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100" style="width: 18%;"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="text-success">
                            <span class="fas fa-angle-up"></span>                                   
                            <span class="fw-bold">17.67%</span>                             
                        </td>
                    </tr>
                    <!-- End of Item -->

                    <!-- Item -->
                    <tr>
                        <td><a href="#" class="text-primary fw-bold">3</a> </td>
                        <td class="fw-bold"><span class="icon icon-xs icon-danger w-30"><span class="fab fa-youtube"></span></span> youtube.com</td>
                        <td>
                            Social
                        </td>
                        <td>
                            <a class="small fw-bold" href="#">Arts and Entertainment</a>
                        </td>
                        <td>
                           #2
                        </td>
                        <td>
                            <div class="row d-flex align-items-center">
                                <div class="col-12 col-xl-2 px-0">
                                    <div class="small fw-bold">18%</div>
                                </div>
                                <div class="col-12 col-xl-10 px-0 px-xl-1">
                                    <div class="progress progress-lg mb-0">
                                        <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100" style="width: 18%;"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            -                                
                        </td>
                    </tr>
                    <!-- End of Item -->

                    <!-- Item -->
                    <tr>
                        <td><a href="#" class="text-primary fw-bold">4</a> </td>
                        <td class="fw-bold"><span class="icon icon-xs icon-purple w-30"><span class="fab fa-yahoo"></span></span> yahoo.com</td>
                        <td>
                            Referral
                        </td>
                        <td>
                            <a class="small fw-bold" href="#">News and Media</a>
                        </td>
                        <td>
                           #11
                        </td>
                        <td>
                            <div class="row d-flex align-items-center">
                                <div class="col-12 col-xl-2 px-0">
                                    <div class="small fw-bold">8%</div>
                                </div>
                                <div class="col-12 col-xl-10 px-0 px-xl-1">
                                    <div class="progress progress-lg mb-0">
                                        <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="8" aria-valuemin="0" aria-valuemax="100" style="width: 8%;"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="text-danger">
                            <span class="fas fa-angle-down"></span>                                   
                            <span class="fw-bold">9.30%</span>                                 
                        </td>
                    </tr>
                    <!-- End of Item -->

                    <!-- Item -->
                    <tr>
                        <td><a href="#" class="text-primary fw-bold">5</a> </td>
                        <td class="fw-bold"><span class="icon icon-xs icon-info w-30"><span class="fab fa-twitter"></span></span> twitter.com</td>
                        <td>
                            Social
                        </td>
                        <td>
                            <a class="small fw-bold" href="#">Social Networks</a>
                        </td>
                        <td>
                        #4
                        </td>
                        <td>
                            <div class="row d-flex align-items-center">
                                <div class="col-12 col-xl-2 px-0">
                                    <div class="small fw-bold">4%</div>
                                </div>
                                <div class="col-12 col-xl-10 px-0 px-xl-1">
                                    <div class="progress progress-lg mb-0">
                                        <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100" style="width: 4%;"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            -                                
                        </td>
                    </tr>
                    <!-- End of Item -->
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}