{%block login_navbar_starts%} {%endblock%}
{% block css %} 
    <style>
/*        a {
            outline: none;
            border: none;
            text-decoration: none;
            color: white;
          }
          a:hover {
            color : white;
          }*/
    </style>
{% endblock %}
<!-- content here -->
<!-- <nav id="navbar" class="navbar navbar-expand-lg sticky-top"
  style="padding: 0.1rem 1rem;background-color:#101820FF">
  <a class="navbar-brand" style="font-size : 25px;" id="navbar-brand">Horarium</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto"> -->
<!-- <li class="nav-item">
        <a class="nav-link">About Us</a>
      </li> -->
<!-- </ul>
  </div>
</nav>  -->

<div class="nav_container">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #101820ff">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-family: 'Poppins', sans-serif"> 
          Horarium
        <!-- <img src="{{static ('logo/clock_for_black_background.svg') }}" alt="" style="width:60px;height:60px"> -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item">
                <a class="active nav-link s">About Us</a>
            </li> -->
        </ul>
      </div>
    </div>
  </nav>
</div>
{%block login_navbar_ends%} {%endblock%}
