{%extends 'login_V2/login_navbar.html'%}
{%block login_navbar_starts%}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock %} | Horarium</title>
	{# title block for printing the name of the page  #}
	{% block css %} {% endblock %}
	<link rel="stylesheet" href="{{static ('student/base.css')}}">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="{{static ('student/navbar/navbar.css')}}" />
</head>
<body>
{%endblock%}

{%block login_navbar_ends%}
{% block content %}

{% endblock %}
{# content block for the main contents of the body #}
</body>
<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script type="application/javascript" src="{{static ('student/navbar/navbar.js') }}"></script>
{% block scripts %}
{% endblock %}
{# script block for all the scripts of the page #}
</html>
{% endblock %}