<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Card</title>
    <link rel="stylesheet" href="card.css">
  </head>
  <body>
    <section class="card-list">
      <article class="card">
        <header class="card-header">
          <h2>DBMS</h2>
          <p></p>
        </header> 
        <div class="card-author">
          <img src="man2.png" alt="plus">
        </div>
        <div class="author-name">
          Author URT
        </div>
      </article>

      <article class="card">
        <header class="card-header">
          <h2>DS</h2>
          <p></p>
        </header>
        <div class="card-author">
          <img src="man2.png" alt="plus">
        </div>
        <div class="author-name">
          Author US
        </div>
      </article>

      <article class="card">
        <header class="card-header">
          <h2>AEM</h2>
          <p></p>
        </header>
        <div class="card-author">
          <img src="man2.png" alt="plus">
        </div>
        <div class="author-name">
          Author DD
        </div>
      </article>

      <article class="card">
        <header class="card-header">
          <h2>OOP</h2>
          <p></p>
        </header>
        <div class="card-author">
          <img src="man2.png" alt="plus">
        </div>
        <div class="author-name">
          Author AT
        </div>
      </article>
    </section>
  </body>
</html>
