{% extends 'Table/base.html' %}
{% load static %}
{% block title %}
Table
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{%static 'index.css'%}">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css">
<link rel="stylesheet" href="{%static 'table/button.css'%}">

{% endblock %}

{% block content %}

<p>
 <!-- Welcome,{{request.user}} -->
 <a href = "{% url 'logout' %}">logout </a>
 <!-- <a href = "{% url 'day_form' %}">day select</a> -->
</p>

{% comment %} button table {% endcomment %}

<div class="main_container">
	<div class="butcontainer" draggable="true">
		<table id="table_but">
			<thead>
			</thead>
			<tbody class="tbooty">
				{% for event_butt in event_butts %}
					<tr><td>
						<div pk = "{{event_butt.id}}" class = "draggable" name = "{{event_butt.event_name}}" color = "{{event_butt.event_color}}" event_link = "{{event_butt.event_link}}"style = "background-color: {{event_butt.event_color}}">
							{{event_butt.event_name}}
						</div>
					</td></tr>
				{% endfor %}
			</tbody>
		</table>
		<!-- <button name="add" > <img src="plus1.png" class="addBut" alt="plus"> </button> -->
		<img src="{% static 'plus1.png' %}" class="addBut" alt="plus">
	</div>
</div>

{% comment %} main table {% endcomment %}
<table style = "width:{{table_width}}px;" class="main_table">
	<thead>
		<th>
			Time
		</th>
		{% for day in days %}
			<th>
				{{day}}
			</th>
		{% endfor %}
	</thead>
	<tbody>
		{% for period in periods %}
			<tr>
				<th pk = "{{period.id}}">
					<p>
						{{period}}
					</p>
				</th>
				{% for day in days %}
					<td class = "droppable" name = "NONE" day = "{{day}}"></td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
{% for event in events %}
	<script>
		abc = document.getElementById("{{event.day}} {{event.time_obj.id}}");
		console.log(abc)
	</script>
{% endfor %}
<center><button class = "save">Save</button></center>

{% endblock %}

{% block scripts %}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script type="text/javascript" src="{%static 'index.js'%}"></script>
<script type="text/javascript" src="{%static 'tabletojson/tabletojson.js'%}"></script>
<script type="text/javascript" src="{%static 'tabletojson/tabletojson-row.js'%}"></script>
<script type="text/javascript" src="{%static 'tabletojson/tabletojson-cell.js'%}"></script>
{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> {% endcomment %}
{% comment %} <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> {% endcomment %}
{% comment %} <script src="{% static 'table/button.js'%}"></script> {% endcomment %}

{% endblock %}
